<div ng-controller="BlogCtrl" ng-init="getBlogPosts(readLimit)" style="display: block; height: 100%; background-color: #ffffff; border: 1px solid #888888; padding: 10px">
	<div style="display: block; width: 100%">
		Title: <input class="input-xxlarge" type="text" ng-model="post.title" size="90" placeholder="Enter the title here">
		<img ng-show="isLoading()" src="/assets/images/status/loading.gif">
	</div>
	<div style="display: block; width: 100%">
		<textarea ng-model="post.body" style="width: 100%; height: 225px" placeholder="Enter the description here"></textarea>
		<div style="display: block; width: 100%">
			<button style="float: left" ng-click="post = {}">Cancel</button>
			<button ng-show="post._id" style="float: right" ng-click="updateBlogPost(post)">Update</button>
			<button ng-hide="post._id"style="float: right" ng-click="createBlogPost(post)">Save</button>
		</div>
	</div>
	
	<!--  error message -->
	<div ng-hide="message == ''" class="error" style="display: block; width: 100%">
		<img src="/assets/images/status/alert.gif"> {{message}}
	</div>
	
	<div style="display: block; width: 100%">
		<fieldset>
			<legend>Blog Postings</legend>
			<div style="width: 100%; height: 250px">
				<table style="width: 100%">					
					<tr><td>								
						<!--  header section -->
						<table style="width: 100%">
							<tr>
								<th class="hist" style="width: 60%; text-align: left">Title</th>	
								<th class="hist" style="width: 18%; text-align: left">Author</th>		
								<th class="hist" style="width: 22%; text-align: center">Created</th>
							</tr>
						</table>
					</td></tr>
				
					<tr><td>		
						<div class="filterContainer">
							<table style="width: 100%">
								<tr ng-repeat="post in posts" ng-class-even="'even'" ng-class-odd="'odd'">	
									<td class="qm" style="width: 60%">
										<a href="" ng-click="removeBlogPost(post._id.$oid)"><img src="/assets/images/buttons/delete.png"></a>
										<a href="" ng-click="getBlogPost(post._id.$oid)">{{ post.title }}</a>
									</td>
									<td class="qm" style="width: 18%">{{ post.author }}</td>
									<td class="qm" style="width: 22%; text-align: center">{{ post.creationTime | date:'MM/dd/yyyy hh:mma' }}</td>
								</tr>
							</table>
						</div>
					</td></tr>
				</table>
			</div>
		</fieldset>
	</div>
</div>