fieldset.contest {

}

legend.contest {
	margin-bottom: 10px;
}

.game_title {
	color: #1090ff;
}

img.avatar {
	width: 16px;
	height: 16px;
	margin-right: 3px
}

img.avatar24 {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	border-radius: 3px 3px 3px 3px;
	margin-right: 3px
}

img.participant_gang {
	border-radius: 5px 5px 5px 5px;
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 0px;
}

img.no_picture_gang {
	border-radius: 5px 5px 5px 5px;
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 0px;
	width: 50px;
	height: 50px;
}

img.playerAvatar {
	border-radius: 5px 5px 5px 5px;
}

img.spectatorAvatar {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #cccccc;
}

img.spectator {
	width: 16px;
	height: 16px;
	margin-right: 3px
}

img.gamerCard {
	width: 75px; 
	height: 75px; 
	margin: 3px; 
	border-radius: 5px 5px 5px 5px
}

img.gamerPic {
	width: 45px; 
	height: 45px; 
	margin: 3px; 
	border-radius: 5px 5px 5px 5px
}

img.locked {
	vertical-align: middle
}

.gameline {
	display:block; 
	border: 1px solid #eedd99; 
	border-radius: 4px;
	width: 100%; 
	background-color: #ffeeaa; 
	color: #000080;
	font-size: 12pt; 
	font-weight: bold;
	text-align: center
}

.facebook {
	border: 1px solid #004499;
	background-color: #0055aa;
	color: #ffffff;
	font-weight: bold;	
	border-radius: 5px 5px 5px 5px;
	padding: 1px 2px 1px 2px
}

.highlighted_game {
	background-color: #ffff00;
	border: 1px solid #dddd00;
	border-radius: 4px 4px 4px 4px;
}

.contest_left_side {
	display: inline;
	float: left;
	width: 275px;
}

.contest_right_side {
	display: inline; 
	float: right;
	width: 745px; 
}

.contest_status_bar {
	background-color: #dddddd;
	border: solid 1px #888888;
	border-radius: 5px 5px 5px 5px;
	width: 100%;
	height: 25px; 
}

div.header_bar {
	display: block; 
	border: 1px solid #888888;
	width: 100%; 
	height: 24px; 
	background-color: #dddddd; 
	color: #000000; 
	margin-bottom: 5px
}

div.availGamesContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

div.myAwardsContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

div.myPerksContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

div.myGamesContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 285px;
}

div.gamesSearchContainer {
	background-color: white;
	clear: both;
	overflow: auto;	
	width: auto;
	height: 550px;
}

div.gamesQuickSearchContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 285px;
}

.gs_left {
	text-align: left;
}

.gs_right {
	text-align: left;
}

.gs_icon {
	width: 20px;
}

div.mySymbolsContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 180px;
}

div.friendsContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

div.leaderboardContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 190px;
}

.start_game {
	background-color: #00ff00;
	color: #000000;
	font-size: 10pt;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.new_game {
	background-color: #00cc00;
	font-size: 11pt;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.cancel_button {
	background-color: #ffaa00;
	font-size: 11pt;
	border-radius: 4px;
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

button.contest_create {
    background:url('/assets/images/buttons/new_item.png') no-repeat;
    background-color: #ffff00;
	font-weight: normal;
	text-align: right;
	color: #000000;	
	cursor: pointer;

	text-indent: +8px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

button.create_new {
    background:url('/assets/images/buttons/new_item.png') no-repeat;
    background-color: #ffaa00;
	font-weight: normal;
	text-align: right;
	color: #000000;
	cursor: pointer;

	text-indent: +8px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;

    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.join_game {
	background-color: #55bbff;
	font-weight: normal;
	text-align: right;
	color: #ffffff;
	cursor: pointer;

	/* text-indent: +8px; */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #20538D;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}
	
.quit_game {
    background-color: #dd4422;
	font-weight: normal;
	text-align: right;
	color: #ffff00;	
	cursor: pointer;

	/* text-indent: +8px; */
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.delete_game {
	background-color: #dd4422;
	font-weight: normal;
	text-align: right;
	color: #ffff00;
	cursor: pointer;

	/* text-indent: +8px; */
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	border: solid 1px #20538D;

	text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	-moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.search_game {
    background-color: #40ff40;
	font-weight: normal;
	text-align: right;
	color: #000000;	
	cursor: pointer;

	text-indent: +8px;
	-webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border: solid 1px #20538D;
    
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.4), 0 1px 1px rgba(0, 0, 0, 0.2);
}

.block_full {
	display: block; 
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.mini {
	font-size: 9pt
}

#previewButton {	
	background:url('/assets/images/buttons/cart.png') no-repeat;
	text-align: left;
	text-indent: +8px;
	margin-top: 5px;
}
