<script type="text/ng-template" id="invite_player_dialog.htm">
    <div class="modal-header">
        <h3>Send Game Invite(s)</h3>
    </div>
    <div class="modal-body">
        <div class="gameline">
            {{ getInvitedCount() }} Friend(s) Selected
        </div>
        <div style="display: inline; float: left; width: 60%">
            <div class="friendsContainer">
                <table style="width: 100%">
                    <tr ng-repeat="friend in MySession.fbFriends">
                        <td>
                            <input type="checkbox" ng-model="invites[$index]">
                            <avatar id="{{ friend.id }}" style="width: 16px; height: 16px" />
                            {{ friend.name }}
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <div style="display: inline; float: right; width: 40%">
            <textarea style="width: 200px; height: 200px">Come play with us!</textarea>
        </div>
        <br style="clear: both">
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" ng-click="ok()">Send</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
