<div ng-hide="contest._id" class="spectator_message" style="display: block; width: 100%">
	<div ng-include src="'/assets/views/play/no_contest_selected_dash.htm'"></div>
</div>
<div ng-if="contest._id" style="background-color: #ffffff; width: 100%; height: 550px">
	<div style="display:block; border: 1px solid #dddddd; border-radius: 4px 4px 4px 4px; margin-top: 5px">
		<table style="width: 100%; margin-bottom: 5px">
			<tr style="background-color: #dddddd">
				<th class="det"><span style="padding-left: 8px">Created By</span></th> 
				<th class="det">Date Created</th> 
				<th class="det">Initial Funds</th> 
				<th class="det">Status</th> 
				<th class="det">Started</th>
				<th class="det">Ends</th> 
			</tr>
			<tr>
				<td class="det">
					<span style="padding-left: 8px">
						<avatar id="{{ contest.creator.facebookID }}" style="width: 20px; height: 20px" />
						<a href="" ng-click="loadGamerCard(contest.creator)">{{ contest.creator.name }}</a>
					</span>
				</td>
				<td class="det">{{ contest.creationTime | date:'MMM dd hh:mma' }}</td>
				<td class="det">${{ contest.startingBalance | number }}</td>		
				<td class="det"><span ng-class="contestStatusClass(contest)">{{ contest.status }}</span></td>
				<td class="det">
					<span ng-show="contest.startTime">{{ contest.startTime | date:'MM/dd/yy' }}</span>
					<span ng-hide="contest.startTime">&#8212;</span>
				</td>
				<td class="det">
					<span ng-show="contest.expirationTime">{{ contest.expirationTime | date:'MM/dd/yy' }}</span>
					<span ng-hide="contest.expirationTime">&#8212;</span>
				</td>
			</tr>		
		</table>
	
		<div ng-show="contest.status == 'ACTIVE'" style="display: block; width: 100%; padding: 2px 2px 2px 2px">
			<!-- 'Join' option -->
			<div style="display: inline; float: left">
				<button ng-show="authenticated && contest.playerCount < contest.maxParticipants && !joinedParticipant(contest, MySession.userProfile)"
						ng-click="joinGame()"
						class="joinButton">Join Game</button>
			</div>
			
			<!-- 'Quit' or 'Delete' option -->
			<div style="display: inline; float: right">
				<button ng-show="contest.creator.name == MySession.userProfile.name"
						ng-click="deleteGame(contest)"
						class="quitButton">Delete Game</button>

				<button ng-show="contest.creator.name != MySession.userProfile.name && joinedParticipant(contest, MySession.userProfile)"
						ng-click="quitGame()"
						ng-disable="quitingGame"
						class="quitButton">Quit Game</button>

				<img ng-show="quitingGame" src="/assets/images/status/loading.gif">
				<img ng-hide="quitingGame" src="/assets/images/status/transparent.png">
			</div>
			<br style="clear: both">
		</div>
	</div>
	
	<div style="display: block; width: 100%; margin-top: 5px" ng-repeat="p in contest.rankings">
		<div ng-class="p.name ? 'rank_cell_player' : 'rank_cell_spectator'" ng-class-odd="'rank_cell_even'" ng-class-even="'rank_cell_odd'">
			<div style="display: inline; float: left">
				<avatar id="{{ p.facebookID }}" style="margin: 3px; width: 45px; height: 45px" />
			</div>
			<div style="display: inline">
				<div style="display: block">
					<span ng-class="'rank_' + p.rank">{{ p.rank }} <span class="null">&#8212;</span>  
						<a ng-show="p.name" style="color: #0000ff" href="" ng-click="showGamerCard(p.name)">{{ p.name }}</a>
						<span ng-hide="p.name" style="color: #00a044">
							Open/Available 
							<button class="invite"
									ng-show="joinedParticipant(contest, MySession.userProfile)"
									style="float: right; margin-right: 20px"
									ng-click="popupInvitePlayerDialog(p)">Invite</button>

							<img ng-show="p.joiningGame" src="/assets/images/status/loading.gif">
						</span>
					</span>
					<div style="display: inline; float: right; margin-right: 10px">
						<img ng-if="contest.status == 'CLOSED' && p.rank == '1st'" src="/assets/images/contests/gold.png">
						<img ng-if="contest.status == 'CLOSED' && p.rank == '2nd'" src="/assets/images/contests/silver.png">
						<img ng-if="contest.status == 'CLOSED' && p.rank == '3rd'" src="/assets/images/contests/bronze.png">
					</div>
				</div>
				<div style="display: block">
					<span class="rank_label">Net Worth:</span> 
					<span class="positive">${{ p.totalEquity | number:2 }}</span>
					<span ng-class="p.gainLoss >= 0 ? 'positive' : 'negative'">
					<changearrow ng-hide="(p.gainLoss || 0) == 0" value="{{ p.gainLoss }}" />
					<span ng-if="(p.gainLoss || 0) == 0" class="null">&#8212;</span>
					<span ng-if="p.gainLoss > 0">+</span>{{ p.gainLoss | number:2 }}%
					</span>
				</div>	
				<div style="display: block">
					<span class="rank_label">Score:</span> 
					<span style="color: #0080ff">{{ p.score | number }} pts</span>
					<span style="float: right; padding-right: 10px" ng-if="p.gainLoss >= 25">
						<img ng-repeat="n in starRating(p.gainLoss)" src="/assets/images/status/star.png">
					</span>
				</div>
			</div>	
		</div>
	</div>
	<br style="clear: both">
</div>

<div ng-include src="'/assets/views/play/lobby/invite_player_dialog.htm'"></div>