@()
<div class="col-md-12">
	<h3>Synopsis</h3>
	
	<p><span style="color: #0000ff">ShockTrade</span> is an Online Interactive Trading Simulation and Investment Research System (stocks, ETFs, 
	fixed income securities, and currencies). The system allows consumers to easily identify investment opportunities (that they 
	would not have been able to discover otherwise) via a simple easy-to-use web-based interface. The system can be used to research 
	stocks (and other investment vehicles) in near real-time (during trading hours) or historically via a user-defined date range and 
	investment criteria.</p>
	
	<h3>About Me</h3>
	
	<p>My name is Lawrence Daniels (<a href="mailto:lawrence.daniels@@gmail.com">lawrence.daniels@@gmail.com</a>) and I am a professional Software Architect, specializing in the
	architecture, design, and implementation of distributed, high performance and highly scalable systems. The original idea for 
	<span style="color: #0000ff">ShockTrade</span> came to me while studying for my MBA at Texas A&amp;M University. I created an executive
	summary for a business plan during an Entrepreneurship course. The basic premise: provide consumers with a simple and easy-to-use 
	investment tool, and consumers who currently shy away from investing could become successful investors.</p>
	
	<h3>Technology Stack</h3>
	
	<p>The technology stack for <span style="color: #0000ff">ShockTrade</span> has evolved over time. The original stack consisted 
	of the following technologies:</p>
	<table class="col-md-12" border="1">
		<tr>
			<td class="col-md-4">Linux 3.2.x AMD64 (GNU/Debian)</td>
			<td class="col-md-4">JSDK 6 (1.6.0.24)</td>
			<td class="col-md-4">Hadoop 1.1.1</td>
		</tr>	
		<tr>
			<td class="col-md-4">MySQL 5.5.28</td>
			<td class="col-md-4">JQuery 1.8.2</td>
			<td class="col-md-4">HBase 0.94.3</td>
		</tr>
		<tr>
			<td class="col-md-4">ActiveMQ 5.7.0</td>
			<td class="col-md-4">Hibernate 4.0.1 (MySQL)</td>
			<td class="col-md-4">Pig 0.10.0</td>
		</tr>
		<tr>
			<td class="col-md-4">Tomcat 7.0.29 (Servlet 3.0.1)</td>
			<td class="col-md-4">Spring Framework 3.0.5</td>
			<td class="col-md-4">Zookeeper 3.4.5</td>
		</tr>
		<tr>
			<td class="col-md-4">VirtualBox 4.2.12</td>
			<td class="col-md-4">Ant + Ivy</td>
			<td class="col-md-4">&nbsp;</td>
		</tr>
	</table>
	
	<p>The current (intermediate) system was developed/implemented using the following technology stack:</p>
	<table class="col-md-12" border="1">
		<tr>
			<td class="col-md-4">Linux 3.2.46 AMD64 (GNU/Debian)</td>
			<td class="col-md-4">JSDK 7 (1.7.0.03)</td>
			<td class="col-md-4">Akka 2.2.1</td>
		</tr>
		<tr>
			<td class="col-md-4">Cassandra 2.0.1</td>
			<td class="col-md-4">Scala 2.10.3</td>
			<td class="col-md-4">Hadoop 1.1.1</td>
		</tr>	
		<tr>
			<td class="col-md-4">MongoDB 2.4.7</td>
			<td class="col-md-4">JQuery 2.0.3</td>
			<td class="col-md-4">HBase 0.94.3</td>
		</tr>
		<tr>
			<td class="col-md-4">Tomcat 7.0.42 (Servlet 3.0.1/Async)</td>
			<td class="col-md-4">JQuery UI 1.10.2</td>
			<td class="col-md-4">Pig 0.10.0</td>
		</tr>
		<tr>
			<td class="col-md-4">VirtualBox 4.2.16</td>
			<td class="col-md-4">Spring Framework 3.2.4</td>
			<td class="col-md-4">Zookeeper 3.4.5</td>
		</tr>
		<tr>
			<td class="col-md-4">Maven 3.0.5</td>
			<td class="col-md-4">Spring Data 1.3.1 (MongoDB)</td>
			<td class="col-md-4">CoffeeScript 1.6.3</td>
		</tr>			
	</table>
	
	<p>As you may have noticed, <span style="color: #0000ff">ShockTrade</span> makes use of a disparate mix of technologies. This is 
	partially due to a transition from Java to Scala, MySQL (as the primary database) to MongoDB, JMS to Akka's Actor Framework, and 
	Hibernate to Spring Data. However, my development philosophy has always been "use the right tool for the right job," as a result, 
	MongoDB now serves as the primary database, while MySQL is being used for data with sensitivity to latency with respect to consistency. 
	Moreover, Cassandra acts as the data repository for frequently retrieved reference data as it offers the highest performance 
	(in a horizontal cluster) of the three databases, but at the cost of additional complexity.</p>
	
	<p>Modern web applications are being built to scale to thousands (if not tens of thousands) of concurrent users. My goal for <span style="color: #0000ff">ShockTrade</span>
	is to create an architecture that could achieve such scale by utilizing a web 3.0 pure-JavaScript front-end (via Angular.js), a RESTful back-end 
	(via Akka and the Play Framework), and non-blocking asynchronous I/O (via ReactiveMongo). With that goal in mind, I am moving the current 
	architecture to the following candidate technology stack:</p>
	<table class="col-md-12" border="1">
		<tr>
			<td class="col-md-4">Linux 3.2.46 AMD64 (GNU/Debian)</td>
			<td class="col-md-4">JSDK 8 &amp; Scala 2.11</td>
			<td class="col-md-4">Hadoop 1.2.1</td>
		</tr>
		<tr>
			<td class="col-md-4">MongoDB 2.5.x</td>
			<td class="col-md-4">Angular.js 1.2.x</td>
			<td class="col-md-4">HBase 0.96.x</td>
		</tr>	
		<tr>
			<td class="col-md-4">Tomcat 8.0.x (Servlet 3.1)</td>
			<td class="col-md-4">Akka 2.3.x (Async I/O + Actors)</td>
			<td class="col-md-4">Pig 0.11.1</td>
		</tr>
		<tr>
			<td class="col-md-4">VirtualBox 4.3.x</td>
			<td class="col-md-4">Spring Framework 4.x</td>
			<td class="col-md-4">Zookeeper 3.4.5</td>
		</tr>
		<tr>
			<td class="col-md-4">SBT 0.13.x</td>
			<td class="col-md-4">ReactiveMongo 1.0.x</td>
			<td class="col-md-4">CoffeeScript 1.7.x</td>
		</tr>			
	</table>
	<br>
	
	<h3>System Architecture</h3>
	
	<p><span style="color: #0000ff">ShockTrade</span> uses a modern Java-based distributed architecture to provide a high performance, 
	highly available, and horizontally scalable system.</p>
	
	<img src="/assets/images/artifacts/serverDiagram1.png" style="width: 60%; height: 60%">
	
	<p>The system makes use of modern virtualization technology (<a href="http://www.virtualbox.org" target="newWindow">Oracle VirtualBox</a>) 
	and currently makes use of three physical quad-core servers to provide the 11 virtual machines depicted above.</p>
	
	<h3>The Storage and Reporting Engine</h3>
	
	<p><span style="color: #0000ff">ShockTrade</span> uses a collection of open source systems to provide its complex array 
	of services.</p>
	<ul>
		<li><span style="color: #ff00ff">MongoDB</span> is the primary storage system. MongoDB (derived from the word "hu<span style="color: #ff00ff">mongo</span>us") is a scalable, high-performance, open source NoSQL database,
	which provides ShockTrade with the ability to provide massive scale from a data perspective.</li>
		<li><span style="color: #ff00ff">Hadoop</span>, a distributed processing system for large data sets across clusters of computers, 
	provides the platform for the system's reporting engine.</li>
	</ul>
	
	<span style="font-weight: bold; color: #0000ff">Why MongoDB?</span>
	
	<p>In addition to massive scale, MongoDB has an active developer community and provides an elegant JavaScript/JSON-based query language that offers the ability to quickly 
	produce complex data sets in real-time. Consider the following query, which provides the top 10 stocks with the highest the year-to-date change:</p>
	
	<pre style="border: 1px solid #888888; background-color: #ffffee; padding: 2px 2px 2px 2px">
	db.TradingHistory.aggregate( [
		{ $match : { "tradeDate": { $gte : ISODate( "2013-01-01T07:00:00Z" ) } } },
		{ $sort: { tradeDate: 1 } }, 
		{ $group : {
			_id : "$symbol", 
			start_price : { $first : "$close" },
			end_price : { $last : "$close" }
		} },	
		{ $project : {
			_id : 1,		
			change_amt : { $divide : [ { $subtract : [ "$end_price", "$start_price" ] }, "$end_price" ] }
		} },
		{ $sort: { change_amt: -1 } },
		{ $limit : 10 }
	] )	
	</pre>
	
	<p>The simple statement above is used to produce a list of the highest performing stocks (year-to-date).</p>
	
	<h3>Service-Oriented Architecture</h3>
	
	<p>The system currently offers three distinct user experiences, which utilize REST Webservices (XML and JSON) to communicate with 
	the server component that provides company information, stock quotes and statistics:</p>
	<ul>
		<li>A JFC/Swing Thick Client &#8212; offers Simulation mode, which allows a user to test their investment strategies without 
			risking actual capital.</li>
		<li>An Internet-facing Web Application (HTML5, CSS3, AJAX, Webservices)</li>
		<li>A CLI Client Application &#8212; supports a custom scripting language called QuoteScript, which allows data to be rapidly 
			queried, analyzed and turned into actionable information.</li>
	</ul>
	
	<h3>Data Processing</h3>
	
	<p><span style="color: #0000ff">ShockTrade</span> utilizes a custom XML-driven ETL/web-crawling solution (written entirely in Scala) that processes company 
	information, financial statements and stock quotes from a multitude of sources (CSV/flat files, HTML pages and JSON and XML REST web services) 
	and produces reporting and trend analysis.</p>
	
	<p style="margin-bottom: 50px"></p>
</div>