@(uuid: String)
<!DOCTYPE html>
<html ng-app="shocktrade">
<head>
	<title>ShockTrade: Invest with Confidence</title>
	<meta charset='utf-8'>
	<meta name="keywords" content="stock game, investment game, research, investing, trading, stock, stocks, bonds, fixed income, mutual funds, etf, options, futures, IRAs, roll over 401k, retirement, Roth IRA, online trading, stock quotes, mobile trading, active trader, etrade pro, managed investments, etrade" />
    <link rel="icon" type="image/png" href="/assets/images/favicon.png">
	<link href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))' type="text/css" rel="stylesheet" media="screen">
	<link href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))' type="text/css" rel="stylesheet" media="screen">
	<link href='@routes.WebJarAssets.at(WebJarAssets.locate("toaster.css"))' type="text/css" rel="stylesheet" media="screen">

	<link href='@routes.Assets.versioned("stylesheets/common.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/connect.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/dashboard/awards.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/dashboard/chat.css")' type="text/css" rel="stylesheet" media=screen>
    <link href='@routes.Assets.versioned("stylesheets/dashboard/exposure.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/dashboard/perks.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/dashboard/play.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/dashboard/portfolio.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/dashboard/lobby.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/dashboard/statistics.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/discover/exchanges.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/discover/key_statistics.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/discover/news.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/discover/quotes.css")' type="text/css" rel="stylesheet" media=screen>
    <link href='@routes.Assets.versioned("stylesheets/discover/research.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/discover/sector_industry.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/discover/trading_history.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/drill_down.css")' type="text/css" rel="stylesheet" media=screen>
    <link href='@routes.Assets.versioned("stylesheets/inspect.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/main.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/profile.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("stylesheets/sessions.css")' type="text/css" rel="stylesheet" media=screen>
	<link href='@routes.Assets.versioned("images/favicon.png")' type="image/png" rel="shortcut icon">
</head>

<body ng-controller="MainController" ng-cloak ng-init="mainInit('@uuid')">
	<div id="ShockTradeMain">
        <!-- title bar -->
        <div class="row">
            <div class="col-md-3">
                <span class="st_title_bar">
                    <span class="st_title_1">Shock<span class="st_title_2">Tra<span class="st_title_3">de</span></span></span>
                </span>
            </div>
            <div class="col-md-offset-5 col-md-4">
                <span class="title_color pull-right" style="margin-right: 20px">
                    <avatar ng-show="MySession.getFacebookID()" id="{{ MySession.getFacebookID() }}" class="avatar-24"></avatar>
                    <span ng-hide="MySession.isAuthenticated()" class="clickable" ng-click="login($event)">
                        <i class="fa fa-lg fa-facebook-square fb_icon"></i> Sign In
                    </span>
                    <span ng-show="MySession.isAuthenticated()" class="title_color clickable" ng-click="logout()">Sign Out</span>
                    <span ng-show="MySession.getFacebookProfile().name && MySession.getFacebookProfile().name != ''"
                        class="title_color">&#8212; {{ MySession.getFacebookProfile().name }}</span>
                </span>
            </div>
        </div>

        <toaster-container toaster-options="{'position-class': 'toast-container','time-out': 3000, 'close-button':true}">
        </toaster-container>

        <!-- main view -->
        <div>
			<div>
				<div ng-if="MySession.getFacebookID()" ng-include src="'/assets/views/play/player_info_bar.htm'"></div>
				<div class="row" style="margin-top: 20px">
					<div class="col-md-1" style="width: 60px" ng-include src="'/assets/views/app_tabs.htm'"></div>
					<div class="col-md-11 pull-left" ng-view ng-cloak></div>
				</div>
			</div>
            <div style="display: none" id="fb-root"></div>
        </div>
	</div>
	
	<!-- WebJar JS libraries -->
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("jquery.min.js"))' type="text/javascript"></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))' type="text/javascript"></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-animate.min.js"))' type="text/javascript"></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-cookies.min.js"))' type="text/javascript"></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-route.min.js"))' type="text/javascript"></script>
	<script src='@routes.WebJarAssets.at(WebJarAssets.locate("angular-sanitize.min.js"))' type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("angularjs-nvd3-directives.js"))" type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("d3.min.js"))' type="text/javascript"></script>
    <script src="@routes.WebJarAssets.at(WebJarAssets.locate("nv.d3.min.js"))" type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("toaster.js"))' type="text/javascript"></script>
    <script src='@routes.WebJarAssets.at(WebJarAssets.locate("ui-bootstrap-tpls.min.js"))' type="text/javascript"></script>

	<!-- local JS libraries -->
	<script src='@routes.Assets.versioned("javascripts/AppMain.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/app/commons.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/app/facebook_init.js")' type="text/javascript"></script>

    <!-- Angular Directive -->
	<script src='@routes.Assets.versioned("javascripts/app/directives/AgeDirective.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/app/directives/AvatarDirective.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/app/directives/ChangeArrowDirective.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/app/directives/CompileDirective.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/app/directives/CountryDirective.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/app/directives/NewsDirective.js")' type="text/javascript"></script>

    <!-- Scala.js Resources 	-->
    <script src="@routes.Assets.versioned("javascripts/shocktrade-scalajs-fastopt.js")"></script>
    <script src="@routes.Assets.versioned("javascripts/shocktrade-scalajs-launcher.js")"></script>

	<!-- Controllers and Services -->
    <script src='@routes.Assets.versioned("javascripts/MainController.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/admin/InspectController.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/dashboard/ExposureController.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/dashboard/PortfolioController.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/discover/DiscoverController.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/discover/DrillDownController.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/discover/FavoriteSymbols.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/discover/HeldSecurities.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/discover/RecentSymbols.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/discover/ResearchController.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/profile/FavoritesController.js")' type="text/javascript"></script>

    <!-- Dialogs -->
    <script src='@routes.Assets.versioned("javascripts/dialogs/ComposeMessageDialog.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/dialogs/InvitePlayerDialog.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/dialogs/NewGameDialog.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/dialogs/NewOrderDialog.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/dialogs/NewsQuoteDialog.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/dialogs/PerksDialog.js")' type="text/javascript"></script>
    <script src='@routes.Assets.versioned("javascripts/dialogs/SignupDialog.js")' type="text/javascript"></script>
	<script src='@routes.Assets.versioned("javascripts/dialogs/TransferFundsDialog.js")' type="text/javascript"></script>

	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-49227328-1', 'shocktrade.biz');
	  ga('send', 'pageview');
	</script>

	<div ng-include src="'/assets/views/dialogs/compose_message.htm'"></div>
	<div ng-include src="'/assets/views/dialogs/invite_player_dialog.htm'"></div>
	<div ng-include src="'/assets/views/dialogs/new_game_dialog.htm'"></div>
	<div ng-include src="'/assets/views/dialogs/new_order_dialog.htm'"></div>
    <div ng-include src="'/assets/views/dialogs/news_quote_dialog.htm'"></div>
	<div ng-include src="'/assets/views/dialogs/perks_dialog.htm'"></div>
	<div ng-include src="'/assets/views/dialogs/sign_up_dialog.htm'"></div>
	<div ng-include src="'/assets/views/dialogs/symbol_lookup_dialog.htm'"></div>
	<div ng-include src="'/assets/views/dialogs/transfer_funds_dialog.htm'"></div>
</body>
</html>