@(uuid: String)
<!DOCTYPE html>
<html ng-app="shocktrade">
<head>
	<title>ShockTrade: Invest with Confidence</title>
	<meta charset='utf-8'>
	<meta name="keywords" content="stock game, investment game, research, investing, trading, stock, stocks, bonds, fixed income, mutual funds, etf, options, futures, IRAs, roll over 401k, retirement, Roth IRA, online trading, stock quotes, mobile trading, active trader, etrade pro, managed investments, etrade" />
	<link href='@routes.Assets.versioned("images/favicon.png")' type="image/png" rel="shortcut icon">
    @assets.views.html.app.Stylesheets()
</head>

<body ng-controller="MainController" ng-init="mainInit('@uuid')">
	<div id="ShockTradeMain">
        <!-- title bar -->
        <div class="row">
            <div class="col-md-3">
                <span class="st_title_bar">
                    <span class="st_title_1">Shock<span class="st_title_2">Tra<span class="st_title_3">de</span></span></span>
                </span>
            </div>
            <div class="col-md-offset-5 col-md-4">
                <span class="title_color pull-right" style="margin-right: 20px">
                    <avatar ng-show="MySession.getFacebookID()" id="{{ MySession.getFacebookID() }}" class="avatar-24"></avatar>
					<span ng-show="MySession.nonMember" class="clickable" ng-click="signUp()">
						<i class="fa fa-lg fa-facebook-square fb_icon"></i> Sign Up
					</span>
                    <span ng-hide="MySession.isAuthenticated()" class="clickable" ng-click="login()">
                        <span ng-show="MySession.nonMember"> / </span>
                        <i class="fa fa-lg fa-facebook-square fb_icon"></i> Login
                    </span>
                    <span ng-show="MySession.isAuthenticated()" class="title_color clickable" ng-click="logout()">Sign Out</span>
                    <span ng-show="MySession.getFacebookProfile().name"
                        class="title_color">&#8212; {{ MySession.getFacebookProfile().name }}</span>
                </span>
            </div>
        </div>

        <toaster-container toaster-options="{'position-class': 'toast-container','time-out': 3000, 'close-button':true}">
        </toaster-container>

        <!-- main view -->
        <div ng-controller="NavigationController" ng-init="initNav()">
			<div ng-if="MySession.isAuthenticated()"> @assets.views.html.app.InformationBar() </div>
			<div class="row">
				<div class="col-md-1" style="width: 60px"> @assets.views.html.app.NavigationBar() </div>
				<div class="col-md-11 pull-left" ng-view ng-cloak></div>
			</div>
            <div style="display: none" id="fb-root"></div>
        </div>
	</div>

    @assets.views.html.app.Scripts()
	@assets.views.html.dialogs.ComposeMessageDialog()
    @assets.views.html.dialogs.InvitePlayerDialog()
    @assets.views.html.dialogs.NewGameDialog()
    @assets.views.html.dialogs.NewOrderDialog()
    @assets.views.html.dialogs.NewsQuoteDialog()
    @assets.views.html.dialogs.PerksDialog()
    @assets.views.html.dialogs.SignUpDialog()
    @assets.views.html.dialogs.SymbolLookupDialog()
    @assets.views.html.dialogs.TransferFundsDialog()
</body>
</html>