<div class="row">
    <span class="col-md-10">
        <input class="col-md-10 form-control symbol_input_text_field"
               id="stockTicker" type="text" ng-model="ticker"
               placeholder="Enter Symbol or Company name"
               typeahead="quote as quote.symbol + ' - ' + quote.name for quote in autoCompleteSymbols($viewValue) | filter:{symbol:$viewValue}"
               typeahead-template-url="symbol_lookup.htm"
               typeahead-loading="loadingLocations"
               typeahead-on-select="loadQuote(ticker)"
               popover="Enter a Symbol or Business here"
               popover-trigger="focus">
    </span>
    <button class="btn btn-default st_button" ng-click="loadTickerQuote(ticker)">
        <i class="fa fa-search"></i> Search
    </button>
</div>

<div class="advisory" ng-show="q.advisory">
	<img ng-src="/assets/images/status/{{ q.advisoryType == 'INFO' ? 'info' : 'alert' }}.gif"> {{ q.advisory }}
</div>

<div ng-include src="'/assets/views/discover/quotes/stock_quote.htm'"></div>

<div ng-include src="'/assets/views/discover/profile/security_class.htm'"></div>

<div ng-include src="'/assets/views/discover/profile/fund_summary.htm'"></div>

<div ng-if="q.assetType === 'Common Stock'" style="margin-top: 5px">
	<div ng-repeat="module in expanders">
		<div class="quote_title contest_colors" ng-if="!module.visible || module.visible(q)">
			<i class="fa clickable expander" ng-class="module.expanded ? 'fa-minus-square-o' : 'fa-plus-square-o'"
			   ng-click="expandSection(module)"></i>
			<i class="fa bold" ng-class="module.icon"></i>
			{{ module.title }}
			<img ng-show="module.loading" src="/assets/images/status/loading.gif">
		</div>
		<div ng-if="module.expanded" ng-include="module.url"></div>
		<div style="margin-bottom: 5px"></div>
	</div>
</div>

<div ng-if="q.products.length">
	<div class="quote_sub_title contest_colors" style="color: #000080; font-weight: bold; text-align: center; padding: 5px">ETF Holdings Detail</div>
	<div ng-include src="'/assets/views/discover/profile/holdings_detail.htm'"></div>
	<hr>
</div>