<div class="row">
	<div class="col-md-4">
        <span class="qm_header">Last Sale</span>
        <i ng-hide="isLoading()" class="fa fa-refresh positive clickable" title="Refresh" ng-click="loadQuote(ticker)"></i>
		<img ng-show="isLoading()" ng-src="/assets/images/status/loading.gif">
        <span class="qm_detail pull-right">{{ q.lastTrade | quoteNumber }}</span>
	</div>
	<div class="col-md-4">
		<span class="qm_header">Change / %</span>
		<span ng-if="q.change !== null && q.change !== undefined" class="plain pull-right">
			<span ng-class="q.change < 0 ? 'negative' : ''">{{ q.change | quoteNumber }}</span>
			<changeArrow value="{{ q.changePct }}"></changeArrow>
			<span ng-class="q.change < 0 ? 'negative' : 'positive'">{{ q.changePct | quoteChange }}%</span>
		</span>
	</div>
	<div class="col-md-4">
		<span class="qm_header">Updated</span>
		<span class="plain pull-right">
			<span ng-show="q.tradeDateTime">{{ getDate(q.tradeDateTime) | date:'MM/dd hh:mma Z' }}</span>
			<span ng-hide="q.tradeDateTime">{{ getDate(q.tradeDateTime) | date:'MM/dd hh:mma Z' }}</span>
		</span>
	</div>
</div>

<div class="row">
	<div class="col-md-4">
        <span class="qm_header">Prev Close</span>
	    <span class="qm_detail pull-right">{{ q.prevClose | quoteNumber }}</span>
    </div>

	<div class="col-md-4">
        <span class="qm_header">Open</span>
	    <span class="qm_detail pull-right">{{ q.open | quoteNumber }}</span>
    </div>

	<div class="col-md-4">
        <span class="qm_header">Ask</span>
        <span class="qm_detail pull-right">
            <nobr>{{ q.ask | quoteNumber }} <span ng-show="q.ask && q.askSize"> x {{ q.askSize }}</span></nobr>
        </span>
    </div>
</div>

<div class="row">
	<div class="col-md-4">
        <span class="qm_header">Volume</span>
	    <span class="qm_detail pull-right">{{ q.volume | number }}</span>
    </div>

	<div class="col-md-4">
        <span class="qm_header">Close</span>
	    <span class="qm_detail pull-right">{{ q.close | quoteNumber }}</span>
    </div>

	<div class="col-md-4">
        <span class="qm_header">Bid</span>
        <span class="qm_detail pull-right">
            <nobr>{{ q.bid | quoteNumber }} <span ng-show="q.bid && q.bidSize"> x {{ q.bidSize }}</span></nobr>
        </span>
    </div>
</div>

<div class="row">
	<div class="col-md-4">
        <span class="qm_header">Avg Vol</span> <span class="small">(10-day)</span>
	    <span class="qm_detail pull-right">{{ q.avgVolume10Day | number }}</span>
    </div>

	<div class="col-md-4">
        <span class="qm_header">Day's High</span>
	    <span class="qm_detail pull-right">{{ q.high | quoteNumber }}</span>
    </div>

	<div class="col-md-4">
        <span class="qm_header">Spread</span>
        <span class="qm_detail pull-right">
            <span ng-show="q.spread">{{ q.spread | number:2 }}%</span>
        </span>
    </div>
</div>

<div class="row">
	<div class="col-md-4">
        <span class="qm_header">Market Cap</span>
	    <span class="qm_detail pull-right">{{ q.marketCap | number | bigNumber }}</span>
    </div>

	<div class="col-md-4">
        <span class="qm_header">Day's Low</span>
	    <span class="qm_detail pull-right">{{ q.low | quoteNumber }}</span>
    </div>

	<div class="col-md-4">
        <span class="qm_header">Target</span> <span class="small">(1-Year)</span>
	    <span class="qm_detail pull-right">{{ q.target1Y | quoteNumber }}</span>
    </div>
</div>

