<div ng-controller="TradingHistoryController" ng-init="loadTradingHistory(q.symbol)">
    <!--  header section -->
    <div class="row" ng-hide="hasSelectedTradingHistory()">
        <div class="col-md-2 header">Date</div>
        <div class="col-md-2 header right">Open</div>
        <div class="col-md-2 header right">Close</div>
        <div class="col-md-2 header right">High</div>
        <div class="col-md-2 header right">Low</div>
        <div class="col-md-2 header right">Volume</div>
    </div>

    <!-- detailed view -->
    <div ng-show="hasSelectedTradingHistory()">
        <div class="col-md-offset-3 col-md-3 header">Company</div>
        <div class="col-md-6">{{ q.name }}
            <span ng-click="selectTradingHistory(null)" class="clickable pull-right">
                <i class="fa fa-chevron-circle-left st_control"
                   title="Return to results"></i> Back
            </span>
        </div>

        <div class="col-md-offset-3 col-md-3 header">Symbol</div>
        <div class="col-md-6">{{ q.symbol }}</div>

        <div class="col-md-offset-3 col-md-3 header">Date</div>
        <div class="col-md-6">{{ getSelectedTradingHistory().tradeDate | date:'MM/dd/yyyy' }}</div>

        <div class="col-md-offset-3 col-md-3 header">Open</div>
        <div class="col-md-6">{{ getSelectedTradingHistory().open | quoteNumber }}</div>

        <div class="col-md-offset-3 col-md-3 header">Close</div>
        <div class="col-md-6">{{ getSelectedTradingHistory().close | quoteNumber }}</div>

        <div class="col-md-offset-3 col-md-3 header">High</div>
        <div class="col-md-6">{{ getSelectedTradingHistory().high | quoteNumber }}</div>

        <div class="col-md-offset-3 col-md-3 header">Low</div>
        <div class="col-md-6">{{ getSelectedTradingHistory().low | quoteNumber }}</div>

        <div class="col-md-offset-3 col-md-3 header">Change / %</div>
        <div class="col-md-6">
            <span ng-class="getSelectedTradingHistory().changePct < 0 ? 'negative' : 'positive'">{{ getSelectedTradingHistory().change | quoteNumber }}</span>
            <changearrow value="{{ getSelectedTradingHistory().changePct }}"/>
            <span ng-class="getSelectedTradingHistory().changePct < 0 ? 'negative' : 'positive'">{{ getSelectedTradingHistory().changePct | quoteChange }}%</span>
        </div>

        <div class="col-md-offset-3 col-md-3 header">Spread %</div>
        <div class="col-md-6">{{ getSelectedTradingHistory().spread | number:2 }}</div>

        <div class="col-md-offset-3 col-md-3 header">Volume</div>
        <div class="col-md-6">{{ getSelectedTradingHistory().volume | number }}</div>
    </div>

    <!-- list view -->
    <div class="histContainer" ng-hide="hasSelectedTradingHistory()">
        <div class="row" ng-if="getTradingHistory().length == 0" class="notice odd">
            <i class="fa fa-warning warning"></i> No trading history records available
        </div>
        <div class="row clickable" ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="t in getTradingHistory()"
             ng-click="selectTradingHistory(t)">
            <div class="col-md-2">
                <span ng-hide="t.tradeDate" class="null">N/A</span>
                <span ng-show="t.tradeDate">{{ t.tradeDate | date:'MM/dd/yy' }}</span>
            </div>
            <div class="col-md-2 right">
                <span ng-hide="t.open !== null" class="null">N/A</span>
                <span ng-show="t.open !== null">{{ t.open | quoteNumber }}</span>
            </div>
            <div class="col-md-2 right">
                <span ng-hide="t.close !== null" class="null">N/A</span>
                <span ng-show="t.close !== null">{{ t.close | quoteNumber }}</span>
            </div>
            <div class="col-md-2 right">
                <span ng-hide="t.high !== null" class="null">N/A</span>
                <span ng-show="t.high !== null">{{ t.high | quoteNumber }}</span>
            </div>
            <div class="col-md-2 right">
                <span ng-hide="t.low !== null" class="null">N/A</span>
                <span ng-show="t.low !== null">{{ t.low | quoteNumber }}</span>
            </div>
            <div class="col-md-2 right">
                <span ng-hide="t.volume !== null" class="null">N/A</span>
                <span ng-show="t.volume !== null">{{ t.volume | number }}</span>
            </div>
        </div>
    </div>
</div>