<!--  header section -->
<div class="row" ng-hide="hasSelectedTradingHistory()">
    <div class="col-md-2 header">Date</div>
    <div class="col-md-2 header right">Open</div>
    <div class="col-md-2 header right">Close</div>
    <div class="col-md-2 header right">High</div>
    <div class="col-md-2 header right">Low</div>
    <div class="col-md-2 header right">Volume</div>
</div>

<!-- detailed view -->
<div ng-show="hasSelectedTradingHistory()">
    <div class="col-md-offset-3 col-md-3 header">Company</div>
    <div class="col-md-6">{{ q.name }}
        <span ng-click="selectTradingHistory(null)" class="clickable pull-right">
            <i class="fa fa-chevron-circle-left st_control"
               title="Return to results"></i> Back
        </span>
    </div>

    <div class="col-md-offset-3 col-md-3 header">Symbol</div>
    <div class="col-md-6">{{ q.symbol }}</div>

    <div class="col-md-offset-3 col-md-3 header">Date</div>
    <div class="col-md-6">{{ selectedTradingHistory.tradeDate | date:'MM/dd/yyyy' }}</div>

    <div class="col-md-offset-3 col-md-3 header">Open</div>
    <div class="col-md-6">{{ selectedTradingHistory.open | quoteNumber }}</div>

    <div class="col-md-offset-3 col-md-3 header">Close</div>
    <div class="col-md-6">{{ selectedTradingHistory.close | quoteNumber }}</div>

    <div class="col-md-offset-3 col-md-3 header">High</div>
    <div class="col-md-6">{{ selectedTradingHistory.high | quoteNumber }}</div>

    <div class="col-md-offset-3 col-md-3 header">Low</div>
    <div class="col-md-6">{{ selectedTradingHistory.low | quoteNumber }}</div>

    <div class="col-md-offset-3 col-md-3 header">Change / %</div>
    <div class="col-md-6">
        <span ng-class="selectedTradingHistory.changePct < 0 ? 'negative' : 'positive'">{{ selectedTradingHistory.change | quoteNumber }}</span>
        <changearrow value="{{ selectedTradingHistory.changePct }}"/>
        <span ng-class="selectedTradingHistory.changePct < 0 ? 'negative' : 'positive'">{{ abs(selectedTradingHistory.changePct) | quoteChange }}%</span>
    </div>

    <div class="col-md-offset-3 col-md-3 header">Spread %</div>
    <div class="col-md-6">{{ selectedTradingHistory.spread | number:2 }}</div>

    <div class="col-md-offset-3 col-md-3 header">Volume</div>
    <div class="col-md-6">{{ selectedTradingHistory.volume | number }}</div>
</div>

<!-- list view -->
<div class="histContainer" ng-hide="hasSelectedTradingHistory()">
    <div class="row" ng-if="tradingHistory.length == 0" class="notice odd">
        <i class="fa fa-warning warning"></i> No trading history records available
    </div>
    <div class="row clickable" ng-class-even="'even'" ng-class-odd="'odd'" ng-repeat="t in tradingHistory"
         ng-click="selectTradingHistory(t)">
        <div class="col-md-2">
            <span ng-hide="t.tradeDate" class="null">N/A</span>
            <span ng-show="t.tradeDate">{{ t.tradeDate | date:'MM/dd/yy' }}</span>
        </div>
        <div class="col-md-2 right">
            <span ng-hide="t.open" class="null">N/A</span>
            <span ng-show="t.open">{{ t.open | quoteNumber }}</span>
        </div>
        <div class="col-md-2 right">
            <span ng-hide="t.close" class="null">N/A</span>
            <span ng-show="t.close">{{ t.close | quoteNumber }}</span>
        </div>
        <div class="col-md-2 right">
            <span ng-hide="t.high" class="null">N/A</span>
            <span ng-show="t.high">{{ t.high | quoteNumber }}</span>
        </div>
        <div class="col-md-2 right">
            <span ng-hide="t.low" class="null">N/A</span>
            <span ng-show="t.low">{{ t.low | quoteNumber }}</span>
        </div>
        <div class="col-md-2 right">
            <span ng-hide="t.volume" class="null">N/A</span>
            <span ng-show="t.volume">{{ t.volume | number }}</span>
        </div>
    </div>
</div>