<div class="col-md-12">

    <!-- Customer Problem -->
    <div class="col-md-6">
        <h4 class="investor_heading">Customer Problem</h4>
        <p>According to <b>CNN Money</b>: "<span class="st_green">Wall Street welcomed millennials to the world of investing by showing them the scariest financial crisis
        since the Great Depression</span>" (Egan, 2015).</p>

        Millennials, according to a <b>Bankrate.com</b> survey (Tuchman, 2015):
        <ul>
            <li>Roughly 1 in 4 (26%) own stocks</li>
            <li>Of those that don’t invest, the reasons are both compelling and frustrating.</li>
            <li>More than half (53%) said they don’t have the money to invest.</li>
            <li><span class="st_green">One in five (21%) said they don’t know enough about stocks to invest.</span></li>
        </ul>

        According to a <b>Capital One</b> ShareBuilder survey:
        "<span class="st_green">93% of millennials say that both distrust of markets and lack of
        investing knowledge make them less confident about investing</span>," (Palmer, 2014) which represents a large potential consumer market for
        investment products that allow them to experiment with the market without risking their capital (Sources:
        <a href="http://money.usnews.com/money/blogs/alpha-consumer/2014/10/31/why-millennials-are-scared-to-invest" target="source">1</a>,
        <a href="http://www.forbes.com/sites/mitchelltuchman/2015/04/17/show-this-article-to-someone-under-30/" target="source">2</a>,
        <a href="http://money.cnn.com/2015/03/11/investing/investing-millennials-stocks-markets/">3</a>).
    </div>

    <!-- The Solution -->
    <div class="col-md-6">
        <h4 class="investor_heading">Our Solution</h4>

        Provides a solution to address Millenials greatest concerns:
        <ul>
            <li>Not knowing how to invest</li>
            <li>Fear of losing money while learning</li>
            <li>Distrust of the markets</li>
        </ul>

        Combines the two activities they engage in most:
        <ul>
            <li>Social Media</li>
            <li>Video Gaming</li>
        </ul>

        <i class="app_name">ShockTrade</i> combines a trading simulation with social media (Facebook) and video-gaming
        features, and fosters an environment where valuable investment skills are learned by encouraging light-hearted
        competition between friends, while eliminating any fear of risking real capital.
    </div>

    <!-- Target Market -->
    <div class="col-md-6">
        <h4 class="investor_heading">Target Market</h4>
        <ul>
            <li>Our target market are consumers between the ages of 18 and 49, which represents 42.8% of the U.S. population
                (136.4 million consumers)</li>
            <li>Initially we plan to target Millennials (83.1 million consumers) and
                Generation Xers</li>
            <li>These groups are heavy consumers of social media and are much more likely to experiment with learning
                how to invest (Sources:
                <a href="http://www.americanpressinstitute.org/publications/reports/survey-research/millennials-social-media/">1</a>,
                <a href="http://www.marketingcharts.com/traditional/so-how-many-milslennials-are-there-in-the-us-anyway-30401/">2</a>,
                <a href="http://www.adweek.com/socialtimes/millennials-gen-x-baby-boomers-social-media/499110">3</a>,
                <a href="http://www.usatoday.com/story/news/nation/2015/06/25/millennials-now-outnumber-boomers-census-says/29294241/">4</a>).
            </li>
        </ul>
    </div>

    <!-- Business Model -->
    <div class="col-md-6">
        <h4 class="investor_heading">Business Model</h4>
        <ul>
            <li>
                <i class="app_name">ShockTrade</i> uses a free-to-play model with micro-transactions.
                <ul>
                    <li>Users are able to join and play for free</li>
                    <li><span class="st_perks">Perks</span>, features that offer players a competitive advantage, are offered
                        for a nominal fee (<span class="st_green">10 Perks = 1 USD</span>)</li>
                    <li>Purchasing additional units of <span class="st_perks">Shock-coin</span>, the in-game currency, is offered
                        for a nominal fee (<span class="st_green">50,000 <i class="fa fa-bitcoin"></i> = 1 USD)</span></li>
                </ul>
            </li>
            <li>Auction-based in-game advertisements
                <ul>
                    <li>Animated advertisements</li>
                    <li>Click-based advertisements</li>
                </ul>
            </li>
            <li>Subscription-based model for quotes
                <ul>
                    <li>End-of-day quotes</li>
                    <li>Intra-day quotes</li>
                </ul>
            </li>
        </ul>
    </div>

    <!-- Competitive Advantage -->
    <div class="col-md-6">
        <h4 class="investor_heading">Competitive Advantage</h4>

        <i class="app_name">ShockTrade</i> is different from most other offerings because it combines elements of
        <b>Console-gaming</b> and <b>Social Networking</b> with an ease-to-use trading simulation to support beginnings to experts.
        The applications trading features includes:
        <ul>
            <li>Buying and Selling all stocks from <span class="AMEX">AMEX</span>, <span class="NASDAQ">NASDAQ</span>, <span class="NYSE">NYSE</span>
                and <span class="OTCBB">OTC</span> exchanges</li>
            <li>Margin Accounts</li>
            <li>Stock Options</li>
        </ul>

        Facebook usage by age group:
        <ul>
            <li>Millennials &#8212; 88%</li>
            <li>Generatio Xers &#8212; 81%</li>
            <li>Baby Boomers &#8212; 70%</li>
        </ul>
    </div>

    <!-- Management Team -->
    <div class="col-md-6">
        <h4 class="investor_heading">Management Team</h4>
        TBA
    </div>

    <!-- Financial Summary -->
    <div class="col-md-6">
        <h4 class="investor_heading">Financial Summary</h4>
        TBA
   </div>

    <!-- Funding Required -->
    <div class="col-md-6">
        <h4 class="investor_heading">Funding Required</h4>
        TBA
    </div>

</div>