/*********************************************************************************
 * 							Exchange-specific colors							 *
 *********************************************************************************/

.AMEX {
	color: #888800;
}

.ASE {
	color: #6688ff;
}

.BATS {
	color: #885500;
}

.CCY {
	color: #8888ff;
}

.LSE {
	color: #88aa88;
}

.NASDAQ {
	color: #0044ff;
}

.NYSE {
	color: #008800;
}

.OTCBB {
	color: magenta;
}

.OTHER_OTC {
	color: #880088;
}

.PCX {
	color: #77aa88;
}

.TSE {
	color: #ff8840;
}