.advisory {
	border: 1px solid #ccccbb;
	border-radius: 4px 4px 4px 4px;
	background-color: #fffaee;
	color: #2f96b4;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
}

div.chart_header_outer {
	display: block;
	width: 100%;
	border: 1px solid #1f86a4
}

div.chart_header {
	display: block;
	text-align: center;
	border: 1px solid #1f86a4;
	background-color: #2f96b4;
	color: white
}

img.chart {
	vertical-align: top;
	max-width: 100%;
}

.quote_control_panel {
	border: 1px solid #cccccc;
	border-radius: 5px 5px 5px 5px;
	background-color: #eeeeee;
	color: #000080;
	font-weight: bold;
}

.quote_title {
	background-color: #eeeeee; 
	border: 1px solid #cccccc;
	border-radius: 5px 5px 5px 5px;
	padding: 2px 2px 2px 2px;
	color: #000080;
	font-weight: bold
}

.quote_sub_title {
	width: 100%; 
	border: 1px solid #cccccc; 
	background-color: #eeeeee; 
	border-radius: 6px 6px 6px 6px; 
	padding: 10px
}

.quote_button {
    background-color: #ff8000;
	font-weight: bold;
	text-align: right;
	color: white;	
	cursor: pointer;
}
 
div.filterContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 220px;
}

.qm {
	font-size: 10pt;
}
 
.holdingsContainer {
	clear: both;
	width: auto;
	height: 300px;
	overflow: auto;	
}

.volatile_green {
 	color: #008000;
}
 
.volatile_yellow {
 	color: #eeaa00;
}
 
.volatile_red {
 	color: red;
}
  
.risk_low {
	color: #00a000;
	cursor: pointer
}

.risk_medium {
	color: #eeaa00;
	cursor: pointer
}

.risk_high {
	color: #ff0000;
	cursor: pointer
}

.risk_unknown {
	color: #888888;
	cursor: pointer
}

.qm_header {
	color: #0000a0;
	font-weight: bold;
}

.qm_detail {
	text-align: right
}

.qm_label {
	font-weight: bold;
	color: #0000a0
}

span.small {
	color: #0000a0;
	font-size: 8pt
}

.qm_value {
	float: right
}