.advisory {
	border: 1px solid #ccccbb;
	border-radius: 4px 4px 4px 4px;
	background-color: #e0e0e0;
	color: #000088;
	font-weight: bold;
	padding: 2px 2px 2px 2px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.symbol_input_text_field {
	background-color: #ffffcc;
}

div.chart_header_outer {
	display: block;
	width: 100%;
	border: 1px solid #1f86a4
}

div.chart_header {
	display: block;
	text-align: center;
	border: 1px solid #1f86a4;
	background-color: #337ab7;
	color: white
}

img.chart {
	vertical-align: top;
	max-width: 100%;
}

div.fund_summary {

}

.highlighted_quote {
    background: #c0ffff;
}

.quote_title {
	padding: 2px 2px 2px 2px;
	color: #000088;
	font-weight: bold
}

.quote_sub_title {
	padding: 10px;
}

div.favoritesContainer {
	clear: both;
	overflow: auto;
	width: auto;
	height: 550px;
}

div.filterContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 220px;
}

.qm {
	font-size: 10pt;
}
 
.holdingsContainer {
	clear: both;
	width: auto;
	height: 300px;
	overflow: auto;	
}

.volatile_green {
 	color: #008000;
}
 
.volatile_yellow {
 	color: #eeaa00;
}
 
.volatile_red {
 	color: red;
}
  
.risk_low {
	color: #00a000;
	cursor: pointer
}

.risk_medium {
	color: #eeaa00;
	cursor: pointer
}

.risk_high {
	color: #ff0000;
	cursor: pointer
}

.risk_unknown {
	color: #888888;
	cursor: pointer
}

.qm_header {
	color: #000088;
	font-weight: bold;
}

.qm_detail {
	text-align: right
}

.qm_label {
	font-weight: bold;
	color: #000088
}

span.small {
	color: #2e6da4;
	font-size: 8pt
}

.qm_value {

}