/*********************************************************************************
 * 							Research :: Search									 *
 *********************************************************************************/
 
 .search_box {
 	display: block; 
 	/* border: 1px solid black */
 	padding: 0px 2px 2px 2px;
 }
 
.search_heading {
	display: block; 
	width: 100%; 
	border: 1px solid #000080;
	border-radius: 4px 4px 4px 4px; 
	background-color: #88bbdd; 
	color: #000080; 
	text-align: center;
	font-weight: bold;
	margin-bottom: 3px	
}
 
.new_condition {
	display: inline;
	float: left;
	background-color: #00ff00;
	border: 1px solid #aaaa00;
	padding: 1px;
	border-radius: 3px 3px 3px 3px;
	margin-right: 10px;
} 
 
.condition {
	display: inline;
	float: left;
	background-color: #eeeecc;
	border: 1px solid #aaaa00;
	padding: 1px;
	border-radius: 3px 3px 3px 3px;
	margin-right: 10px;
	margin-bottom: 3px;
}

.condition_item {
	display: block;
	padding: 1px;
	margin-bottom: 3px;
}

.xchg_update_button {
	border-radius: 4px 4px 4px 4px;
}

.action_bar {
	float: right; 	
	border-radius: 4px 4px 4px 4px;
	margin-right: 16px;
}

.action_button {
	border-color: white;
	border-radius: 4px 4px 4px 4px;
	padding-right: 8px;
	cursor: pointer
}

/*********************************************************************************
 * 							Research :: Search Results Classes					 *
 *********************************************************************************/
 
.results_none { color: #000000 }
.results_small { color: #00af00 }
.results_medium { color: #dddd00 }
.results_large { color: #ff0000 } 
 
/*********************************************************************************
 * 							Research :: Search									 *
 *********************************************************************************/

#left_side {	
	display: inline;
	float: left;
	
	width: 784px;
	height: auto;
}

#right_side {	
	display: inline;
	float: right;
	background-color: #dcdcff;
	
	width: 190px;
	height: auto;
}

#newFilterButton {
    background:url('../images/buttons/filter_add.gif') no-repeat;
    border: none;
    cursor:pointer;
    
    padding-left: 17px;
    padding-top: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
}

#removeFilterButton {
    background:url('../images/buttons/filter_delete.png') no-repeat;
    border: none;
    cursor:pointer;
    
    padding-left: 17px;
    padding-top: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
}

#search_button {
    background:url('../images/buttons/search.png') no-repeat;
    background-color: #40ff40;
    cursor:pointer;
    
    padding-left: 17px;
    padding-top: 2px;
    padding-bottom: 1px;
    vertical-align: middle;
}

#add_cond_button {
    background:url('../images/buttons/add.png') no-repeat;
    border: none;
    cursor:pointer;
	padding-right: 10px;
    vertical-align: middle;
}

#remove_cond_button {
    background:url('../images/buttons/remove.png') no-repeat;
    border: none;
    cursor:pointer;
    vertical-align: middle;
}

/*********************************************************************************
 * 							Research Inputs										 *
 *********************************************************************************/

div.research {
	display: table;
	width: 100%;
}

/*********************************************************************************
 * 							Search 												 *
 *********************************************************************************/

#search_console {
	display: inline;
	width: 100%;
	float: left;
}

#search_filters {
	display: block;
	float: right;	
	width: 220px;
	height: 200px;
}

#searchResults {
	clear: both;
	border: 1px solid #aaaaaa; 
	overflow: auto;	
	
	width: auto;
	height: 400px;	
}

table.results {
	border-collapse: collapse;
	width: 100%; 
}

.results, .results_date {
	text-align: left;
	padding:	0px;
	width:		8%
}

.results_num  {
	text-align: right;
	padding:	0px;
	width:		8%
}

.results_bignum {
	text-align: right;
	padding:	0px;
	width:		10%
}

/*********************************************************************************
 * 							Filter Side											 *
 *********************************************************************************/

#filterSide {
	display: block;
	float: left;
	width: 100%;
}

#filterList {
	display: inline;
}

#filterLabel {
	display: block;
}

#filterMatches {
	float: left;
	vertical-align: middle;
}

div.filters {
	display: block;
	width: 60%; 
	vertical-align: top;
}

/*********************************************************************************
 * 							Filter Management Side								 *
 *********************************************************************************/

#filterMgmtSide {
	display: block;
	width: 100%;
	height: auto;
}

#filterMgmtContainer {
	clear: both;
	overflow: auto;	
	
	width: auto;
	height: 200px
}

fieldset.filterFrame {
	border-radius: 4px 4px 4px 4px;
	background-color: #ffffee;
}

fieldset.filterNameFrame {
	border-radius: 4px 4px 4px 4px;
	background-color: #eeeef7;
}

fieldset.filterSortFrame {
	border-radius: 4px 4px 4px 4px;
	background-color: #eeeef7;
	text-align: left;
}

fieldset.filterXchgFrame {
	border-radius: 4px 4px 4px 4px;
	background-color: #ffffee;
	text-align: left;
}

fieldset.conditionFrame {
	border-radius: 4px 4px 4px 4px;
	background-color: #eeeef7;
}

fieldset.searchResultsFrame {
	border-radius: 4px 4px 4px 4px;
	background-color: #eeeef7;
}

/*********************************************************************************
 * 							Filter Matches										 *
 *********************************************************************************/

span.matches_red {
	color: #ff0000; 
	font-weight: bold
}

span.matches_yellow {
	color: #888800; 
	font-weight: bold
}

span.matches_green {
	color: #008800; 
	font-weight: bold
}

/*********************************************************************************
 * 							Condition Side										 *
 *********************************************************************************/

#conditionSide {
	display: block;
	width: 100%;
}

div.conditions {
	display: block;
	width: 40%;  
	vertical-align: top;
}

div.conditionsContainer {
	background-color: #ffffef;
	clear: both; 
	/*border: 1px solid #888888;*/
	overflow: auto;
	
	width: 100%; 
	height: 150px;
}

table.conditionsList {
	border-collapse: collapse;
	width: 100%
}

