.histContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

table.hist {
	border-collapse: collapse;
	width: 100%;		    
}

th.hist {
	color: #000080;
	text-align: left;
	vertical-align: top;
}

td.hist {
	vertical-align: top;
	text-align: left;
}