<script type="text/ng-template" id="new_game_dialog.htm">
    <div class="modal-header st_modal_header">
        <h4 style="color: #345688">Create New Game</h4>
    </div>
    <div class="modal-body">
        <span ng-show="errors.length">
            <span class="error">Please correct the following:</span>
            <ul>
                <li class="error" ng-repeat="error in errors">
                    <span class="error">{{ error }}</span>
                </li>
            </ul>
        </span>

        <div class="row">
            <div class="col-md-12">
                <label for="name" class="bold">Game Title</label>
                <input id="name" class="form-control col-md-12" ng-model="form.name"
                       placeholder="Enter the name of the game here">
            </div>
            <div class="col-md-12">
                <label for="startingBalance" class="bold">Buy-In / Initial Funds</label>
                <select id="startingBalance" class="form-control"
                        ng-model="form.startingBalance">
                    <option ng-repeat="bal in startingBalances" value="{{ bal }}">${{ bal | number }}</option>
                </select>
            </div>
            <div class="col-md-12">
                <label for="duration" class="bold">Game Duration</label>
                <select id="duration" class="form-control"
                        ng-model="form.duration"
                        ng-options="d.label for d in durations">
                    <option value="">-- Choose a Duration --</option>
                </select>
            </div>
            <div class="col-md-6">
                <input id="startAutomatically" type="checkbox" ng-model="form.startAutomatically">
                <label for="startAutomatically"><img src="/assets/images/objects/clock16.png"> Start Automatically</label>
            </div>
            <div class="col-md-6">
                <input id="friendsOnly" type="checkbox" ng-model="form.friendsOnly" ng-disabled="form.friendsOnly">
                <label for="friendsOnly"><img src="/assets/images/objects/friend_header.gif"> Friends-Only</label>
            </div>
            <div class="col-md-6">
                <input id="levelCapAllowed" type="checkbox" ng-model="form.levelCapAllowed">
                <label for="levelCapAllowed"><img src="/assets/images/objects/friend_delete.png"> Level Cap (by Rank)</label>
            </div>
            <div class="col-md-6">
                <input id="invitationOnly" type="checkbox" ng-model="form.invitationOnly" ng-change="enforceInvitationOnly()">
                <label for="invitationOnly"><img src="/assets/images/objects/protected.png"> Invitation-Only</label>
            </div>
            <div class="col-md-6">
                <select class="form-control"
                        ng-model="form.levelCap"
                        ng-controller="RewardsController"
                        ng-disabled="!form.levelCapAllowed">
                    <option value="">-- Level Cap --</option>
                    <option ng-repeat="level in levels" value="{{ level.number }}">{{ level.number + ': ' +
                        level.description }}
                    </option>
                </select>
            </div>
            <div class="col-md-6">
                <input id="perksAllowed" type="checkbox" ng-model="form.perksAllowed">
                <label for="perksAllowed"><img src="/assets/images/objects/gift.png"> Perks Allowed</label>
            </div>
            <div class="col-md-6">
                <input id="robotsAllowed" type="checkbox" ng-model="form.robotsAllowed">
                <label for="robotsAllowed"><img src="/assets/images/objects/robot.png"> Robots Allowed</label>
            </div>
        </div>
    </div>
    <div class="modal-footer st_modal_footer">
        <div class="col-md-12">
            <button class="btn btn-primary pull-left" style="margin-top: 10px" ng-click="create()">
                Create Game
            </button>
            <button class="btn btn-warning pull-right" style="float: right; margin-top: 10px" ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>
</script>
