<script type="text/ng-template" id="new_order_dialog.htm">
    <div class="modal-header modal_colors">
        <h4>Create New Order</h4>
    </div>
    <div class="modal-body" ng-init="init()">
        <div class="row">
            <div class="col-md-4">
                <select class="form-control" ng-model="form.orderType">
                    <option value="">BUY | SELL?</option>
                    <option value="BUY">BUY</option>
                    <option value="SELL">SELL</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="form.priceType">
                    <option value="">Pricing Method?</option>
                    <option value="MARKET">Market ($9.99)</option>
                    <option value="MARKET_ON_CLOSE">Market On Close ($14.99)</option>
                    <option value="LIMIT">Limit ($19.99)</option>
                    <option value="STOP_LIMIT">Stop Limit ($9.99)</option>
                </select>
            </div>
            <div class="col-md-4">
                <select class="form-control" ng-model="form.orderTerm">
                    <option value="">Order Term?</option>
                    <option value="GOOD_FOR_DAY">Good For The Day</option>
                    <option value="GOOD_FOR_7_DAYS">Good For 7 Days</option>
                    <option value="GOOD_FOR_30_DAYS">Good For 30 Days</option>
                    <option value="GOOD_FOR_60_DAYS">Good For 60 Days</option>
                    <option value="GOOD_UNTIL_CANCELED">Good Until Canceled</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 header">Symbol</div>
            <div class="col-md-4 header">Your Price</div>
            <div class="col-md-4 header">Quantity</div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <input class="form-control yellow"
                       type="text" ng-model="form.symbol"
                       placeholder="Enter Symbol or Company name"
                       typeahead="state as state.symbol + ' - ' + state.name for state in autoCompleteSymbols($viewValue) | filter:{symbol:$viewValue}"
                       typeahead-template-url="symbol_lookup.htm"
                       typeahead-loading="loading"
                       typeahead-on-select="orderQuote(form.symbol)">
                <img ng-click="orderQuote(form.symbol)"
                     ng-src="/assets/images/{{ loading ? 'status/loading.gif' : 'buttons/search.png' }}"
                     style="cursor: pointer; vertical-align: middle">
            </div>
            <div class="col-md-4">
                <input class="form-control yellow" ng-model="form.limitPrice" type="text" placeholder="Price">
            </div>
            <div class="col-md-4">
                <input class="form-control yellow" ng-model="form.quantity" type="text" placeholder="Quantity">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <span class="bold">{{ quote.name }}</span>
                <span ng-show="quote.exchange">(<span ng-class="quote.exchange">{{ quote.exchange }}</span>)</span>
                <span ng-hide="quote.name">&nbsp;</span>

                <span ng-show="quote.changePct > 0">&#8212;</span>
                <span ng-show="quote.changePct" ng-class="quote.changePct < 0 ? 'negative' : ''" style="margin-left: 5px">{{ quote.changePct | number:2 }}%</span>
                <changearrow value="{{ quote.changePct }}" style="vertical-align: bottom" />
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 header">Prev Close</div>
            <div class="col-md-3 header">Open</div>
            <div class="col-md-3 header">Day's High</div>
            <div class="col-md-3 header">Day's Low</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span ng-hide="quote.prevClose" class="null">N/A</span>
                <span ng-show="quote.prevClose">{{ quote.prevClose | number:2 }}</span>
            </div>
            <div class="col-md-3">
                <span ng-hide="quote.open" class="null">N/A</span>
                <span ng-show="quote.open">{{ quote.open | number:2 }}</span>
            </div>
            <div class="col-md-3">
                <span ng-hide="quote.high" class="null">N/A</span>
                <span ng-show="quote.high">{{ quote.high | number:2 }}</span>
            </div>
            <div class="col-md-3">
                <span ng-hide="quote.low" class="null">N/A</span>
                <span ng-show="quote.low">{{ quote.low | number:2 }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 header">Volume</div>
            <div class="col-md-3 header">Spread %</div>
            <div class="col-md-3 header">52-Wk High</div>
            <div class="col-md-3 header">52-Wk Low</div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <span ng-hide="quote.volume" class="null">N/A</span>
                <span ng-show="quote.volume">{{ quote.volume | number }}</span>
            </div>
            <div class="col-md-3">
                <span ng-hide="quote.spread" class="null">N/A</span>
                <span ng-show="quote.spread">{{ quote.spread | number:2 }}%</span>
            </div>
            <div class="col-md-3">
                <span ng-hide="quote.high52Week" class="null">N/A</span>
                <span ng-show="quote.high52Week">{{ quote.high52Week | number:2 }}</span>
            </div>
            <div class="col-md-3">
                <span ng-hide="quote.low52Week" class="null">N/A</span>
                <span ng-show="quote.low52Week">{{ quote.low52Week | number:2 }}</span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3 header" colspan="2">Total Cost</div>
            <div class="col-md-3"><span class="positive">$ {{ getTotal(form) | number:2 }}</span></div>
            <div class="col-md-6">
                    <label class="pull-left"><input ng-model="form.emailNotify" type="checkbox"> Notify by Email</label>
            </div>
        </div>

        <!-- error messages -->
        <div class="row">
            <ul class="error">
                <li class="error" ng-repeat="message in messages">
                    <span class="error">{{message}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer">
        <div class="col-md-6">
            <button class="btn btn-primary pull-left" ng-disabled="processing" ng-click="ok()">
                <img ng-show="processing" src="/assets/images/status/loading.gif"> Place Order
            </button>
        </div>
        <div class="col-md-6">
            <button class="btn btn-warning" ng-disabled="processing" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>