<script type="text/ng-template" id="new_game_dialog.html">
    <div class="modal-header st_modal_header">
        <h4 style="color: #345688">Create New Game</h4>
    </div>
    <div class="modal-body">
        <span ng-show="getMessages().length">
            <span class="error">Please correct the following:</span>
            <ul>
                <li class="error" ng-repeat="error in getMessages()">
                    <span class="error">{{ error }}</span>
                </li>
            </ul>
        </span>

        <div class="row">
            <div class="col-md-12">
                <label for="name" class="bold">Game Title</label>
                <input id="name" class="form-control col-md-12" ng-model="form.name"
                       placeholder="Enter the name of the game here">
            </div>
            <div class="col-md-12">
                <label for="startingBalance" class="bold">Buy-In / Initial Funds</label>
                <select id="startingBalance" class="form-control"
                        ng-model="form.startingBalance"
                        ng-options="b.label for b in startingBalances">
                </select>
            </div>
            <div class="col-md-12">
                <label for="duration" class="bold">Game Duration</label>
                <select id="duration" class="form-control"
                        ng-model="form.duration"
                        ng-options="d.label for d in durations">
                    <option value="">-- Choose a Duration --</option>
                </select>
            </div>
            <div class="col-md-6">
                <input id="startAutomatically" type="checkbox" ng-model="form.startAutomatically">
                <label for="startAutomatically"><i class="fa fa-clock-o st_orange"></i> Start Automatically</label>
            </div>
            <div class="col-md-6">
                <input id="friendsOnly" type="checkbox" ng-model="form.friendsOnly" ng-disabled="form.friendsOnly">
                <label for="friendsOnly"><i class="fa fa-users st_orange"></i> Friends-Only</label>
            </div>
            <div class="col-md-6">
                <input id="levelCapAllowed" type="checkbox" ng-model="form.levelCapAllowed">
                <label for="levelCapAllowed"><i class="fa fa-user-times st_orange"></i> Level Cap (by Rank)</label>
            </div>
            <div class="col-md-6">
                <input id="invitationOnly" type="checkbox" ng-model="form.invitationOnly" ng-change="enforceInvitationOnly()">
                <label for="invitationOnly"><i class="fa fa-lock st_orange"></i> Invitation-Only</label>
            </div>
            <div class="col-md-6">
                <select class="form-control"
                        ng-model="form.levelCap"
                        ng-disabled="!form.levelCapAllowed">
                    <option value="">-- Level Cap --</option>
                    <option ng-repeat="level in levels" value="{{ level.number }}">{{ level.number + ': ' + level.description }}</option>
                </select>
            </div>
            <div class="col-md-6">
                <input id="perksAllowed" type="checkbox" ng-model="form.perksAllowed">
                <label for="perksAllowed"><i class="fa fa-gift st_orange"></i> Perks Allowed</label>
            </div>
            <div class="col-md-6">
                <input id="robotsAllowed" type="checkbox" ng-model="form.robotsAllowed">
                <label for="robotsAllowed"><i class="fa fa-android st_orange"></i> Robots Allowed</label>
            </div>
        </div>
    </div>
    <div class="modal-footer st_modal_footer">
        <div class="col-md-12">
            <button class="btn btn-primary pull-left" style="margin-top: 10px" ng-click="createGame(form)">
                <img ng-show="isProcessing()" src="/images/status/loading16.gif" ng-disabled="isProcessing()"> Create Game
            </button>
            <button class="btn btn-warning pull-right" style="margin-top: 10px" ng-click="cancel()" ng-disabled="isProcessing()">
                Cancel
            </button>
        </div>
    </div>
</script>
