*.class
*.log
.DS_Store

# sbt specific
.cache
.history
.lib/
dist/
target/
temp/
lib_managed/
src_managed/
project/boot/
project/plugins/project/

# Scala-IDE specific
.scala_dependencies
.worksheet
*.iml

# app specific
bower_components
node_modules
public/javascripts/
*fastopt.js
*fastopt.js.map