@()
<h3>What is ShockTrade?</h3>

<p><i class="st_blue">ShockTrade</i> is an Online Interactive Trading Simulation and Stock Research System, designed to allow users to:</p>
<ul>
    <li>Test investment strategies</li>
    <li>Learn how to invest more effectively</li>
    <li>Or my personal favorite: Compete with <i class="fa fa-facebook-official st_blue">riends</i> for the bragging
        rights of who's actually the best investor</li>
</ul>

<p>And you can do all of this without risking any of your own capital!</p>

<h3>How it works</h3>

<p><i class="st_blue">ShockTrade</i> uses your existing Facebook credentials for authentication. So, if you already
    have a Facebook account, all you need to do is <a ng-click="SignUp()">Sign up</a> and get started. Once you've signed
    up just:
    <ul>
        <li>Join an existing game or create a new one</li>
        <li>Play with friends or make new ones</li>
        <li>Hone your existing skills or Learn ones</li>
    </ul>

<h3>Competing with Friends</h3>

<p><i class="st_blue">ShockTrade</i> is also a MMO (Massively Multiplayer Online) game with many built-in
    Social-networking capabilities.</p>

<h3>Are you a Developer?</h3>

<p>If you're a Java or Scala developer, download the <i class="st_blue">ShockTrade SDK</i> (<i>coming soon</i>) and develop your own custom
trading robots. Your trading robots can compete with real players and create "street cred" for you.</p>