@()
<h3>What is ShockTrade?</h3>

<p><i class="app_name">ShockTrade</i> is a Social Online Game and Trading Simulation designed to allow users to:</p>
<ul>
    <li>Test investment strategies</li>
    <li>Learn how to invest more effectively</li>
    <li>Or my personal favorite: Compete with <i class="fa fa-facebook-square st_fb_blue">riends</i> for the bragging
        rights of who's actually the best investor</li>
</ul>

<p>And you can do all of this without risking any of your own capital!</p>

<h3>How it works</h3>

<p ng-controller="MainController">
    <i class="app_name">ShockTrade</i> uses your existing <i class="fa fa-facebook-square st_fb_blue">acebook</i> credentials
    for authentication. So, if you already have a <i class="fa fa-facebook-square st_fb_blue">acebook</i> account, all
    you need to do is <a ng-click="signUp()">Sign up</a> and get started. Once you've signed up just:</p>

<ul>
    <li>Join an existing game or create a new one</li>
    <li>Play with friends or make new ones</li>
    <li>Hone your existing skills or Learn ones</li>
</ul>

<h4>Competing with Friends</h4>

<p><i class="app_name">ShockTrade</i> is also a MMO (Massively Multiplayer Online) game with many built-in
    Social-networking capabilities.</p>

<ul>
    <li>Play with your <i class="fa fa-facebook-square st_fb_blue">acebook</i> friends</li>
    <li>Post your triumphs and accompliments to <i class="fa fa-facebook-square st_fb_blue">acebook</i></li>
</ul>

<h4>Research Features</h4>

<p><i class="app_name">ShockTrade</i> has many built-in securities research utilities, including:</p>
<ul>
    <li><a href="#/research">Screener</a> &#8212; search for securities that meet your specific criteria</li>
    <li><a href="#/explore">Explore</a> &#8212; search for securities by Sector and Industry</li>
    <li><a href="#/discover">Discover</a> &#8212; view news and detailed information about specific securities</li>
</ul>

<h3>Are you a Developer?</h3>

<p>If you're a Java or Scala developer, download the <i class="st_blue">ShockTrade SDK</i> (<i>coming soon</i>) and
    develop your own custom trading robots. Trading Robots are software modules that autonomously perform trading of
    securities, and are capable of joining existing games. Your trading robots can compete with real players and create
    "street cred" for you.</p>