<div ng-controller="ActiveOrdersController" ng-init="initActiveOrders()">
    <div class="col-md-12">
        <div class="col-md-3 bold left">Symbol</div>
        <div class="col-md-2 bold left" ng-hide="isOrderSelected()">Type</div>
        <div class="col-md-2 bold right" ng-hide="isOrderSelected()">Your Price</div>
        <div class="col-md-2 bold right" ng-hide="isOrderSelected()">Market Price</div>
        <div class="col-md-3 bold right" ng-hide="isOrderSelected()">Shares</div>

        <div class="col-md-7 bold" ng-show="isOrderSelected()">
            <span ng-class="getExchangeClass(selectedOrder.exchange)">{{ selectedOrder.companyName }}</span>
        </div>
        <div class="col-md-2" ng-show="isOrderSelected()">
            <span class="st_bkg_color clickable pull-right" ng-click="toggleSelectedOrder()">
                <i class="fa fa-chevron-circle-left st_control"
                   title="Return to results"></i> Back
            </span>
        </div>
    </div>

    <div class="ordersContainer">
        <div class="col-md-offset-1 col-md-11" ng-show="getActiveOrders().length === 0">
            <i class="fa fa-warning warning"></i>
            <span class="warning">No active orders found</span>
        </div>

        <!-- Data Rows -->
        <div ng-class="{'col-md-12':(!isOrderSelected()), 'col-md-3':(isOrderSelected())}">
            <div class="col-md-12 clickable" ng-repeat="o in getActiveOrders() track by $index"
                 ng-class-even="'contest_even'"
                 ng-class-odd="'contest_odd'"
                 ng-class="selectedOrder.orderID === o.orderID ? 'selected' : ''"
                 ng-click="selectOrder(o)">
                <div class="col-md-3">
                    <span class="clickable" ng-class="getExchangeClass(o.exchange)" ng-click="loadQuote(o.symbol, true)">
                        <span ng-class="selectedOrder.orderID === o.orderID ? 'underlined' : ''">{{ o.symbol }}</span>
                    </span>
                </div>
                <div ng-hide="isOrderSelected()" class="col-md-2 left">{{ o.orderType }}</div>
                <div ng-hide="isOrderSelected()" class="col-md-2 right">
                    <span ng-show="o.price">$ {{ o.price | quoteNumber }}</span>
                    <span ng-hide="o.price" class="positive">MARKET</span>
                </div>
                <div ng-hide="isOrderSelected()" class="col-md-2 right">
                    <span ng-show="o.lastTrade">$ {{ o.lastTrade | quoteNumber }}</span>
                    <span ng-hide="o.lastTrade" class="null">Unavailable</span>
                </div>
                <div ng-hide="isOrderSelected()" class="col-md-3 right">{{ o.quantity | number }}</div>
            </div>
        </div>

        <!-- Expanded Section -->
        <div ng-if="isOrderSelected()" class="col-md-9">
            <div class="row">
                <div class="col-md-5 bold">Order #</div>
                <div class="col-md-7">{{ selectedOrder.orderID }}</div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Order Type</div>
                <div class="col-md-7">{{ selectedOrder.orderType }}</div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Creation Time</div>
                <div class="col-md-7">{{ selectedOrder.creationTime | duration }}</div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Expires</div>
                <div class="col-md-7" ng-show=" selectedOrder.expirationTime">{{ selectedOrder.expirationTime | duration }}</div>
                <div class="col-md-7" ng-hide=" selectedOrder.expirationTime" class="null">N/A</div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Exchange</div>
                <div class="col-md-7">
                    <span ng-class="getExchangeClass(selectedOrder.exchange)">{{ selectedOrder.exchange }}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Last Sale</div>
                <div class="col-md-7">
                    <span ng-show="selectedOrder.lastTrade">$ {{ selectedOrder.lastTrade | quoteNumber }}</span>
                    <span ng-hide="selectedOrder.lastTrade" class="null">Not Available</span>
                </div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Price</div>
                <div class="col-md-7">$ {{ selectedOrder.price | quoteNumber }}</div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Price Type</div>
                <div class="col-md-7">{{ selectedOrder.priceType }}</div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Quantity</div>
                <div class="col-md-7">{{ selectedOrder.quantity | number }}</div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Estimated Cost</div>
                <div class="col-md-7">$ {{ computeOrderCost(selectedOrder) | number:2 }}</div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Allow Partial Fulfillment</div>
                <div class="col-md-7">{{ selectedOrder.partialFulfillment ? "Yes" : "No" }}</div>
            </div>
            <div class="row">
                <div class="col-md-5 bold">Notify By Email</div>
                <div class="col-md-7">{{ selectedOrder.emailNotify ? "Yes" : "No" }}</div>
            </div>
            <div class="row">
                <div class="col-md-offset-5 col-md-7">
                    <button class="btn btn-default cancel_button"
                            ng-click="cancelOrder(contest.contestID, userProfile.userID, selectedOrder)">
                        <i class="fa fa-warning"></i> Cancel
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>