<div ng-controller="ChatController" ng-if="MySession.getUserID() && MySession.getContestID()">
    <div class="chat_messages">
        <div ng-bind-html="getMessages()"></div>
    </div>

    <div>
        <table style="width: 95%; margin-left: auto; margin-right: auto; margin-top: 5px; margin-bottom: 5px">
            <tr>
                <td ng-repeat="emoticon in getEmoticons()">
                    <a href="" ng-click="addSmiley(emoticon)" title="{{ emoticon.tooltip }}">
                        <img class="emoticon" ng-src="/assets/images/smilies/{{ emoticon.uri }}">
                    </a>
                </td>
            </tr>
        </table>
    </div>
    <div class="block_full">
		<textarea ng-model="chatMessage" class="chat_text_area"
                  ng-disabled="MySession.getContestStatus() === 'CLOSED'"></textarea>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default st_button"
                    ng-disabled="MySession.getContestStatus() === 'CLOSED'"
                    ng-click="sendChatMessage(chatMessage)">
                <i class="fa fa-paper-plane"></i> Send
            </button>
        </div>
        <div class="col-md-6">
            &nbsp;
        </div>
    </div>
</div>