<div>
    <div class="chat_messages">
        <div ng-bind-html="getChatMessages()"></div>
    </div>
    <div>
    <span class="pull-right" ng-repeat="emoticon in getEmoticons()">
        <a href="" ng-click="addSmiley(emoticon)" title="{{ emoticon.tooltip }}">
            <img class="emoticon" ng-src="/images/smilies/{{ emoticon.uri }}" style="margin: 2px 2px 2px 2px">
        </a>
    </span>
    </div>
    <div class="block_full">
		<textarea id="chatBox" ng-model="inputs.chatMessage" class="chat_text_area" showTail></textarea>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-default st_button" ng-click="sendChatMessage(inputs.chatMessage)">
                <i class="fa fa-paper-plane"></i> Send
            </button>
        </div>
        <div class="col-md-6">&nbsp;</div>
    </div>
</div>