<div>
    <div class="row">
        <span class="col-md-3">Players:</span>
        <span class="col-md-3">
            <span class="ds_heading">{{ contest.rankings.length || 1 }} / {{ maxPlayers }}</span>
        </span>

        <span class="col-md-3">
            <span class="ds_premium"><i ng-class="'fa fa-toggle-' + (contest.continuousTrading ? 'on' : 'off')"></i> Continuous Trading</span>
        </span>
        <span class="col-md-3">
            <span class="ds_heading"><i ng-class="'fa fa-toggle-' + (contest.startTime ? 'on' : 'off')"></i> Started</span>
        </span>
    </div>

    <div class="row">
        <span class="col-md-3">Buy-in:</span>
        <span class="col-md-3">
            <span class="ds_heading">$ {{ contest.startingBalance || 0 | number:0 }}</span>
        </span>

        <span class="col-md-3">
            <span class="ds_premium"><i ng-class="'fa fa-toggle-' + (contest.friendsOnly ? 'on' : 'off')"></i> Friends-Only</span>
        </span>
        <span class="col-md-3">
            <span class="ds_heading"><i ng-class="'fa fa-toggle-' + (contest.perksAllowed ? 'on' : 'off')"></i> Perks Allowed</span>
        </span>
    </div>

    <div class="row">
        <span class="col-md-3">Level Cap:</span>
        <span class="col-md-3">
            <span class="ds_heading" ng-show="contest.levelCap">Level {{ contest.levelCap }}</span>
            <span class="ds_heading" ng-hide="contest.levelCap">None</span>
        </span>

        <span class="col-md-3">
            <span class="ds_premium"><i ng-class="'fa fa-toggle-' + (contest.invitationOnly ? 'on' : 'off')"></i> Invitation-Only</span>
        </span>
        <span class="col-md-3">
            <span class="ds_heading"><i ng-class="'fa fa-toggle-' + (contest.robotsAllowed ? 'on' : 'off')"></i> Robots Allowed</span>
        </span>
    </div>
</div>