<div class="row" ng-controller="DashboardController" ng-init="initDash()">
    <div class="play_container">
        <div ng-show="isRankingsShown()" class="col-md-3">
            <div class="rankings_container">
                <div ng-repeat="p in contest.rankings | orderBy:'rank'" ng-class="getRankCellClass(p.rank)">
                    <div class="pull-left" style="display: inline">
                        <avatar id="{{ p.userID }}" class="avatar-45"></avatar>
                    </div>
                    <div class="pull-left" style="display: inline">
                        <div>
                            <img ng-src="/images/status/{{ isOnline(p) ? 'greenlight' : 'offlight' }}.png">
                            <span ng-class="'rank_' + p.rank">{{ p.rank }}</span>
                            <img ng-if="contest.status === 'CLOSED' && p.rank === '1st'" src="/images/contests/gold.png">
                            <img ng-if="contest.status === 'CLOSED' && p.rank === '2nd'" src="/images/contests/silver.png">
                            <img ng-if="contest.status === 'CLOSED' && p.rank === '3rd'" src="/images/contests/bronze.png">
                            <span class="null">&#8212;</span>
                            <span class="st_text_color" ng-click="showGamerCard(p.name)">{{ p.username }}</span>
                        </div>
                        <div>
                            <span class="positive">$ {{ p.totalEquity | number:2 }}</span>
                            <span ng-class="p.gainLoss >= 0 ? 'positive' : 'negative'">
                                <changearrow value="{{ p.gainLoss }}"></changearrow> {{ p.gainLoss | abs | number:2 }}%
                            </span>
                        </div>
                    </div>
                    <br style="clear: both">
                </div>
            </div>
        </div>

        <div ng-class="isRankingsShown() ? 'col-md-9' : 'col-md-12'">
            <div ng-show="contest.name" class="col-md-12 dashboard_title"><i class="fa fa-atom"></i>{{ contest.name }}</div>
            <div class="rankings_header">
                <i ng-show="isRankingsShown()" class="fa fa-chevron-circle-left st_control clickable" ng-click="toggleRankingsShown()"></i>
                <i ng-hide="isRankingsShown()" class="fa fa-chevron-circle-right st_control clickable" ng-click="toggleRankingsShown()"></i>
                <span class="st_bkg_color bold clickable" ng-click="toggleRankingsShown()">
                    {{ isRankingsShown() ? 'Hide' : 'Show'}} Player Rankings
                </span>
            </div>
            <div ng-controller="CashAccountController">
                <div ng-include src="'/views/dashboard/cash_account_summary.html'" style="margin-bottom: 10px" ng-show="portfolio.balance"></div>
                <div ng-include src="'/views/dashboard/portfolio_button_panel.html'" ng-show="userProfile.userID"></div>
                <div ng-include src="'/views/dashboard/portfolio_tabs.html'"></div>
            </div>
        </div>
    </div>
</div>