<div class="row"
    ng-controller="ExposureController" ng-init="exposureChart(getContestID(), getUserID(), selectedExposure)">
    <div class="col-md-12" style="padding-bottom: 4px">
        <select class="form-control symbol_input_text_field"
                ng-model="selectedExposure"
                ng-options="e.label for e in exposures"
                ng-change="exposureChart(getContestID(), getUserID(), selectedExposure)">
            <option value="">-- Select an Exposure --</option>
        </select>
    </div>

    <nvd3 ng-if="data" options="options" data="data"></nvd3>
</div>