<div class="row" ng-controller="ExposureController">
    <div class="col-md-12" style="padding-bottom: 4px">
        <select class="form-control" ng-model="exposure" ng-options="e.label for e in exposures">
        </select>
    </div>

    <div class="col-md-12">
        <div id="exposure_exchange" class="chart_area" ng-show="exposure.value === 'exchange'"></div>
        <span ng-if="exposure && MySession.getUserID()">
            {{ exposurePieChart(MySession.getContest(), 'exchange', MySession.getUserID(), "#exposure_exchange") }}
        </span>

        <div id="exposure_industry" class="chart_area" ng-show="exposure.value === 'industry'"></div>
        <span ng-if="exposure && MySession.getUserID()">
            {{ exposurePieChart(MySession.getContest(), 'industry', MySession.getUserID(), "#exposure_industry") }}
        </span>

        <div id="exposure_market" class="chart_area" ng-show="exposure.value === 'market'"></div>
        <span ng-if="exposure && MySession.getUserID()">
            {{ exposurePieChart(MySession.getContest(), 'market', MySession.getUserID(), "#exposure_market") }}
        </span>

        <div id="exposure_securities" class="chart_area" ng-show="exposure.value === 'securities'"></div>
        <span ng-if="exposure && MySession.getUserID()">
            {{ exposurePieChart(MySession.getContest(), 'securities', MySession.getUserID(), "#exposure_securities") }}
        </span>

        <div id="exposure_sector" class="chart_area" ng-show="exposure.value === 'sector'"></div>
        <span ng-if="exposure && MySession.getUserID()">
            {{ exposurePieChart(MySession.getContest(), 'sector', MySession.getUserID(), "#exposure_sector") }}
        </span>
    </div>
</div>