<div ng-controller="ExposureController">
    <div>
        Exposure Type:
        <select ng-model="exposure">
            <option value="sector">Sectors</option>
            <option value="industry">Industries</option>
            <option value="exchange">Exchanges</option>
            <option value="securities">Securities</option>
        </select>
    </div>
	<div id="exposure_chart"  class="chart_area"></div>
    <span ng-if="exposure && contest && MySession.getUserID()">
        {{ exposureBySector(contest, exposure, MySession.getUserID(), "#exposure_chart") }}
    </span>
</div>