<div>
    <div class="order_states white col-md-12">
        <span ng-hide="getPositions().length">No positions found</span>
        <span ng-show="getPositions().length === 1">{{ getPositions().length }} position found</span>
        <span ng-show="getPositions().length > 1">{{ getPositions().length }} positions found</span>
    </div>

    <div class="col-md-12">
        <div class="col-md-3 bold left">Symbol</div>
        <div class="col-md-3 bold right">Shares</div>
        <div class="col-md-3 bold right">Market Price</div>
        <div class="col-md-3 bold right">Market Value</div>
    </div>

    <div class="positionsContainer">
        <div class="col-md-12" ng-repeat="p in getPositions() track by $index"
             ng-class-even="'contest_even'"
             ng-class-odd="'contest_odd'"
             ng-click="selectPosition(p)">

            <!-- symbol -->
            <div class="col-md-3 left">
                <span ng-class="getExchangeClass(p.exchange)">
                    <i ng-click="toggleFavoriteSymbol(p.symbol)"
                       ng-class="isFavoriteSymbol(p.symbol) ? 'fa-heart heart' : 'fa-heart-o null'"
                       class="fa clickable"></i>
                    <span ng-click="popupPositionReviewDialog(contest.contestID, p.positionID)" class="clickable">{{ p.symbol }}</span>
                </span>
            </div>

            <!-- quantity -->
            <div class="col-md-3 right">
                {{ p.quantity | number }}
            </div>

            <!-- market price -->
            <div class="col-md-3 right">
                <span ng-show="p.lastTrade" class="right">$ {{ p.lastTrade | quoteNumber }}</span>
                <span ng-hide="p.lastTrade" class="right null">Unavailable</span>
            </div>

            <!-- market value -->
            <div class="col-md-3 right">
                $ {{ p.marketValue | number:2 }}
            </div>
        </div>
    </div>
</div>