<div class="row" ng-init="init()">
    <div class="col-md-6">
        <div class="col-md-12">
            <span class="alabel">Deposited Funds</span>
			<span class="afunds pull-right clickable" ng-click="marginAccountDialog()">
				<span class="fundsAvailable">{{ getDepositedFunds() | number:2 }}</span>
			</span>
			<span style="font-size: 9pt">
				&nbsp; (as of {{ getAsOfDate() | date:'MM/dd hh:mma' }})
			</span>
        </div>
        <div class="col-md-12">
            <span class="alabel">Effective Buying Power</span>
			<span class="afunds pull-right">
				<span class="totalInvestment">{{ getBuyingPower() | number:2 }}</span>
			</span>
        </div>
        <div class="col-md-12">
            <span class="alabel">Funds Available</span>
			<span class="afunds pull-right">
				<span class="fundsAvailable">{{ getMarginFundsAvailable() | number:2 }}</span>
			</span>
        </div>
    </div>

    <div class="col-md-6">
        <div class="col-md-12">
            <span class="alabel">Initial / Maintenance Margin</span>
			<span class="afunds pull-right">
                <span class="fundsAvailable">{{ 100.0 * getInitialMargin() | number:1 }}%</span> /
                <span class="st_green">{{ 100.0 * getMaintenanceMargin() | number:1 }}%</span>
            </span>
        </div>
        <div class="col-md-12">
            <span class="alabel">Interest Rate</span>
			<span class="afunds pull-right">
                <span class="fundsAvailable">{{ 100.0 * getInterestRate() | number:1 }}%</span>
            </span>
        </div>
        <div class="col-md-12">
            <span class="alabel">Account Status</span>
			<span class="afunds pull-right">
                <span ng-show="getNetMarginFundsAvailable() < 0" class="st_orange">Margin Call</span>
                <span ng-hide="getNetMarginFundsAvailable() < 0" class="st_green">Good Standing</span>
            </span>
        </div>
    </div>
</div>
