<div class="col-md-12">
	<div class="col-md-3 bold left">Symbol</div>
	<div class="col-md-2 bold left" ng-hide="isOrderSelected()">Type</div>
	<div class="col-md-2 bold right" ng-hide="isOrderSelected()">Your Price</div>
	<div class="col-md-2 bold right" ng-hide="isOrderSelected()">Market Price</div>
	<div class="col-md-3 bold right" ng-hide="isOrderSelected()">Shares</div>

	<div class="col-md-7 bold" ng-show="isOrderSelected()">
		<span ng-class="getExchangeClass(selectedOrder.exchange)">
            {{ selectedOrder.companyName }}
        </span>
	</div>
	<div class="col-md-2" ng-show="isOrderSelected()">
		<span class="st_bkg_color clickable pull-right" ng-click="toggleSelectedOrder()">
            <i class="fa fa-chevron-circle-left st_control"
			   title="Return to results"
			   src="/assets/images/buttons/back-24.png"></i> Back
        </span>
	</div>
</div>

<div class="ordersContainer">
	<div class="col-md-offset-1 col-md-11" ng-show="getActiveOrders(contest).length === 0">
		<img src="/assets/images/status/alert.gif">
		<span class="warning">No active orders found</span>
	</div>

	<!-- Data Rows -->
	<div ng-class="{'col-md-12':(!isOrderSelected()), 'col-md-3':(isOrderSelected())}">
		<div class="col-md-12 clickable" ng-repeat="o in getActiveOrders(contest)" ng-class-even="'contest_even'" ng-class-odd="'contest_odd'"
			 ng-click="selectOrder(o)">
			<div class="col-md-3">
                <span class="clickable" ng-class="getExchangeClass(o.exchange)" ng-click="loadQuote(o.symbol, true)">
                    <span ng-class="selectedOrder.OID() === o.OID() ? 'underlined' : ''">{{ o.symbol }}</span>
                </span>
			</div>
			<div ng-hide="isOrderSelected()" class="col-md-2 left">{{ o.orderType }}</div>
			<div ng-hide="isOrderSelected()" class="col-md-2 right">$ {{ o.price | quoteNumber }}</div>
			<div ng-hide="isOrderSelected()" class="col-md-2 right">
                <span ng-show="o.lastTrade">$ {{ o.lastTrade | quoteNumber }}</span>
                <span ng-hide="o.lastTrade" class="null">Unavailable</span>
            </div>
			<div ng-hide="isOrderSelected()" class="col-md-3 right">{{ o.quantity | number }}</div>
		</div>
	</div>

	<!-- Expanded Section -->
	<div ng-if="isOrderSelected()" class="col-md-9">
        <div class="col-md-4 bold">Order Type</div>
        <div class="col-md-8">{{ selectedOrder.orderType }}</div>

		<div class="col-md-4 bold">Creation Time</div>
		<div class="col-md-8">{{ selectedOrder.creationTime | date:'MM/dd hh:mma' }}</div>

		<div class="col-md-4 bold">Expiration Time</div>
		<div ng-show="selectedOrder.expirationTime" class="col-md-8">{{ selectedOrder.expirationTime | date:'MM/dd hh:mma' }}</div>
        <div ng-hide="selectedOrder.expirationTime" class="col-md-8">Until Canceled</div>

		<div class="col-md-4 bold">Exchange</div>
		<div class="col-md-8">
			<span ng-class="getExchangeClass(selectedOrder.exchange)">{{ selectedOrder.exchange }}</span>
		</div>

		<div class="col-md-4 bold">Price</div>
		<div class="col-md-8">$ {{ selectedOrder.price | quoteNumber }}</div>

		<div class="col-md-4 bold">Quantity</div>
		<div class="col-md-8">{{ selectedOrder.quantity | number }}</div>

        <div class="col-md-4 bold">Estimated Cost</div>
        <div class="col-md-8">{{ selectedOrder.quantity | number }}</div>

		<div class="col-md-offset-4 col-md-8">
			<button class="btn btn-default cancel_button"
					ng-click="cancelOrder(contest.OID(), participant.OID(), selectedOrder.OID())">
                <i class="fa fa-warning"></i> Cancel
			</button>
		</div>
	</div>
</div>
