<div>
    <div class="order_states col-md-12">
        <span class="col-md-4">
            <span ng-hide="getOrders().length">No orders found</span>
            <span ng-show="getOrders().length === 1">{{ getOrders().length }} order found</span>
            <span ng-show="getOrders().length > 1">{{ getOrders().length }} orders found</span>
        </span>
        <span class="col-md-4">
            Status: <select ng-model="orderInputs.status"
                            ng-options="f.label for f in orderFilters"
                            ng-change="loadOrders(contest.contestID, userProfile.userID)"
                            style="font-weight: normal; color: #000000">
                    </select>
                    <img ng-show="isLoadingOrders" src="/images/status/loading16.gif">
        </span>
        <span class="col-md-4">
            <span ng-click="popupNewOrderDialog(contest.contestID, userProfile.userID, selectedSymbol)" class="clickable pull-right" style="padding-right: 16px">
                <i class="fa fa-plus-circle"></i> Create a new order.
            </span>
        </span>
    </div>
    <div class="col-md-12">
        <div class="col-md-2 bold left">Symbol</div>
        <div class="col-md-2 bold left">Terms</div>
        <div class="col-md-2 bold right">Your Price</div>
        <div class="col-md-2 bold right">Shares</div>
        <div class="col-md-4 bold left">Status</div>
    </div>

    <div class="ordersContainer">
        <!-- Data Rows -->
        <div class="col-md-12">
            <div class="col-md-12 clickable" ng-repeat="o in getOrders() track by $index"
                 ng-class-even="'contest_even'"
                 ng-class-odd="'contest_odd'">
                <div class="col-md-2">
                    <span ng-class="selectedOrder.orderID === o.orderID ? 'underlined' : ''">
                        <i ng-click="toggleFavoriteSymbol(o.symbol)"
                           ng-class="isFavoriteSymbol(o.symbol) ? 'fa-heart heart' : 'fa-heart-o null'"
                           class="fa clickable"></i>
                        <span class="clickable"
                              ng-class="getExchangeClass(o.exchange)"
                              ng-click="popupOrderReviewDialog(o.orderID)">{{ o.symbol }}</span>
                    </span>
                </div>
                <div class="col-md-2 left">{{ o.orderType }} &#8212; {{ o.priceType }}</div>
                <div class="col-md-2 right">
                    <span ng-show="o.priceType == 'LIMIT'">$ {{ o.price | quoteNumber }}</span>
                    <span ng-hide="o.priceType == 'LIMIT'" class="positive">$ {{ o.lastTrade | quoteNumber }}</span>
                </div>
                <div class="col-md-2 right">
                    <div>{{ o.quantity | number }}</div>
                </div>
                <div class="col-md-4 left">
                    <span ng-show="o.message" ng-class="{'positive':o.fulfilled, 'error':!o.fulfilled}">{{ o.message }}</span>
                    <span ng-show="!o.message && !o.closed" class="positive">Pending</span>
                    <span ng-show="!o.message && o.closed && !o.fulfilled">Closed</span>
                    <span ng-show="!o.message && o.closed && o.fulfilled">Processed {{ o.processedTime | duration }}</span>
                </div>
            </div>
        </div>
    </div>
</div>