<div ng-class="getPlayerRankCellClass(player)">
    <div lass="pull-left" style="display: inline">
        <div class="pull-left" style="display: inline">
            <avatar id="{{ player.userID }}" class="avatar-45 clickable" ng-click="popupPlayerProfile(player.userID)"></avatar>
        </div>
        <div class="pull-left" style="display: inline; width: 60%">
            <div>
                <img ng-src="/images/status/{{ isOnline(player.userID) == true ? 'greenlight' : 'offlight' }}.png">
                <span ng-class="'rank_' + player.rank">{{ player.rank }}</span>
                <img ng-if="contest.status === 'CLOSED' && player.rank === '1st'" src="/images/contests/gold.png">
                <img ng-if="contest.status === 'CLOSED' && player.rank === '2nd'" src="/images/contests/silver.png">
                <img ng-if="contest.status === 'CLOSED' && player.rank === '3rd'" src="/images/contests/bronze.png">
                <span class="null">&#8212;</span>
                <span class="st_text_color clickable" ng-click="popupPlayerProfile(player.userID)">{{ player.username }}</span>
            </div>
            <div>
                <span class="positive">$ {{ player.totalEquity | number: 2 }}</span>
                <span ng-class="player.gainLoss >= 0 ? 'positive' : 'negative'">
                    <changearrow value="{{ player.gainLoss }}"></changearrow>
                    <span ng-show="player.gainLoss > -10 && player.gainLoss < 10">{{ player.gainLoss | abs | number:1 }}%</span>
                    <span ng-hide="player.gainLoss > -10 && player.gainLoss < 10">{{ player.gainLoss | abs | number:0 }}%</span>
                </span>
            </div>
        </div>
        <div>
            <span class="pull-right"
                  ng-class="player.totalXP >= 0 ? 'xp' : 'neg_xp'"
                  ng-show="player.totalXP">{{ player.totalXP || 0 | number:1 }}xp &nbsp;</span>
        </div>
    </div>
    <br style="clear: both">
</div>