<div>
	<div ng-include src="'/assets/views/dashboard/summary.htm'" style="margin-bottom: 10px"></div>
    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-default sell_button bold"
                    ng-click="perksDialog()"
                    ng-hide="MySession.getContestStatus() === 'CLOSED'"
                    title="Create a new order">
                <i class="fa fa-cart-plus"></i> Perks
            </button>

            <button class="btn btn-default sell_button bold pull-right"
                    ng-click="popupNewOrderDialog()"
                    ng-hide="MySession.getContestStatus() === 'CLOSED'"
                    title="Create a new order">
                <i class="fa fa-cart-plus"></i> Order
            </button>
        </div>
    </div>
    <tabset style="margin-top: 10px; margin-bottom: 10px">
        <tab ng-repeat="tab in portfolioTabs" active="tab.active" disabled="tab.isLocked()" select="tab.init()">
            <tab-heading>
                <i ng-show="tab.icon" class="fa" ng-class="tab.icon"></i>
                <img ng-hide="tab.icon" ng-src="{{ tab.imageURL }}"> {{ tab.name }}
            </tab-heading>
            <div class="portfolio_tab" ng-include src="tab.path"></div>
        </tab>
    </tabset>
</div>