<div class="col-md-12 portfolio_button_panel">
    <!-- US Markets Time -->
    <span ng-show="clock" class="ds_clock pull-left">{{ clock | date: 'EEE MM/dd hh:mm:ss a' }}</span>

    <!-- refresh button -->
    <span ng-click="initDash()" title="Refresh the dashboard" style="margin-left: 5px">
        <img src="/images/status/loading16.gif" ng-show="isRefreshing">
        <i class="fa fa-refresh refresh_button clickable" ng-hide="isRefreshing"></i>
    </span>

    <!-- US Markets Open/Closed -->
    <span class="pull-right" ng-class="isUSMarketsOpen(contest.contestID) === undefined ? 'mks_loading' : (isUSMarketsOpen(contest.contestID) ? 'mks_open' : 'mks_closed')">
        <img ng-show="isUSMarketsOpen(contest.contestID) === null" src="/images/status/loading16.gif">
        {{ isUSMarketsOpen(contest.contestID) === undefined ? 'US Markets ....' : (isUSMarketsOpen(contest.contestID) ? 'US Markets Open' : 'US Markets Closed') }}
    </span>

</div>