<div class="row">
	<div class="col-md-6">
		<div class="col-md-12">
			<span class="alabel">Cash Available:</span>
			<span class="afunds pull-right">
				<span class="fundsAvailable">{{ portfolio.balance.funds || 0.00 | number:2 }}</span>
			</span>
			<span style="font-size: 9pt">
				&nbsp; (as of {{ portfolio.balance.asOfDate | date:'MM/dd hh:mma' }})
			</span>
		</div>
		<div class="col-md-12">
			<span class="alabel">Investments:</span>
			<span class="afunds pull-right">
				<span class="totalInvestment">{{ portfolio.balance.equity || 0.00 | number:2 }}</span>
			</span>
		</div>
		<div class="col-md-12">
			<span class="alabel">Total Equity:</span>
			<span class="afunds pull-right">
				<span class="fundsAvailable">{{ portfolio.balance.funds + portfolio.balance.equity || 0.00 | number:2 }}</span>
			</span>
		</div>
	</div>

	<div class="col-md-6">
		<div class="col-md-12">
			<span class="alabel">Pending Orders:</span>
			<span class="afunds pull-right">
                <span class="fundsAvailable">{{ portfolio.balance.totalBuyOrders + portfolio.balance.totalSellOrders || 0.00 | number:2 }}</span>
            </span>
		</div>
		<div class="col-md-12">
			<!-- Pending Orders (BUY) -->
			<span class="alabel">&nbsp; BUY Orders:</span>
			<span class="afunds pull-right">
				<span ng-class="portfolio.balance.totalBuyOrders > portfolio.balance.funds ? 'profitable' : 'unprofitable'">
					{{ portfolio.balance.totalBuyOrders || 0.00 | number:2 }}
				</span>
			</span>
		</div>
		<div class="col-md-12">
			<!-- Pending Orders (SELL) -->
			<span class="alabel">&nbsp; SELL Orders:</span>
			<span class="afunds pull-right">
                <span class="fundsAvailable">{{ portfolio.balance.totalSellOrders || 0.00 | number:2 }}</span>
            </span>
		</div>
	</div>
</div>
