<div ng-class="getRankCellClass(player.rank)">
    <div class="pull-left" style="display: inline">
        <avatar id="{{ player.userID }}" class="avatar-45"></avatar>
    </div>
    <div class="pull-left" style="display: inline">
        <div>
            <img ng-src="/images/status/{{ isOnline(player.userID) ? 'greenlight' : 'offlight' }}.png">
            <span ng-class="'rank_' + player.rank">{{ player.rank }}</span>
            <img ng-if="contest.status === 'CLOSED' && player.rank === '1st'" src="/images/contests/gold.png">
            <img ng-if="contest.status === 'CLOSED' && player.rank === '2nd'" src="/images/contests/silver.png">
            <img ng-if="contest.status === 'CLOSED' && player.rank === '3rd'" src="/images/contests/bronze.png">
            <span class="null">&#8212;</span>
            <span class="st_text_color" ng-click="showGamerCard(player.name)">{{ player.username }}</span>
        </div>
        <div>
            <span class="positive">$ {{ player.totalEquity | number:2 }}</span>
            <span ng-class="player.gainLoss >= 0 ? 'positive' : 'negative'">
                <changearrow value="{{ player.gainLoss }}"></changearrow> {{ player.gainLoss | abs | number:2 }}%
            </span>
        </div>
    </div>
    <br style="clear: both">
</div>