/*********************************************************************************
 * 							Global Styles										 *
 *********************************************************************************/ 

* {
 	/* font-family: "Times New Roman", Times, serif; */ 
 	font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
}
 
a { cursor: pointer; }
a:link    { cursor: pointer; text-decoration: none; }
a:visited { cursor: pointer; text-decoration: none; }
a:hover   { cursor: pointer; text-decoration: none; }
a:active  { cursor: pointer; text-decoration: none; }

.avatar-16 {
	width: 16px;
	height: 16px;
}

.avatar-20 {
    width: 20px;
    height: 20px;
}

.avatar-24 {
	width: 24px;
	height: 24px;
    margin: 3px;
}

.avatar-32 {
    width: 32px;
    height: 32px;
}

.avatar-45 {
    width: 45px;
    height: 45px;
    margin: 3px;
}

.avatar-53 {
	width: 53px;
	height: 53px;
	margin: 2px 0px 2px 0px;
}

.avatar-75 {
	width: 75px;
	height: 75px;
    margin: 3px;
}

body {
	min-width: 1024px;
}

.clickable {
	cursor: pointer;
}

.fb_icon {
	color: #2e6da4;
}

.st_bkg_color {
	color: #337ab7;
}

.st_brd_color {
	color: #2e6da4;
}

.white {
    color: #ffffff;
}

.fb {
	color: #3a5795;
}

.heart {
	color: #ff0000;
}

legend {
    border-bottom: 1px solid #cccccc;
}

.nav_icon {
    font-size: 24px;
}

.st_heading {
	font-size: 14pt;
}

.st_indent {
	margin-left: 16px;
}

.st_sub_heading {
	font-size: 12pt;
}

.st_close {
	border: 1px solid #ff8000;
	color: #ff8000;
	cursor: pointer;
}

.st_control {
    color: #ff8000;
	cursor: pointer;
}

.st_nav_selected {
    color: #337ab7;
}

.st_text_color {
    color: #337ab7;
}

.st_blue {
	color: #337ab7;
}

.st_orange {
    color: #ff8000;
}

.st_green {
    color: #00aa88;
}

.transparent {
	color: #eeeeee;
}

div.st_nav_bar {
    padding: 6px;
}

li.st_nav_bar {
    margin-top: 16px;
    margin-bottom: 16px;
}

body {
	/* background-image: url('/assets/images/backgrounds/matrix1.jpg'); */
	background: #f0f0f0;
	min-width: 1024px;
	margin-left: 10px;
	margin-right: 10px;
}

.bold {
	font-weight: bold
}

.header {
	font-weight: bold;
	color: #337ab7;
}

table {
	border-collapse: collapse
}

table td, table th
{
    padding: 0; /* 'cellpadding' equivalent */
}

.emphasis {
	color: #337ab7
}

img.profile_pic {
	border-radius: 6px 6px 6px 6px;
	width: 60px;
	height: 60px;
}

img.st_rounded {
    border: 1px solid #dddddd;
    border-radius: 4px 4px 4px 4px;
}

.st_modal_header {
	background-color: #dddddd;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px
}

.st_modal_footer {
	background-color: #dddddd;
}

.selected {
	font-weight: bold;
	color: #ff8000;
}

.wrapper input[type="text"] {
    position: relative;
}

input { font-family: 'FontAwesome'; } /* This is for the placeholder */

.wrapper:before {
    font-family: 'FontAwesome';
    position: relative;
    left: -5px;
    content: "\f007";
}

.even {

}

.odd {
    background-color: #ffffff
}

.padding-left-16 {
	padding-left: 16px
}

th {
	vertical-align: top;
	text-align: left;
	color: #000088
}

td {
	vertical-align: top;
	text-align: left
}

/*********************************************************************************
 * 							Button Definitions									 *
 *********************************************************************************/

.st_button {
	background-color: #ff8000;
	border-radius: 4px;
	font-weight: bold;
	color: white;
	cursor: pointer;
}

.st_cond_button {
	background-color: #ff8000;
	border-radius: 4px;
	font-weight: bold;
	color: black;
	cursor: pointer;
}

.cancel_button {
	background-color: #ff8000;
	border-radius: 4px;
	color: white;
	font-weight: bold;
}

/*********************************************************************************
 * 							Global Text Definitions								 *
 *********************************************************************************/

span.error {
	color: #ff0000;
	font-weight: bold
}

ul.error {
	list-style-image: url("/assets/images/status/redlight.png");
}

.error_bar {	
	border: 1px solid #aa0000;
	background-color: #ffcc44;	
 	color: #cc2222; 
	vertical-align: middle;
	font-weight: bold;
	width: auto;
	height: auto	
}

.warning {
	color: #cc8822;
	font-weight: bold
}

.notice {
	color: #cc8822; 
	font-weight: bold	
}

.negative {
	color: red
}

.null {
	color: #bbbbbb
}

.positive {
	color: green
}

.restricted {
	color: #ff6600; 
	font-weight: bold
}

.plain {
	font-weight: normal;
	color: black
}

.underlined {
	text-decoration: underline;
}

/*********************************************************************************
 * 							Alignment Classes									 *
 *********************************************************************************/
 
.center {
 	text-align: center
}
 
.inline {
 	display: inline
}

.left {
	text-align: left
}
 
.right {
	text-align: right
}
 
.top {
	vertical-align: top
}

.middle {
	vertical-align: middle
}
 
.bottom {
	vertical-align: bottom
}
