<div>
	<div class="col-md-3 bold">Symbol</div>
	<div ng-hide="isOrderSelected()" class="col-md-3 bold right">Your Price</div>
	<div ng-hide="isOrderSelected()" class="col-md-3 bold right">Market Price</div>
	<div ng-hide="isOrderSelected()" class="col-md-3 bold right">Quantity</div>

	<div ng-show="isOrderSelected()" class="col-md-8">
		<span class="bold" ng-class="getExchangeClass(selectedOrder.exchange)">{{ selectedOrder.companyName }}</span>
	</div>
	<div ng-show="isOrderSelected()" class="col-md-1">
		<img class="clickable pull-right"
			 ng-click="toggleSelectedOrder()"
			 title="Return to results"
			 src="/assets/images/buttons/back-24.png">
	</div>
</div>

<div class="row positionsContainer">
	<div class="col-md-12 center" ng-show="getClosedOrders(contest).length === 0">
		<img src="/assets/images/status/alert.gif">
		<span class="warning">No orders found</span>
	</div>

	<!-- Data Rows -->
	<div ng-class="{'col-md-12':(!isOrderSelected()), 'col-md-3':(isOrderSelected())}">
		<div class="col-md-12 clickable" ng-repeat="o in getClosedOrders(contest)"
			 ng-class="selectedOrder.OID() === o.OID() ? 'selected' : ''"
			 ng-click="selectOrder(o)">
			<div class="col-md-3">
                <span class="clickable"
					  ng-class="getExchangeClass(o.exchange)"
					  ng-click="loadQuote(o.symbol, true)">{{ o.symbol }}</span>
			</div>
			<div ng-hide="isOrderSelected()" class="col-md-3 right">$ {{ o.price | number:2 }}</div>
			<div ng-hide="isOrderSelected()" class="col-md-3 right">
				<span ng-show="o.lastTrade">$ {{ o.lastTrade | number:2 }}</span>
				<span ng-hide="o.lastTrade" class="null">Unavailable</span>
			</div>
			<div ng-hide="isOrderSelected()" class="col-md-3 right">{{ o.quantity | number }}</div>
		</div>
	</div>

	<!-- Expanded Section -->
	<div ng-if="isOrderSelected()" class="col-md-9">
		<div class="col-md-4 bold">Order Type</div>
		<div class="col-md-8">{{ selectedOrder.orderType }}</div>

		<div class="col-md-4 bold">Creation Time</div>
		<div class="col-md-8">{{ selectedOrder.creationTime | date:'MM/dd hh:mma' }}</div>

		<div class="col-md-4 bold">Expiration Time</div>
		<div ng-show="selectedOrder.expirationTime" class="col-md-8">{{ selectedOrder.expirationTime | date:'MM/dd hh:mma' }}</div>
		<div ng-hide="selectedOrder.expirationTime" class="col-md-8 null">NONE</div>

		<div class="col-md-4 bold">Exchange</div>
		<div class="col-md-8">
			<span ng-class="getExchangeClass(selectedOrder.exchange)">{{ selectedOrder.exchange }}</span>
		</div>

		<div class="col-md-4 bold">Price</div>
		<div class="col-md-8">$ {{ selectedOrder.price | number:2 }}</div>

		<div class="col-md-4 bold">Quantity</div>
		<div class="col-md-8">{{ selectedOrder.quantity | number }}</div>

		<div class="col-md-offset-4 col-md-8">
			<button class="btn btn-default cancel_button"
					ng-click="cancelOrder(contest.OID(), participant.OID(), selectedOrder.OID())"> Cancel
			</button>
		</div>
	</div>
</div>