<span ng-hide="contest.status == 'CLOSED'">
	Status: 
	<input ng-model="orderChoice" type="radio" value="active"> Active
	<input ng-model="orderChoice" type="radio" value="history"> Closed
	<img ng-show="contest.status == 'ACTIVE'" 
		ng-click="orderFormPopup()"
		src="/assets/images/buttons/cart_add.png" 
		title="Create new order"
		style="cursor: pointer; float: right; vertical-align: bottom; margin-top: 3px; margin-right: 16px">
</span>
<div ng-include src="'/assets/views/play/portfolio/orders_' + orderChoice + '.htm'" 
	 ng-hide="contest.status == 'CLOSED'"></div>
<div ng-include src="'/assets/views/play/portfolio/orders_history.htm'" 
	 ng-show="contest.status == 'CLOSED'"></div>
	 
<script type="text/ng-template" id="order_form.htm">
	<div class="modal-header">
   		<h4>Create Order</h4>
    </div>
    <div id="order_dialog" class="modal-body" ng-init="init()">
		<div style="display: block; width: 100%">
		<table style="width: 100%">
			<tr>
				<td colspan="4">
					<table style="width: 100%">
						<tr>
							<td class="info">
								<select ng-model="order.orderType" class="input-medium">
									<option value="">BUY | SELL?</option>	
									<option value="BUY">BUY</option>
									<option value="SELL">SELL</option>
								</select>
							</td>	
							<td class="info">
								<select ng-model="order.priceType" class="input-large">
									<option value="">Pricing Method?</option>
									<option value="MARKET">Market ($9.99)</option>
									<option value="MARKET_ON_CLOSE">Market On Close ($14.99)</option>
									<option value="LIMIT">Limit ($19.99)</option>
									<option value="STOP_LIMIT">Stop Limit ($9.99)</option>
								</select>
							</td>	
							<td class="info">
								<select ng-model="order.orderTerm" class="input-medium">
									<option value="">Order Term?</option>
									<option value="GOOD_FOR_DAY">Good For The Day</option>
									<option value="GOOD_FOR_7_DAYS">Good For 7 Days</option>
									<option value="GOOD_FOR_30_DAYS">Good For 30 Days</option>
									<option value="GOOD_FOR_60_DAYS">Good For 60 Days</option>
									<option value="GOOD_UNTIL_CANCELED">Good Until Canceled</option>
								</select>
							</td>	
						</tr>
					</table>
				</td>	
			</tr>
			<tr>
				<td colspan="4">
					<table style="width: 100%">
						<tr>
							<th>Symbol</th>
							<th>Your Price</th>
							<th>Quantity</th>
						</tr>
						<tr>
							<td class="info">
								<input type="text" ng-model="order.symbol" 
									placeholder="Enter Symbol or Company name" 
									typeahead="state as state.symbol + ' - ' + state.name for state in autoCompleteSymbols($viewValue) | filter:{symbol:$viewValue}" 
									typeahead-template-url="symbol_lookup.htm" 
									typeahead-loading="loading"
									typeahead-on-select="orderQuote(order.symbol)"
									style="background-color: #ffff00"
									class="input-large">
								<img ng-click="orderQuote(order.symbol)" 
									ng-src="/assets/images/{{ loading ? 'status/loading.gif' : 'buttons/search.png' }}" 
									style="cursor: pointer; vertical-align: middle">
							</td>
							<td class="info">
								<input ng-model="order.limitPrice" type="text" placeholder="Price" style="background-color: #ffff00" class="input-small"">
							</td>
							<td class="info">
								<input ng-model="order.quantity" type="text" placeholder="Quantity" style="background-color: #ffff00" class="input-small">
							</td>
						</tr>
					</table>
				</td>							
			</tr>	
			<tr>
				<td colspan="4">
					<span style="font-weight: bold">{{ quote.name }}</span>
					<span ng-show="quote.exchange">(<span ng-class="quote.exchange">{{ quote.exchange }}</span>)</span>
					<span ng-hide="quote.name">&nbsp;</span>
					
					<span ng-show="quote.changePct > 0">&#8212;</span>
					<span ng-show="quote.changePct != null" ng-class="quote.changePct < 0 ? 'negative' : ''" style="margin-left: 5px">{{ quote.changePct | number:2 }}%</span>
					<changearrow value="{{ quote.changePct }}" style="vertical-align: bottom" />
					<hr>
				</td>
			</tr>
			<tr>
				<th class="info">Prev Close</th>
				<th class="info">Open</th>
				<th class="info">Day's High</th>
				<th class="info">Day's Low</th>
			</tr>
			<tr>
				<td class="info">
					<span ng-show="quote.prevClose == null" class="null">N/A</span>
					<span ng-show="quote.prevClose != null">{{ quote.prevClose | number:2 }}</span>							
				</td>
				<td class="info">
					<span ng-show="quote.open == null" class="null">N/A</span>
					<span ng-show="quote.open != null">{{ quote.open | number:2 }}</span>						
				</td>
				<td class="info">
					<span ng-show="quote.high == null" class="null">N/A</span>
					<span ng-show="quote.high != null">{{ quote.high | number:2 }}</span>						
				</td>							
				<td class="info">
					<span ng-show="quote.low == null" class="null">N/A</span>
					<span ng-show="quote.low != null">{{ quote.low | number:2 }}</span>										
				</td>
			</tr>
			<tr>
				<th class="info">Volume</th>
				<th class="info">Spread %</th>
				<th class="info">52-Wk High</th>
				<th class="info">52-Wk Low</th>
			</tr>
			<tr>
				<td>
					<span ng-show="quote.volume == null" class="null">N/A</span>
					<span ng-show="quote.volume != null">{{ quote.volume | number }}</span>						
				</td>
				<td>	
					<span ng-show="quote.spread == null" class="null">N/A</span>
					<span ng-show="quote.spread != null">{{ quote.spread | number:2 }}%</span>				
				</td>
				<td>
					<span ng-show="quote.high52Week == null" class="null">N/A</span>
					<span ng-show="quote.high52Week != null">{{ quote.high52Week | number:2 }}</span>									
				</td>
				<td>
					<span ng-show="quote.low52Week == null" class="null">N/A</span>
					<span ng-show="quote.low52Week != null">{{ quote.low52Week | number:2 }}</span>					
				</td>
			</tr>
			<tr>
				<th class="info" colspan="2">Total Cost</th>
			</tr>		
			<tr>
				<td colspan="2">
					<div style="width: 100%; color: #00a050">
						$ {{ getTotal(order) | number:2 }}
					</div>
				</td>
				<td colspan="2">
					<span style="float: left">
						<label><input ng-model="order.emailNotify" type="checkbox"> Notify by Email</label>
					</span>
				</td>
			</tr>		
		</table>
		</div>
		<div style="width: 100%; margin-top: 20px">
			<ul>
				<il ng-repeat="message in messages">
					<div style="color: #ff0000">
						<img src="/assets/images/status/redlight.gif"> {{message}}
					</div>
				</il>
			</ul>
		</div>							
    </div>
	<div class="modal-footer">	
    	<button class="btn btn-primary" ng-click="ok()">Place Order</button>
        <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
    </div>
</script>
	
		 