<div style="background-color: #dddddd">
	<div class="col-md-2 bold left">&nbsp; Date</div>
    <div class="col-md-2 bold left">Type</div>
	<div class="col-md-2 bold left">Symbol</div>
    <div class="col-md-2 bold right">Quantity</div>
	<div class="col-md-2 bold right">Order Price</div>
	<div class="col-md-2 bold right">Market Price</div>
</div>

<div class="ordersContainer">
	<div class="col-md-12 center" ng-show="getActiveOrders(contest).length === 0">
		<span class="warning">
			<img src="/assets/images/status/alert.gif">  No active orders found
		</span>
	</div>

	<div class="row" ng-repeat="order in getActiveOrders(contest)" ng-class-even="'even'" ng-class-odd="'odd'">
		<div class="col-md-2 left">
			<!-- cancel order button -->
			<img src="/assets/images/buttons/delete.png"
                 class="clickable top"
                 ng-click="cancelOrder(contest.OID(), participant.OID(), order.OID())">

			<!-- order date -->
			<span ng-show="order.creationTime >= tradingStart()">{{ order.creationTime | date:'hh:mma' }}</span>
			<span ng-show="order.creationTime < tradingStart()">{{ order.creationTime | date:'MM/dd/yyyy' }}</span>
		</div>
        <div class="col-md-2 left">{{ order.orderType }}</div>
		<div class="col-md-2 left">
            <span class="clickable"
                  ng-class="order.exchange"
                  ng-click="loadQuote(order.symbol)">{{ order.symbol }}</span>
		</div>
        <div class="col-md-2 right">{{ order.quantity | number }}</div>
		<div class="col-md-2 right">
			<span ng-show="isMarketOrder(order)" class="positive">MARKET</span>
			<span ng-hide="isMarketOrder(order)">{{ order.limitPrice | number:2 }}</span>
		</div>
		<div class="col-md-2 right">
			<span ng-show="order.lastTrade != null">{{ order.lastTrade | number:2 }}</span>
			<span ng-show="order.lastTrade == null" class="null">N/A</span>
		</div>

        <!--
		<div class="col-md-3">
			<span ng-show="order.status == 'OPEN'">
				{{ order.priceType }} -
				<span ng-switch on="order.term">
					<span ng-switch when="GOOD_FOR_DAY">1 Day</span>
					<span ng-switch when="GOOD_FOR_7_DAYS">7 Day</span>
					<span ng-switch when="GOOD_FOR_30_DAYS">30 Day</span>
					<span ng-switch when="GOOD_FOR_60_DAYS">60 Days</span>
					<span ng-switch when="GOOD_UNTIL_CANCELED">Unlimited</span>
				</span>
			</span>
			<span ng-show="order.status != 'OPEN'">{{ order.message }}</span>
		</div>
		-->
	</div>
</div>