<div class="col-md-12">
	<div class="col-md-3 bold">Symbol</div>
	<div class="col-md-2 bold left" ng-hide="isClosedOrderSelected()">Type</div>
	<div class="col-md-2 bold right" ng-hide="isClosedOrderSelected()">Your Price</div>
	<div class="col-md-3 bold left" ng-hide="isClosedOrderSelected()">Executed Date</div>
	<div class="col-md-2 bold right" ng-hide="isClosedOrderSelected()">Shares</div>

	<div class="col-md-7 bold" ng-show="isClosedOrderSelected()">
		<span ng-class="getExchangeClass(selectedClosedOrder.exchange)">
			{{ selectedClosedOrder.companyName }}
		</span>
	</div>
	<div class="col-md-2" ng-show="isClosedOrderSelected()">
		 <span class="st_bkg_color clickable pull-right" ng-click="toggleSelectedClosedOrder()">
            <i class="fa fa-chevron-circle-left st_control"
			   title="Return to results"
			   src="/assets/images/buttons/back-24.png"></i> Back
        </span>
	</div>
</div>

<div class="row ordersContainer">
	<div class="col-md-offset-1 col-md-11" ng-show="getClosedOrders(contest).length === 0">
		<img src="/assets/images/status/alert.gif">
		<span class="warning">No closed orders found</span>
	</div>

	<!-- Data Rows -->
	<div ng-class="{'col-md-12':(!isClosedOrderSelected()), 'col-md-3':(isClosedOrderSelected())}">
		<div class="col-md-12 clickable" ng-repeat="o in getClosedOrders(contest)" ng-class-even="'contest_even'" ng-class-odd="'contest_odd'"
			 ng-class="selectedClosedOrder.OID() === o.OID() ? 'selected' : ''"
			 ng-click="selectClosedOrder(o)">
			<div class="col-md-3">
                <span class="clickable"
					  ng-class="getExchangeClass(o.exchange)"
					  ng-click="loadQuote(o.symbol, true)">{{ o.symbol }}</span>
			</div>
			<div ng-hide="isClosedOrderSelected()" class="col-md-2 left">{{ o.orderType }}</div>
			<div ng-hide="isClosedOrderSelected()" class="col-md-2 right">$ {{ o.price | quoteNumber }}</div>
			<div ng-hide="isClosedOrderSelected()" class="col-md-3 left">{{ o.processedTime | elapsed }} ago</div>
			<div ng-hide="isClosedOrderSelected()" class="col-md-2 right">{{ o.quantity | number }}</div>
		</div>
	</div>

	<!-- Expanded Section -->
	<div ng-if="isClosedOrderSelected()" class="col-md-9">
		<div class="col-md-4 bold">Order Type</div>
		<div class="col-md-8">{{ selectedClosedOrder.orderType }}</div>

		<div class="col-md-4 bold">Creation Time</div>
		<div class="col-md-8">{{ selectedClosedOrder.creationTime | date:'MM/dd hh:mma' }}</div>

		<div class="col-md-4 bold">Expiration Time</div>
		<div ng-show="selectedClosedOrder.expirationTime" class="col-md-8">{{ selectedClosedOrder.expirationTime | quoteNumber }}</div>
		<div ng-hide="selectedClosedOrder.expirationTime" class="col-md-8 null">NONE</div>

		<div class="col-md-4 bold">Exchange</div>
		<div class="col-md-8">
			<span ng-class="getExchangeClass(selectedClosedOrder.exchange)">{{ selectedClosedOrder.exchange }}</span>
		</div>

		<div class="col-md-4 bold">Price</div>
		<div class="col-md-8">$ {{ selectedClosedOrder.price | quoteNumber }}</div>

		<div class="col-md-4 bold">Quantity</div>
		<div class="col-md-8">{{ selectedClosedOrder.quantity | number }}</div>
	</div>
</div>