<div style="background-color: #dddddd">
	<div class="col-md-2 bold left">&nbsp; Date</div>
	<div class="col-md-2 bold left">Type</div>
	<div class="col-md-2 bold left">Symbol</div>
	<div class="col-md-2 bold right">Quantity</div>
	<div class="col-md-2 bold right">Order Price</div>
	<div class="col-md-2 bold right">Market Price</div>
</div>

<div class="ordersContainer">
	<div class="col-md-12 center" ng-show="getClosedOrders(contest).length == 0">
		<img src="/assets/images/status/alert.gif">  No closed/canceled orders found
	</div>
		
	<div ng-repeat="order in getClosedOrders(contest) | orderBy:'creationTime'" ng-class-even="'even'" ng-class-odd="'odd'">
		<div class="col-md-2 left">
			<!-- status -->
			<img ng-show="order.message == 'Expired'" src="/assets/images/status/yellowlight.gif">
			<img ng-show="order.message == 'Canceled'" src="/assets/images/status/offlight.png">
			<img ng-show="order.status == 'PROCESSED'" src="/assets/images/status/greenlight.png">
			<img ng-show="order.status == 'FAILED' && (order.message != 'Expired' && order.message != 'Canceled')" src="/assets/images/status/redlight.gif">

			<!-- processed date -->
			{{ order.orderTime | date:'MM/dd hh:mma' }}
		</div>
        <div class="col-md-2 left">{{ order.orderType }}</div>
		<div class="col-md-2 left">
			<span ng-class="order.exchange"
                  ng-click="loadQuote(order.symbol)">{{ order.symbol }}</span>
		</div>
        <div class="col-md-2 right">{{ order.quantity | number }}</div>
		<div class="col-md-2 right">
			<span ng-show="order.price == null" class="positive">MARKET</span>
			<span ng-show="order.price != null">{{ order.price | number:2 }}</span>
		</div>
		<!--
		<td style="width: 33%">{{ order.message != null ? order.message : 'Processed' }}</td>
		-->
	</div>

</div>