<div class="performanceContainer">
	<table style="width: 100%">
		<tr style="background-color: #dddddd">
			<th style="width: 15%">Buy Date</th>
			<th style="width: 15%">Sell Date</th>
			<th style="width: 12%">Symbol</th>
			<th style="width: 14%; text-align: right">Quantity</th>					
			<th style="width: 14%; text-align: right">Cost</th>
			<th style="width: 14%; text-align: right">Proceeds</th>
			<th style="width: 16%; text-align: right">Gain/Loss</th>
		</tr>

		<tr ng-repeat="p in participant.performance" ng-class-even="'even'" ng-class-odd="'odd'">		
			<td style="width: 15%">{{ p.purchasedDate.$date | date:'MM/dd hh:mma' }}</td>	
			<td style="width: 15%">{{ p.soldDate.$date | date:'MM/dd hh:mma' }}</td>					
			<td style="width: 12%">
				<a href="" ng-click="loadQuote(p.symbol)">
					<span ng-class="p.exchange">{{ p.symbol }}</span>
				</a>
			</td>
			<td style="width: 16%; text-align: right">{{ p.quantity | number }}</td>					
			<td style="width: 14%; text-align: right">{{ p.cost | number:2 }}</td>	
			<td style="width: 14%; text-align: right">
				<span ng-class="p.cost < 0 ? 'negative' : ''">{{ p.proceeds | number:2 }}</span>
			</td>
			<td style="width: 16%; text-align: right; text-align: right">
				<span ng-show="gainLoss(p) == null" class="null">&#8212;</span>	
				<span ng-show="gainLoss(p) != null" ng-class="gainLoss(p) < 0 ? 'negative' : ''">{{ gainLoss(p) | number:1 }}%</span>	
				<changearrow value="{{ gainLoss(p) }}" />
			</td>
		</tr>
	</table>
</div>	

<!-- Performance Charts -->
<div style="display: block; width: 99%">
	Performance Chart:
	<select ng-model="selection.performance" ng-change="getPerformanceChart('performance_chart')">
		<option value="gains">Gains</option>
		<option value="losses">Losses</option>
	</select>		
</div>
<div id="performance_chart" class="chart_area"></div>