<div ng-hide="MySession.userProfile._id" class="spectator_message" style="display: block; width: 100%">
	<div ng-include src="'/assets/views/signin_notice.htm'"></div>
</div>
<div ng-if="MySession.userProfile._id && !contest._id" class="spectator_message" style="display: block; width: 100%">
	<div ng-include src="'/assets/views/play/no_contest_selected.htm'"></div>
</div>
<div ng-controller="PortfolioController" ng-if="MySession.userProfile._id && contest._id" style="display: block; width: 100%">
	<div ng-include src="'/assets/views/play/portfolio/summary.htm'" style="margin-bottom: 10px"></div>
    <tabset>
        <tab ng-repeat="tab in portfolioTabs" active="tab.active" disabled="tab.isLocked(contest)" select="tab.init(contest)">
            <tab-heading>
                <img ng-src="{{ tab.imageURL }}"> {{ tab.name }}
            </tab-heading>
            <div class="portfolio_tab" ng-include src="tab.path"></div>
        </tab>
    </tabset>
</div>