<div>
	<div class="col-md-3 bold">Symbol</div>
	<div ng-hide="isPositionSelected()" class="col-md-3 bold right">Price Paid</div>
	<div ng-hide="isPositionSelected()" class="col-md-3 bold right">Market Price</div>
	<div ng-hide="isPositionSelected()" class="col-md-3 bold right">Shares</div>

    <div ng-show="isPositionSelected()" class="col-md-8">
        <span class="bold" ng-class="getExchangeClass(selectedPosition.exchange)">{{ selectedPosition.companyName }}</span>
    </div>
    <div ng-show="isPositionSelected()" class="col-md-1">
        <img class="clickable pull-right"
             ng-click="toggleSelectedPosition()"
             title="Return to results"
             src="/assets/images/buttons/back-24.png">
    </div>
</div>

<div class="row positionsContainer">
	<div class="col-md-12 center" ng-show="getPositions(contest).length === 0">
		<img src="/assets/images/status/alert.gif">
        <span class="warning">No positions found</span>
	</div>

    <!-- Data Rows -->
    <div ng-class="{'col-md-12':(!isPositionSelected()), 'col-md-3':(isPositionSelected())}">
        <div class="col-md-12 clickable" ng-repeat="p in getPositions(contest)"
             ng-class="selectedPosition.OID() === p.OID() ? 'selected' : ''"
             ng-click="selectPosition(p)">
            <div class="col-md-3">
                <span class="clickable"
                      ng-class="getExchangeClass(p.exchange)"
                      ng-click="loadQuote(p.symbol, true)">{{ p.symbol }}</span>
            </div>
            <div ng-hide="isPositionSelected()" class="col-md-3 right">
                $ {{ p.pricePaid | number:2 }}
            </div>
            <div ng-hide="isPositionSelected()" class="col-md-3 right">
                <span ng-show="p.lastTrade" class="right">$ {{ p.lastTrade | number:2 }}</span>
                <span ng-hide="p.lastTrade" class="right null">Unavailable</span>
            </div>
            <div ng-hide="isPositionSelected()" class="col-md-3">
                <span class="right pull-right">{{ p.quantity | number }}</span>
            </div>
        </div>
    </div>

    <!-- Expanded Section -->
    <div ng-if="isPositionSelected()" class="col-md-9">
        <div class="col-md-4 bold">Purchased Time</div>
        <div class="col-md-8">{{ selectedPosition.processedTime | date:'MM/dd hh:mma' }}</div>

        <div class="col-md-4 bold">Exchange</div>
        <div class="col-md-8">
            <span ng-class="getExchangeClass(selectedPosition.exchange)">{{ selectedPosition.exchange }}</span>
        </div>

        <div class="col-md-4 bold">Price Paid</div>
        <div class="col-md-8">$ {{ selectedPosition.pricePaid | number:2 }}</div>

        <div class="col-md-4 bold">Shares Owned</div>
        <div class="col-md-8">{{ selectedPosition.quantity | number }}</div>

        <div class="col-md-4 bold">Commission(s) Paid</div>
        <div class="col-md-8">$ {{ selectedPosition.commission | number:2 }}</div>

        <div class="col-md-4 bold">Purchase Cost</div>
        <div class="col-md-8">$ {{ selectedPosition.cost | number:2 }}</div>

        <div class="col-md-4 bold">Estimated Value</div>
        <div class="col-md-8">
            $ {{ selectedPosition.netValue | number:2 }}
                <span ng-if="selectedPosition.gainLossPct != null">
                    <changearrow value="{{ selectedPosition.gainLossPct }}"/>
                    <span ng-class="selectedPosition.gainLossPct < 0 ? 'negative' : 'positive'">
                        {{ selectedPosition.gainLossPct | number:2 }}%
                    </span>
                </span>
        </div>

        <div class="col-md-offset-4 col-md-8">
            <button class="btn btn-default sell_button"
                ng-click="sellPosition(selectedPosition.symbol, selectedPosition.quantity)">
                <img class="middle" src="/assets/images/buttons/cart_add.png"> Sell
            </button>
        </div>
    </div>
</div>