<div ng-controller="StatisticsController" style="background: #ffffff; height: 100%; padding: 10px">
	<div style="display: block; width: 100%" class="statsContainer">
		<div class="stats_row_left">
			<fieldset>
				<legend><img src="/assets/images/objects/friend.png"> Level and Rank</legend>
				<table style="width: 100%">
					<tr>
						<th style="width: 50%">Experience-points (XP):</th>
						<td style="width: 50%">{{ userProfile.totalXP || 0 | number }}</td>
					</tr>	
					<tr>
						<th>Level:</th>
						<td>{{ userProfile.level || 1 }} &#8212; {{ levels[ userProfile.level || 0 ].description }}</td>
					</tr>	
					<tr>
						<th>Next Level:</th>
						<td>{{ levels[ userProfile.level || 0 ].nextLevelXP }} XP</td>
					</tr>			
					<tr>
						<th>Rank:</th>
						<td>{{ userProfile.rank || 0 }}</td>
					</tr>	
				</table>
			</fieldset>
			
			<fieldset>
				<legend><img src="/assets/images/links/joystick.png"> Games Statistics</legend>
				<table style="width: 100%">
					<tr>
						<th style="width: 50%">Games created:</th>
						<td style="width: 50%">{{ userProfile.gamesCreated || 0 | number }}</td>
					</tr>
					<tr>
						<th>Games deleted:</th>
						<td>{{ userProfile.gamesDeleted || 0 | number }}</td>
					</tr>						
					<tr>
						<th>Games joined:</th>
						<td>{{ userProfile.gamesJoined || 0 | number }}</td>
					</tr>
					<tr>
						<th>Games in-progress:</th>
						<td>{{ userProfile.gamesInProgress || 0 | number }}</td>
					</tr>		
					<tr>
						<th>Games withdrawn:</th>
						<td>{{ userProfile.gamesDropped || 0 | number }}</td>
					</tr>
					<tr>
						<th>Games completed:</th>
						<td>{{ userProfile.gamesCompleted || 0 | number }}</td>
					</tr>	
				</table>
			</fieldset>
			
			<fieldset>
				<legend><img src="/assets/images/objects/financials.gif"> Portfolio Growth</legend>
				<table style="width: 100%">
					<tr>
						<th style="width: 50%">Net Cash gains (losses):</th>
						<td style="width: 50%">
							$ {{ userProfile.netCashEarned || 0 | number:2 }}
							<img ng-show="MySession.userProfile.netCashEarned > 0" src="/assets/images/status/stock_up.gif">
							<img ng-show="MySession.userProfile.netCashEarned < 0" src="/assets/images/status/stock_down.gif">
						</td>
					</tr>			
					<tr>
						<th>Max Portfolio growth:</th>
						<td>{{ userProfile.maxPctGrowth || 0 | number:1 }}%</td>
					</tr>	
					<tr>
						<th>Max Portfolio loss:</th>
						<td>{{ userProfile.maxPctLoss || 0 | number:1 }}%</td>
					</tr>	
				</table>
			</fieldset>
		</div>
		<div class="stats_row_right">
			<fieldset>
				<legend><img src="/assets/images/objects/gift.png"> Awards & Perks</legend>
				<table style="width: 100%">		
					<tr>
						<th style="width: 50%">Awards earned:</th>
						<td style="width: 50%">{{ userProfile.awards.length || 0 }}</td>
					</tr>	
					<tr>
						<th>Perk-points earned:</th>
						<td>{{ userProfile.perkPointsEarned || 0 }}</td>
					</tr>	
					<tr>
						<th>Perk-points used:</th>
						<td>{{ userProfile.perkPointsUsed || 0 }}</td>
					</tr>		
					<tr>
						<th>Perk-points available:</th>
						<td>{{ userProfile.perkPoints || 0 }}</td>
					</tr>	
				</table>
			</fieldset>
					
			<fieldset>
				<legend><img src="/assets/images/objects/competition.gif"> Competitive Statistics</legend>	
				<table style="width: 100%">
					<tr>
						<th style="width: 50%">Trophies earned:</th>
						<td style="width: 50%">
							{{ userProfile.trophiesGold + userProfile.trophiesSilver + userProfile.trophiesBronze || 0 }} &#8212; 
							<img src="/assets/images/contests/gold.png"> x {{ userProfile.trophiesGold || 0 }}&nbsp;
							<img src="/assets/images/contests/silver.png"> x {{ userProfile.trophiesSilver || 0 }}&nbsp;
							<img src="/assets/images/contests/bronze.png">x  {{ userProfile.trophiesBronze || 0 }}&nbsp;
						</td>
					</tr>	
					<tr>
						<th>Winning Streak:</th>
						<td>{{ userProfile.winningStreak || 0 }} time(s)</td>
					</tr>	
					<tr>
						<th>Losing Streak:</th>
						<td>{{ userProfile.lossingStreak || 0 }} time(s)</td>
					</tr>			
					<tr>
						<th>Last Place:</th>
						<td>{{ userProfile.lastPlace || 0 }} time(s)</td>
					</tr>		
					<tr>
						<th>Max players (single game):</th>
						<td>{{ userProfile.maxPlayers || 0 }}</td>
					</tr>	
					<tr>
						<td colspan="2">&nbsp;</td>
					</tr>				
				</table>
			</fieldset>	
			
			<fieldset>
				<legend><img src="/assets/images/objects/friend_header.gif"> Social</legend>
				<table style="width: 100%">	
					<tr>
						<th style="width: 50%">Social Networks:</th>
						<td style="width: 50%">{{ userProfile.socialNetworks || 0 }} / 6</td>
					</tr>					
					<tr>
						<th>Friends:</th>
						<td>{{ userProfile.friends.length || 0 }}</td>
					</tr>	
					<tr>
						<th>Referrals:</th>
						<td>{{ userProfile.referrals || 0 }}</td>
					</tr>						
					<tr>
						<th>Likes:</th>
						<td>{{ userProfile.thumbsUp || 0 }} <img src="/assets/images/status/thumbs_up.png"></td>
					</tr>	
					<tr>
						<th>Dislikes:</th>
						<td>{{ userProfile.thumbsDown || 0 }} <img src="/assets/images/status/thumbs_down.png"></td>
					</tr>					
				</table>
			</fieldset>			
		</div>
	</div>
</div>