<accordion>
	<accordion-group is-open="true">
		<accordion-heading><img src="/assets/images/objects/clock16.png"> Recently Viewed</accordion-heading>
		<div ng-include src="'/assets/views/discover/recently_viewed.htm'"></div>
	</accordion-group>
	<accordion-group>
		<accordion-heading><img src="/assets/images/objects/favorite.png"> Favorites</accordion-heading>
		<div ng-include src="'/assets/views/discover/favorites.htm'"></div>
	</accordion-group>		
	<accordion-group ng-if="HeldSecurities.symbols.length > 0">
		<accordion-heading><img src="/assets/images/objects/star16.gif"> Held Securities</accordion-heading>
		<div ng-include src="'/assets/views/discover/held_securities.htm'"></div>
	</accordion-group>	
	<accordion-group ng-repeat="filter in filterQuotes">
		<accordion-heading>
			<img src="/assets/images/objects/filter.gif">
            <span ng-click="loadFilterQuotes(filter, $index)">{{ filter.name }}</span>
            <img ng-if="filter.loading" src="/assets/images/status/loading.gif">
        </accordion-heading>
		<div class="filterContainer">
			<table style="width: 100%; padding: 1px 3px 1px 3px; background-color: #eeeeee">
				<tr style="background-color: #dddddd">				
					<th style="text-align: {{ header === 'Symbol' ? 'left' : 'right' }}" ng-repeat="header in filter.headers">{{header}}</th>
				</tr>
				<tr ng-repeat="row in filter.rows" ng-class-even="'even'" ng-class-odd="'odd'">
					<td style="text-align: {{ columnAlign(column) }}" ng-repeat="column in filter.columns">	
						<a ng-if="column === 'symbol'" href="#/discover/{{ row[column] }}">
							<span ng-class="rowClass(column, row)" popover="{{ row['name'] }}" popover-trigger="mouseenter">
								<i ng-src="getPreferenceIcon(row)"></i> {{ row[column] }}
							</span>
						</a>
						<span ng-if="column === 'volume'">{{ row[column] | number | bigNumber }}</span>
						<span ng-if="column !== 'symbol' && column != 'volume'" ng-class="row[column] < 0 ? 'negative' : ''">{{ row[column] | quoteNumber }}</span>
						
						<img ng-if="column === 'changePct' && row['changePct'] < 0" src="/assets/images/status/stock_down.gif">
						<img ng-if="column === 'changePct' && row['changePct'] > 0" src="/assets/images/status/stock_up.gif">
						<img ng-if="column === 'changePct' && (!row['changePct'] || row['changePct'] == 0)" src="/assets/images/status/transparent.png">
					</td>
				</tr>
			</table>
		</div>
	</accordion-group> 		
</accordion>

