<div class="gamesSearchContainer" ng-controller="PlaySearchCtrl">

		<!-- Game Filtering Options -->
	<div ng-hide="splitScreen" class="col-md-8">
		<fieldset>
			<legend><img src="/assets/images/buttons/search.png"> Search for Games</legend>
			<table>
				<tr>
					<td class="col-md-3">
						<input type="checkbox" ng-model="searchOptions.activeOnly">
						<img src="/assets/images/objects/market.png"> Online
					</td>
					<td class="col-md-4">
						<input type="checkbox" ng-model="searchOptions.perksAllowed">
						<img src="/assets/images/objects/gift.png"> Perks
					</td>
					<td class="col-md-5">
						<input type="checkbox" ng-model="searchOptions.botsAllowed">
						<img src="/assets/images/objects/robot.png"> Robots
					</td>
				</tr>
				<tr>
					<td class="col-md-3">
						<input type="checkbox" ng-model="searchOptions.available">
						<img src="/assets/images/status/online.png"> Available
					</td>
					<td class="col-md-4">
						<input type="checkbox" ng-model="searchOptions.friendsOnly">
						<img src="/assets/images/objects/friend_header.gif"> My Friends
					</td>
					<td class="col-md-5">
						<input type="checkbox" ng-model="searchOptions.levelCapAllowed">
						<img src="/assets/images/objects/friend_delete.png"> Level Cap (by Rank)
					</td>
				</tr>
				<tr>
					<td class="col-md-3">&nbsp;</td>
					<td class="col-md-4">
						<select ng-show="searchOptions.friendsOnly"
						ng-model="searchOptions.friend"
						style="margin-left: 16px">
							<option value="">-- None --</option>
							<option ng-repeat="friend in getRegisteredFriends()"
							style="background-image:url(http://graph.facebook.com/{{friend.id }}/picture); background-repeat: no-repeat; background-size:16px 16px; text-indent: 16px"
							value="{{ friend.id }}">{{ friend.name }}</option>
						</select>
					</td>
					<td class="col-md-5">
						<select ng-show="searchOptions.levelCapAllowed"
						ng-controller="RewardsCtrl"
						ng-model="searchOptions.levelCap"
						style="margin-left: 16px">
							<option value="">-- None --</option>
							<option ng-repeat="level in levels"
							style="background-image:url(/assets/images/objects/friend_delete.png); background-repeat: no-repeat; text-indent: 16px"
							value="{{ level.number }}">{{ level.number + ': ' + level.description }}</option>
						</select>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>

		<!-- Legend -->
	<div ng-hide="splitScreen" class="col-md-4">
		<fieldset>
			<legend>Legend</legend>
			<table style="width: 100%">
				<tr>
					<td><img src="/assets/images/status/greenlight.png"> Open</td>
					<td><img src="/assets/images/status/yellowlight.gif"> Almost Full</td>
				</tr>
				<tr>
					<td><img src="/assets/images/status/redlight.png"> Full</td>
					<td><img src="/assets/images/status/offlight.png"> Offline</td>
				</tr>
			</table>
		</fieldset>
	</div>

	<!-- Search Results -->
	<div class="col-md-12">
		<div ng-class="{'col-md-12':(!splitScreen), 'col-md-5':(splitScreen)}">
			<fieldset>
				<legend>
					Search Results (<span class="positive">{{ getAvailableCount() }}</span>/{{ searchResults.length || 0 }})
				</legend>
				<div class="availGamesContainer">
					<table style="width: 100%">
						<tr>
							<th class="left" style="padding-left: 20px">Game Name</th>
							<th ng-hide="splitScreen" class="left" style="padding-left: 20px">Leader</th>
							<th ng-hide="splitScreen" class="right">Buy In</th>
							<th ng-hide="splitScreen" class="right">Players</th>
							<th ng-hide="splitScreen" class="right">Modifiers</th>
						</tr>
						<tr ng-repeat="c in searchResults" class="clickable" ng-click="selectContest(c)"
							ng-class="contest._id.$oid === c._id.$oid ? 'highlighted_game' : ( $index % 2 === 0 ? 'even' : 'odd' )">
							<td style="width: 30%">
								<span ng-if="c.status === 'ACTIVE'">
									<img ng-src="{{ getStatusIcon(c) }}">
								</span>
								<img ng-hide="c.status === 'ACTIVE'" src="/assets/images/status/offlight.png">
								<avatar id="{{ c.participants[0].facebookID }}" style="width: 20px; height: 20px" />
								<a href="">{{ c.name }}</a>
							</td>
							<td ng-hide="splitScreen" style="width: 20%">
								<span ng-show="c.leader">
									<img ng-if="c.status === 'CLOSED'" ng-src="/assets/images/{{ tropy(c.leader.rank) }}">
									<img ng-if="c.status != 'CLOSED'" src="/assets/images/status/transparent.png">
									<avatar id="{{ c.leader.facebookID }}" style="width: 20px; height: 20px" />
									<span ng-class="'rank_' + c.leader.rank">{{ c.leader.rank }}</span>
									<span ng-class="c.leader.gainLoss >= 0 ? 'positive' : 'negative'">
									<changearrow value="{{ c.leader.gainLoss }}" />
									{{ c.leader.gainLoss | number:2 }}%</span>
								</span>
							</td>
							<td ng-hide="splitScreen" style="width: 15%">
								<span ng-class="c.status === 'ACTIVE' ? '' : 'null'" style="float: right">
									$ {{ c.startingBalance | number }}
								</span>
							</td>
							<td ng-hide="splitScreen" style="width: 15%; text-align: right">
								<span ng-class="c.status === 'ACTIVE' ? '' : 'null'">{{ c.participants.length || 0 }} x</span>
								<img src="/assets/images/objects/friend_header.gif">
								<span ng-if="c.status === 'ACTIVE'">
									/ {{ maxPlayers < 10 ? '0' + maxPlayers : maxPlayers }}
								</span>
							</td>
							<td ng-hide="splitScreen" style="width: 20%">
								<span style="float: right">
									<img ng-if="c.robotsAllowed" src="/assets/images/objects/robot.png">
									<img ng-if="c.friendsOnly" src="/assets/images/objects/friend_header.gif">
									<img ng-if="c.levelCap" src="/assets/images/objects/friend_delete.png">
									<img ng-if="c.perksAllowed" src="/assets/images/objects/gift.png">
								</span>
							</td>
						</tr>
					</table>
				</div>
			</fieldset>
			<button class="btn btn-default new_game"
				style="float: right"
				ng-hide="splitScreen"
				ng-click="popupNewGameDialog()"> New Game
			</button>
		</div>

		<!-- Game Details -->
		<div ng-show="splitScreen" ng-class="col-md-7">
			<fieldset ng-show="contest.participants">
				<legend>Game Details for '<span class="game_title">{{contest.name}}</span>'
					<img style="float: right"
						class="clickable"
						ng-click="splitScreen = false"
						title="Return to results"
						src="/assets/images/buttons/back-24.png">
				</legend>
				<span ng-repeat="p in contest.participants">
					<avatar id="{{ p.facebookID }}" style="width: 52px; height: 53px; margin: 3px 0px 0px 2px" />
				</span>

				<div class="row" style="margin-top: 5px; background: #ffffee; border: 1px solid #cccccc; border-radius: 8px; padding: 6px">
					<div class="col-md-3">Status</div>
					<div class="col-md-5">
						<img ng-show="contest" ng-src="{{ getStatusIcon(contest) }}">
						<span ng-class="getStatusClass(contest)">{{ contest.status }}</span>
					</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="contest.friendsOnly" disabled>
						<img src="/assets/images/objects/friend_header.gif"> Friends-Only
					</div>

					<div class="col-md-3">Created</div>
					<div class="col-md-5">{{ contest.creationTime | date:'MM/dd/yyyy hh:mma' }}</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="contest.perksAllowed" disabled>
						<img src="/assets/images/objects/gift.png"> Perks Allowed
					</div>

					<div class="col-md-3">Started</div>
					<div class="col-md-5">
						<span ng-show="contest.startTime">{{ contest.startTime | date:'MM/dd/yyyy hh:mma' }}</span>
						<span ng-hide="contest.startTime" class="null">Not Started</span>
					</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="contest.privateGame" disabled>
						<img src="/assets/images/objects/protected.png"> Invitation-Only
					</div>

					<div class="col-md-3">Ends</div>
					<div class="col-md-5">
						<span ng-show="contest.expirationTime">{{ contest.expirationTime | date:'MM/dd/yyyy hh:mma' }}</span>
						<span ng-hide="contest.expirationTime" class="null">Not Specified</span>
					</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="contest.robotsAllowed" disabled>
						<img src="/assets/images/objects/robot.png"> Robots Allowed
					</div>

					<div class="col-md-3">Buy-In Cost</div>
					<div class="col-md-9">$ {{ contest.startingBalance | number }}</div>

					<div class="col-md-3">Level Cap</div>
					<div class="col-md-9">
						{{ contest.levelCap }} &#8212; {{ levels[contest.levelCap].description }}
					</div>
				</div>
				<div class="row" style="margin-top: 5px">
					<div class="col-md-6">&nbsp;</div>
					<div class="col-md-2">
						<button class="btn btn-default start_game"
							ng-show="isContestOwner(contest)"
							ng-click="startContest(contest)">
							<img ng-src="/assets/images/{{ contest.starting ? 'status/loading.gif' : 'objects/play.png' }}"> Start
						</button>
						<button class="btn btn-default join_game"
							ng-show="!isContestOwner(contest)"
							ng-click="joinContest(contest)">
							<img ng-src="/assets/images/{{ contest.starting ? 'status/loading.gif' : 'objects/friend.png' }}"> Join
						</button>
					</div>
					<div class="col-md-2">
						<button class="btn btn-default stop_game"
						ng-show="isContestOwner(contest)"
						ng-click="stopContest(contest)">
							<img ng-src="/assets/images/{{ contest.starting ? 'status/loading.gif' : 'buttons/remove.png' }}"> Stop
						</button>
						<button class="btn btn-default quit_game"
						ng-show="!isContestOwner(contest)"
						ng-click="joinContest(contest)">
							<img ng-src="/assets/images/{{ contest.starting ? 'status/loading.gif' : 'objects/alert.png' }}"> Quit
						</button>
					</div>
					<div class="col-md-2">
						<button class="btn btn-default invite_game"
						ng-click="joinContest(contest)">
							<img ng-src="/assets/images/{{ contest.starting ? 'status/loading.gif' : 'objects/participant.png' }}"> Invite
						</button>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

</div>

<div ng-include src="'/assets/views/play/search/new_game_dialog.htm'"></div>
