/*********************************************************************************
 * 							Miscellaneous Styles								 *
 *********************************************************************************/

#tickers {
	display: block;
	background-color: #f0f080;
	width: 100%;
}

fieldset.half_module {
	background-color: #ffffdd; 
	padding: 1px 1px 1px 1px
}

div.status {
	color: #ffd000;
}

span.error {
	color: red;
	text-align: center;
}

div.signIn {
	display: block; 
	border: 1px solid #888888; 
	background-color: #eeeeee; 
	width: 335px; 
	margin-left: auto;  
	margin-right: 100px;
	padding-left: 5px;
	padding-top: 15px;
}