/*********************************************************************************
 * 							Market Status										 *
 *********************************************************************************/
 
.mks_loading {
	float: right; 
	color: #666666;
	font-size: 10pt;
	font-weight: bold;
	padding-right: 10px;
    vertical-align: bottom
} 

.mks_open {
	float: right; 
	color: #008000;
	font-size: 10pt;
	font-weight: bold; 
	padding-right: 10px;
	vertical-align: bottom
}

.mks_closed {
	float: right; 
	color: #ff8000;
	font-size: 10pt;
	font-weight: bold; 
	padding-right: 10px;
	vertical-align: bottom
} 
 
/*********************************************************************************
 * 							Login Styles										 *
 *********************************************************************************/

.login {
	display: block;
}

.loginText {
	color: #ffd000;
	 vertical-align: top;
}

img.logo {
	vertical-align: top;
}

