/*********************************************************************************
 * 							Market Status										 *
 *********************************************************************************/
 
.mks_loading {
	float: right; 
	color: #666666; 
	font-weight: bold; 
	padding-right: 10px
} 

.mks_open {
	float: right; 
	color: #008000; 
	font-weight: bold; 
	padding-right: 10px
}

.mks_closed {
	float: right; 
	color: #ff8000; 
	font-weight: bold; 
	padding-right: 10px
} 
 
/*********************************************************************************
 * 							Login Styles										 *
 *********************************************************************************/

.login {
	display: block;
}

.loginText {
	color: #ffd000;
	 vertical-align: top;
}

img.logo {
	vertical-align: top;
}

