<div ng-controller="GameController" style="width: 100%; height: 100%; border: 1px solid #888888; background-color: #ffffee; border-radius: 5px 5px 5px 5px">
	<div style="width: 100%; background-color: #004080; color: #ffffee; text-align: center">{{ userProfile.name }}</div>
	<div style="display:block; width: 100%; background-color: #ccddff">
		<country profile="{{ MySession.profile }}" />
		<span style="vertical-align: middle; font-weight: bold; color: #000088">Level {{ userProfile.level }} - {{ levels[userProfile.level || 0].description }}</span>
	</div>
	<div style="display: block; width: 100%">
		<div style="display: inline; float: left; width: 75px">
			<avatar id="{{ MySession.fbUserID }}" style="width: 75px; height: 75px; margin: 3px" />
		</div>
		<div style="display:inline; float: right; width: 155px">
			<table style="width: 100%">			
				<tr>
					<th class="small" colspan="2">
					Rep &nbsp; <img ng-repeat="i in range(userProfile.rep || 1)" src="/assets/images/status/star.png">
					</th> 
				</tr>				
				<tr>
					<th class="small">Experience</th> 
					<td class="small">{{ userProfile.totalXP || 0 | number }}</td>
				</tr>
				<tr>
					<th class="small">Next Level</th> 
					<td class="small">{{ userProfile.nextLevelXP || 0 | number }}</td>
				</tr>	
				<tr>
					<th class="small">Friends</th> 
					<td class="small">{{ userProfile.friends.length || 0 }}</td>
				</tr>		
				<tr>
					<th class="small">Awards</th> 
					<td class="small">{{ userProfile.awards.length || 0 }}</td>
				</tr>									
			</table>
		</div>
		<br style="clear: both">
		<div ng-controller="AwardsController" ng-init="setupAwards()"  style="display: block; background-color: #cccccc; border: 1px solid #888888; border-radius: 4px 4px 4px 4px; height: 33px; text-align: center">
			<img ng-repeat="award in MySession.userProfile.awards.slice(0,7)" style="vertical-align: middle; padding: 2px 2px 2px 2px" ng-src="{{ getAwardImage(award) }}">			
		</div>
	</div>
</div>