<!-- player information bar -->
<div ng-include src="'/assets/views/play/player_info_bar.htm'"></div>
			
<div ng-init="contestSearch(searchOptions)" style="display: block; width: 100%">
	<div style="display: inline; float: left; width: 14%; margin-top: 5px">
		<div ng-include src="'/assets/views/play/play_tabs.htm'"></div>
	</div>
	
	<div ng-init="setPlayTab(0)" style="display: inline; float: right; width: 85%">
		<div ng-include src="playTabs[tab].path"></div>
	</div>
	
	<br style="clear: both"/>
</div>