<div ng-controller="PreferencesCtrl" ng-init="refreshCounts()" style="display: block; width: 100%">
	<div ng-if="MySession.isAuthorized()" style="border: 1px solid #aaaaaa; border-radius: 4px 4px 4px 4px; padding: 4px; margin-top: 4px; margin-bottom: 4px">
		<div ng-repeat="exchange in exchanges">
			<input type="checkbox" ng-model="exchange.selected" ng-click="setExchangeState(exchange)">
			<span ng-class="exchange.id">{{ exchange.id }}</span>
			<span ng-show="exchange.count"><span class="null">&#8212;</span> {{ exchange.desc }} (<span style="color: #0000ff">{{ exchange.count | number }} securities</span>)</span>
			<span ng-hide="exchange.count" class="null">&#8212; <img src="/assets/images/status/loading.gif"></span>
		</div>
	</div>
</div>