<div style="width: 100%; height: 24px; border: 1px solid #bbbbbb; border-radius: 4px 4px 4px 4px; background-color: #dddddd; color: black">
    <span style="float: left; padding-left: 10px"><b>Local Time:</b> {{marketClock}}</span>
    <img ng-show="loading" style="float: right; margin-right: 15px" src="/assets/images/status/loading24.gif">
    <span ng-hide="loading" style="float: right; margin-right: 15px; width: 24px">&nbsp;</span>
    <span ng-class="usMarketsOpen === null ? 'mks_loading' : (usMarketsOpen ? 'mks_open' : 'mks_closed')">
        <img ng-show="usMarketsOpen === null" src="/assets/images/status/loading.gif">
        {{ usMarketsOpen === null ? 'Checking Market Status...' : (usMarketsOpen ? 'US Markets Open' : 'US Markets Closed') }}
    </span>
</div>