@()
<div class="row" ng-controller="GameSearchController" ng-init="searchTerm = ''; initGames()">
    <div ng-hide="isSplitScreen()" style="margin-bottom: 20px">
        <!-- Game Filtering Options -->
        <div class="col-md-6">@assets.views.html.search.GameFilters()</div>

        <!-- My Games -->
        <div class="col-md-6 contest_colors" style="padding-bottom: 4px"
             ng-controller="MyGamesController"
             ng-init="initMyGames()">
            <fieldset class="contest">
                <legend class="contest">My Games ({{getMyContests().length}})</legend>
                <div class="myGamesContainer">
                    @assets.views.html.search.MyContests()
                </div>
                <div class="pull-right">
                    <button class="btn btn-default st_button" ng-click="newGamePopup()">
                        <i class="fa fa-plus-circle"></i> New
                    </button>
                </div>
                <br style="clear: both">
            </fieldset>
        </div>
    </div>

    <!-- Search Results -->
    <div ng-class="{'col-md-4':(isSplitScreen()), 'col-md-12':(!isSplitScreen())}">
        <fieldset class="contest">
            <legend class="contest">
                Search Results ({{ getSearchResults(searchTerm).length || 0 }})
            </legend>
            <div class="row">
                <input class="symbol_input_text_field"
                        ng-class="{'col-md-11':(isSplitScreen()), 'col-md-4':(!isSplitScreen())}"
                        style="border-radius: 4px 4px 4px 4px"
                        type="text"
                        ng-model="searchTerm"
                        placeholder="&#xf002; Filter by Game Title">
            </div>
            <div class="availGamesContainer">
                <div class="row">
                    <div class="col-md-4 header left padding-left-16">Game Title</div>
                    <div ng-hide="isSplitScreen()" class="col-md-2 header center">Started</div>
                    <div ng-hide="isSplitScreen()" class="col-md-2 header center">Expires</div>
                    <div ng-hide="isSplitScreen()" class="col-md-2 header center">Players</div>
                    <div ng-hide="isSplitScreen()" class="col-md-2 header right">Game Features</div>
                </div>

                <div ng-repeat="c in getSearchResults(searchTerm) track by $index" class="row clickable"
                    ng-click="selectContest(c)">
                    <div ng-class="{'col-md-4':(!isSplitScreen()), 'col-md-12':(isSplitScreen())}">
                        <avatar id="{{ c.participants[0].facebookID }}" class="avatar-20"></avatar>
                        <span ng-class="getSelectionClass(c)">{{ c.name }}</span>
                    </div>
                    <div ng-hide="isSplitScreen()" class="col-md-2 center">
                        <span ng-show="c.startTime" ng-class="getSelectionClass(c)">{{ c.startTime | duration }}</span>
                        <span ng-hide="c.startTime">&#8212;</span>
                    </div>
                    <div ng-hide="isSplitScreen()" class="col-md-2 center">
                        <span ng-show="c.status === 'ACTIVE'">
                            <span ng-show="c.expirationTime">{{ getDate(c.expirationTime) | date:'MM-dd-yyyy' }}</span>
                            <span ng-hide="c.expirationTime">&#8212;</span>
                        </span>
                        <span ng-class="getSelectionClass(c)" ng-hide="c.status === 'ACTIVE'">CLOSED</span>
                    </div>
                    <div ng-hide="isSplitScreen()" class="col-md-2 center">
                        <span ng-class="getSelectionClass(c)">{{ c.participants.length || 0 }}</span>
                    </div>
                    <div ng-hide="isSplitScreen()" class="col-md-2">
                        <span class="pull-right">
                            <i ng-class="c.invitationOnly ? '' : 'null'" class="fa fa-lock" title="{{ c.invitationOnly ? 'private' : 'public' }} game"></i>
                            <i ng-class="c.friendsOnly ? '' : 'null'" class="fa fa-users" title="{{ c.friendsOnly ? 'friends-only' : 'everyone is' }} allowed"></i>
                            <i ng-class="c.levelCap ? '' : 'null'" class="fa fa-user-times" title="{{ c.levelCap ? 'Level ' + c.levelCap + 'and under' : 'No level cap' }}"></i>
                            <i ng-class="c.perksAllowed ? '' : 'null'" class="fa fa-gift" title="perks are {{ c.perksAllowed ? '' : 'NOT' }} allowed"></i>
                            <i ng-class="c.robotsAllowed ? '' : 'null'" class="fa fa-android" title="robots are {{ c.robotsAllowed ? '' : 'NOT' }} allowed"></i>
                        </span>
                    </div>
                </div>

            </div>
        </fieldset>
    </div>

    <!-- Game Lobby -->
    <div ng-show="isSplitScreen()" class="col-md-8">
        <fieldset class="contest" ng-show="getSelectedContest().participants">
            <legend class="contest">
                <span class="game_title clickable" ng-click="toggleSplitScreen()">
                    <i class="fa fa-chevron-circle-left st_control" title="Return to results"></i> {{getSelectedContest().name}}
                </span>
            </legend>

            <div class="row contest_lobby contest_colors">
                <div ng-class="getSelectedContest().status !== 'CLOSED' ? 'col-md-12' : 'col-md-9'" class="contest_lobby_gallery">
                    <div style="margin-left: auto; margin-right: auto" ng-repeat="row in [0,1,2]">
                        <span ng-repeat="p in getAvailableSlots(getSelectedContest(), row) track by $index">
                            <avatar ng-show="p" id="{{ p.facebookID }}" class="avatar-53"></avatar>
                            <img class="no_picture_gang clickable"
                                ng-hide="p"
                                ng-click="invitePlayerPopup(getSelectedContest(), MySession.getUserID())"
                                title="invite a friend"
                                src="/assets/images/play/unknown-53.jpg">
                        </span>
                    </div>
                </div>
                <div ng-if="getSelectedContest().status === 'CLOSED'" class="col-md-3 contest_winners">
                    <div class="pull-left">
                        <avatar id="{{ getSelectedContest().rankings.participants[0].facebookID }}" class="avatar-53"></avatar>
                        <img ng-if="getSelectedContest().status === 'CLOSED'" ng-src="/assets/images/{{ trophy(getSelectedContest().rankings.participants[0].rank) }}">
                        <span ng-class="'rank_' + getSelectedContest().rankings.participants[0].rank">
                            {{ getSelectedContest().rankings.participants[0].rank }}
                        </span>
                    </div>

                    <div ng-if="getSelectedContest().participants.length > 1" class="pull-left">
                        <avatar id="{{ getSelectedContest().rankings.participants[1].facebookID }}" class="avatar-53"></avatar>
                        <img ng-if="getSelectedContest().status === 'CLOSED'" ng-src="/assets/images/{{ trophy(getSelectedContest().rankings.participants[1].rank) }}">
                        <span ng-class="'rank_' + getSelectedContest().rankings.participants[1].rank">
                            {{ getSelectedContest().rankings.participants[1].rank }}
                        </span>
                    </div>

                    <div ng-if="getSelectedContest().participants.length > 2" class="pull-left">
                        <avatar id="{{ getSelectedContest().rankings.participants[2].facebookID }}" class="avatar-53"></avatar>
                        <img ng-if="getSelectedContest().status === 'CLOSED'" ng-src="/assets/images/{{ trophy(getSelectedContest().rankings.participants[2].rank) }}">
                        <span ng-class="'rank_' + getSelectedContest().rankings.participants[2].rank">
                            {{ getSelectedContest().rankings.participants[2].rank }}
                        </span>
                    </div>
                </div>

                <div ng-show="getSelectedContest().status === 'CLOSED'" class="col-md-12">&nbsp;</div>
                <div ng-if="getSelectedContest().status !== 'CLOSED'">
                    <div ng-show="getSelectedContest().rankings.leader" class="col-md-3">Leader</div>
                    <div ng-show="getSelectedContest().rankings.leader" class="col-md-9">
                        <img ng-if="getSelectedContest().status === 'CLOSED'" ng-src="/assets/images/{{ trophy(getSelectedContest().rankings.leader.rank) }}">
                        <avatar id="{{ getSelectedContest().rankings.leader.facebookID }}" class="avatar-20"></avatar>
                        <span ng-class="'rank_' + getSelectedContest().rankings.leader.rank">{{ getSelectedContest().rankings.leader.rank }}</span>
                        <span ng-class="getSelectedContest().rankings.leader.gainLoss >= 0 ? 'positive' : 'negative'">
                            <changearrow value="{{ getSelectedContest().rankings.leader.gainLoss }}"></changearrow>
                            {{ getSelectedContest().rankings.leader.gainLoss | number:2 }}%
                        </span>
                    </div>
                </div>

                <!-- Contest Status -->
                <div class="col-md-3">Status</div>
                <div class="col-md-5">
                    <span ng-class="getStatusClass(getSelectedContest())">{{ getSelectedContest().status }}</span>
                </div>
                <div class="col-md-4">
                    <input id="friendsOnly" type="checkbox" ng-model="getSelectedContest().friendsOnly" disabled>
                    <i class="fa fa-users"></i> <label for="friendsOnly">Friends-Only</label>
                </div>

                <!-- Contest Created -->
                <div class="col-md-3">Created</div>
                <div class="col-md-5">{{ getSelectedContest().creationTime | duration }}</div>
                <div class="col-md-4">
                    <input id="perksAllowed" type="checkbox" ng-model="getSelectedContest().perksAllowed" disabled>
                    <i class="fa fa-gift"></i> <label for="perksAllowed">Perks Allowed</label>
                </div>

                <!-- Contest Started -->
                <div class="col-md-3">Started</div>
                <div class="col-md-5">
                    <span ng-show="getSelectedContest().startTime">{{ getSelectedContest().startTime | duration }}</span>
                    <span ng-hide="getSelectedContest().startTime" class="null">Not Started</span>
                </div>
                <div class="col-md-4">
                    <input id="invitationOnly" type="checkbox" ng-model="getSelectedContest().invitationOnly" disabled>
                    <i class="fa fa-lock"></i> <label for="invitationOnly">Invitation-Only</label>
                </div>

                <!-- Contest Ended -->
                <div class="col-md-3">{{ getSelectedContest().status === 'ACTIVE' ? 'Ends' : 'Ended' }}</div>
                <div class="col-md-5">
                    <span ng-hide="getSelectedContest().expirationTime" class="null">Not Specified</span>
                    <span ng-show="getSelectedContest().expirationTime">{{ getSelectedContest().expirationTime | duration }}</span>
                </div>
                <div class="col-md-4">
                    <input id="robotsAllowed" type="checkbox" ng-model="getSelectedContest().robotsAllowed" disabled>
                    <i class="fa fa-android"></i> <label for="robotsAllowed">Robots Allowed</label>
                </div>

                <!-- Contest Buy-In Cost -->
                <div class="col-md-3">Buy-In Cost</div>
                <div class="col-md-9">
                    <span ng-class="MySession.getNetWorth() >= getSelectedContest().startingBalance ? 'positive' : 'negative'">
                        $ {{ getSelectedContest().startingBalance | number:2 }}
                    </span>
                </div>

                <!-- Contest Level Cap -->
                <div class="col-md-3">Level Cap</div>
                <div class="col-md-9">
                    {{ getSelectedContest().levelCap }} &#8212; {{ levels[getSelectedContest().levelCap].description }}
                </div>
            </div>
            <div class="row" style="margin-top: 5px">
                <div class="col-md-2" ng-show="isParticipant(getSelectedContest())">
                    <button class="btn btn-default st_button" ng-click="enterGame(getSelectedContest())">
                        <i class="fa fa-arrow-circle-right"></i>
                        <img ng-show="getSelectedContest().entering" src="/assets/images/status/loading16.gif"> Enter
                    </button>
                </div>
                <div class="col-md-2" ng-show="isContestOwner(getSelectedContest()) && !getSelectedContest().startTime">
                    <button class="btn btn-default st_button" ng-click="startContest(getSelectedContest())">
                        <i ng-hide="getSelectedContest().starting" class="fa fa-youtube-play"></i>
                        <img ng-show="getSelectedContest().starting" src="/assets/images/status/loading16.gif"> Start
                    </button>
                </div>
                <div class="col-md-2" ng-show="isJoinable(getSelectedContest())">
                    <button class="btn btn-default st_button" ng-click="joinContest(getSelectedContest())">
                        <i ng-hide="getSelectedContest().joining" class="fa fa-user"></i>
                        <img ng-show="getSelectedContest().joining" src="/assets/images/status/loading16.gif"> Join
                    </button>
                </div>
                <div class="col-md-2" ng-show="isDeletable(getSelectedContest())">
                    <button class="btn btn-default st_button" ng-click="deleteContest(getSelectedContest())">
                        <i ng-hide="getSelectedContest().deleting" class="fa fa-ban"></i>
                        <img ng-show="getSelectedContest().deleting" src="/assets/images/status/loading16.gif"> Delete
                    </button>
                </div>
                <div class="col-md-2" ng-show="!isContestOwner(getSelectedContest()) && isParticipant(getSelectedContest())">
                    <button class="btn btn-default st_button" ng-click="quitContest(getSelectedContest())">
                        <i ng-hide="getSelectedContest().quitting" class="fa fa-warning"></i>
                        <img ng-show="getSelectedContest().quitting" src="/assets/images/status/loading16.gif"> Quit
                    </button>
                </div>
            </div>
        </fieldset>
    </div>
</div>
