/*********************************************************************************
 * 							General												 *
 *********************************************************************************/

.rs_exchange_block {
	background: #e0e0e0;
	border: 1px solid #d8d8d8;
	border-radius: 4px 4px 4px 4px;
	padding-left: 5px;
	margin-bottom: 10px;
}

.rs_label {
	color: #0000aa;
	font-weight: bold;
}

/*********************************************************************************
 * 							Research :: Search Results Classes					 *
 *********************************************************************************/
 
.results_none { color: #000000 }
.results_small { color: #00af00 }
.results_medium { color: #ff8000 }
.results_large { color: #ff0000 }

/*********************************************************************************
 * 							Research Inputs										 *
 *********************************************************************************/

div.research {
	display: table;
	width: 100%;
}

/*********************************************************************************
 * 							Search 												 *
 *********************************************************************************/

#search_console {
	display: inline;
	width: 100%;
	float: left;
}

#search_filters {
	display: block;
	float: right;	
	width: 220px;
	height: 200px;
}

#searchResults {
	clear: both;
	overflow: auto;	
	
	width: auto;
	height: 400px;	
}

table.results {
	border-collapse: collapse;
	border-top: 1px solid #888888;
	width: 100%; 
}

.results, .results_date {
	text-align: left;
	padding:	0px;
	width:		8%
}

.results_num  {
	text-align: right;
	padding:	0px;
	width:		8%
}

.results_bignum {
	text-align: right;
	padding:	0px;
	width:		10%
}

/*********************************************************************************
 * 							Filter Side											 *
 *********************************************************************************/

#filterSide {
	display: block;
	float: left;
	width: 100%;
}

#filterList {
	display: inline;
}

#filterLabel {
	display: block;
}

#filterMatches {
	float: left;
	vertical-align: middle;
}

div.filters {
	display: block;
	width: 60%; 
	vertical-align: top;
}
