<div class="col-md-12 player_info_bar st_title_bar" style="margin-bottom: 16px" ng-controller="InformationBarController" ng-init="initInfoBar()">
    <div class="col-md-4 pi_bar_cash pad-left-10">
        <span ng-show="isAuthenticated()"  class="title_color" ng-show="userProfile.userID">
            <avatar id="{{ userProfile.userID }}" class="avatar-32"></avatar>
            <img ng-src="/images/status/{{ isWebSocketConnected() ? 'greenlight' : 'offlight' }}.png" style="vertical-align: top"
                 title="{{ isWebSocketConnected() ? 'Connected' : 'Not Connected' }}">
        </span>
    </div>
    <div class="col-md-5">
        <input class="form-control media-middle" ng-model="searchTerm" type="text"
               placeholder="Search for Players, Securities or Groups"
               typeahead="item as formatSearchResult(item) for item in autoCompleteSearch($viewValue)"
               typeahead-template-url="reactive_search.html"
               typeahead-loading="loading"
               typeahead-on-select="onSelectedItem($item, $model, $label)"
               popover-trigger="focus">
    </div>
    <div class="col-md-3">
        <span class="title_color pull-right" style="margin-right: 20px">
            <span ng-hide="isAuthenticated()" class="clickable" ng-click="signIn()">
                <i class="fa fa-lg fa-sign-in fb_icon"></i> Sign In
            </span>
            <span ng-hide="isAuthenticated()" class="clickable" ng-click="signUp()"> / Sign Up</span>
            <img ng-show="isLoggingOut" src="/images/status/loading16.gif">
            <span ng-show="isAuthenticated()" class="title_color clickable" ng-click="logout()">Sign Out</span>
        </span>
    </div>
</div>
