<div class="row" ng-hide="getMyContests().length">
    <span class="warning col-md-12">
        <i class="fa fa-exclamation-triangle"></i> No games found
    </span>
</div>

<div class="row" ng-show="getMyContests().length">
    <div class="col-md-7 header left padding-left-16">My Standing</div>
    <div class="col-md-5 header center">1st Place</div>
</div>

<div class="row clickable" ng-repeat="c in getMyContests() track by $index" ng-click="enterGame(c)">
    <!-- Game Title -->
    <div class="col-md-7">
        <img ng-show="c.loading" src="/images/status/loading16.gif">
        <span ng-class="c.playerGainLoss >= 0 ? 'positive' : 'negative'">
            {{ c.playerGainLoss | abs | number:2 }}%
            <changearrow value="{{ c.playerGainLoss }}"></changearrow>
        </span>
        <avatar ng-hide="c.loading" id="{{ c.hostUserID }}" class="avatar-16" ng-class="c.status != 'ACTIVE' ? 'opaque' : ''"></avatar> {{ c.name }}
    </div>
    <!-- Leader -->
    <div class="col-md-5 center" ng-show="c.leaderID">
        <span ng-class="c.leaderGainLoss >= 0 ? 'positive' : 'negative'">
            {{ c.leaderGainLoss | abs | number:2 }}%
            <changearrow value="{{ c.leaderGainLoss }}"></changearrow>
        </span>
        <avatar id="{{ c.leaderID }}" class="avatar-16" title="{{ c.leaderName }}"></avatar> {{ c.leaderName }}
    </div>
</div>




