<script type="text/ng-template" id="invite_player_dialog.htm">
    <div class="modal-header st_modal_header">
        <h3>Send Game Invite(s)</h3>
    </div>
    <div class="modal-body">
        <div class="bold">{{ getInvitedCount() }} Friend(s) Selected</div>
        <div class="row">
            <div class="col-md-7">
                <div class="friendsContainer">
                    <table style="width: 100%">
                        <tr ng-repeat="friend in getFriends()">
                            <td>
                                <input type="checkbox" ng-model="invites[$index]">
                                <avatar object="{{ friend }}" class="avatar-16"></avatar> {{ friend.name }}
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="col-md-5">
                <textarea style="width: 200px; height: 200px">Come play with us!</textarea>
            </div>
        </div>
    </div>
    <div class="modal-footer st_modal_footer">
        <div class="col-md-12">
            <button class="btn btn-primary pull-left" ng-click="ok()">Send</button>
            <button class="btn btn-warning pull-right" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</script>
