<script type="text/ng-template" id="transfer_funds_dialog.htm">
    <div class="modal-header st_modal_header">
        <h4>Transfer Funds</h4>
    </div>
    <div class="modal-body" ng-init="init()">
        <div class="row">
            <div class="col-md-5 bold">Cash Account Balance</div>
            <div class="col-md-7">
                <span class="st_green">$ {{ form.cashFunds | number:2 }}</span>
            </div>

            <div class="col-md-5 bold">Margin Account Balance</div>
            <div class="col-md-7">$ {{ form.marginFunds | number:2 }}</div>

            <div class="col-md-12 form-group" style="margin-top: 10px">
                <label for="action">Transfer Action</label>
                <select id="action" class="form-control" ng-model="form.action" ng-options="a.label for a in actions"></select>
            </div>

            <div class="col-md-12 form-group">
                <label for="amount">Transfer Amount</label>
                <input class="form-control" id="amount" type="number" ng-model="form.amount" ng-disabled="!form.action">
            </div>
        </div>

        <!-- error messages -->
        <div class="row" ng-show="hasMessages()">
            <ul class="error">
                <li class="error" ng-repeat="message in getMessages()">
                    <span class="error">{{message}}</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="modal-footer st_modal_footer">
        <div class="col-md-12">
            <button class="btn btn-primary pull-left" ng-disabled="processing" ng-click="accept(form)">
                <img ng-show="processing" src="/assets/images/status/loading.gif"> Execute
            </button>
            <button class="btn btn-warning pull-right" ng-disabled="processing" ng-click="cancel()">
                Cancel
            </button>
        </div>
    </div>
</script>