@import com.shocktrade.models.contest.ContestStatus

<div ng-controller="PortfolioController" class="row">
    <div ng-hide="contest">
        <span class="warning" style="font-size: 14pt">
            Oops! No Game Selected. Click <a ng-click="changePlayTab(0)">here</a> to return to Search.
        </span>
    </div>

    <div ng-if="contest" class="play_container">
        <div class="col-md-3">
            <div class="rankings_container">
                <div class="rank_cell" ng-repeat="p in getRankings(contest)">
                    <div class="pull-left" style="display: inline">
                        <avatar id="{{ p.facebookID }}" style="margin: 3px; width: 45px; height: 45px" />
                    </div>
                    <div class="pull-left" style="display: inline">
                        <div>
                            <img ng-show="isOnline(p)" src="/assets/images/status/greenlight.png">
                            <img ng-hide="isOnline(p)" src="/assets/images/status/offlight.png">

                            <span ng-class="'rank_' + p.rank">{{ p.rank }}</span>
                            <img ng-if="contest.status === '@{ContestStatus.CLOSED}' && p.rank === '1st'" src="/assets/images/contests/gold.png">
                            <img ng-if="contest.status === '@{ContestStatus.CLOSED}' && p.rank === '2nd'" src="/assets/images/contests/silver.png">
                            <img ng-if="contest.status === '@{ContestStatus.CLOSED}' && p.rank === '3rd'" src="/assets/images/contests/bronze.png">
                            <span class="null">&#8212;</span>
                            <span class="st_text_color" ng-click="showGamerCard(p.name)">{{ p.name }}</span>
                        </div>
                        <div>
                            <span class="positive">$ {{ p.totalEquity | number:2 }}</span>
                            <span ng-class="p.gainLoss >= 0 ? 'positive' : 'negative'">
                                <changearrow ng-hide="(p.gainLoss || 0) == 0" value="{{ p.gainLoss }}" />
                                <span ng-if="(p.gainLoss || 0) == 0" class="null">&#8212;</span>
                                <span ng-if="p.gainLoss > 0">+</span>{{ p.gainLoss | number:2 }}%
                            </span>
                        </div>
                    </div>
                    <br style="clear: both">
                </div>
            </div>
        </div>

        <div class="col-md-9" ng-include src="'/assets/views/play/portfolio/portfolio.htm'"></div>
    </div>
</div>