@import com.shocktrade.models.contest.ContestStatus

<div class="row">
    <div ng-hide="contest">
        <span class="warning" style="font-size: 14pt">
            Oops! No Game Selected. Click <a ng-click="changePlayTab(0)">here</a> to return to Search.
        </span>
    </div>

    <div ng-if="contest" class="play_container">
        <div class="col-md-3">
            <div class="rankings_container">
                <div style="margin-top: 5px" ng-repeat="p in contest.rankings">
                    <div class="row rank_cell">
                        <div style="display: inline; float: left">
                            <avatar id="{{ p.facebookID }}" style="margin: 3px; width: 45px; height: 45px" />
                        </div>
                        <div style="display: block">
                            <span ng-class="'rank_' + p.rank">{{ p.rank }} <span class="null">&#8212;</span>
                                <a ng-show="p.name" style="color: #0000ff" href="" ng-click="showGamerCard(p.name)">{{ p.name }}</a>
                                <span ng-hide="p.name" style="color: #00a044">
                                    Open/Available
                                </span>
                            </span>
                            <div style="display: inline; float: right; margin-right: 10px">
                                <img ng-if="contest.status === '@{ContestStatus.CLOSED}' && p.rank === '1st'" src="/assets/images/contests/gold.png">
                                <img ng-if="contest.status === '@{ContestStatus.CLOSED}' && p.rank === '2nd'" src="/assets/images/contests/silver.png">
                                <img ng-if="contest.status === '@{ContestStatus.CLOSED}' && p.rank === '3rd'" src="/assets/images/contests/bronze.png">
                            </div>
                        </div>
                        <div style="display: block">
                            <img src="/assets/images/objects/cash.gif">
                            <span class="positive">{{ p.totalEquity | number:2 }}</span>
                            <span ng-class="p.gainLoss >= 0 ? 'positive' : 'negative'">
                                <changearrow ng-hide="(p.gainLoss || 0) == 0" value="{{ p.gainLoss }}" />
                                <span ng-if="(p.gainLoss || 0) == 0" class="null">&#8212;</span>
                                <span ng-if="p.gainLoss > 0">+</span>{{ p.gainLoss | number:2 }}%
                            </span>
                        </div>
                        <div style="display: block">
                            <img src="/assets/images/objects/reward.png">
                            <span style="color: #0080ff">{{ p.score | number }} pts</span>
                            <span style="float: right; padding-right: 10px" ng-if="p.gainLoss >= 25">
                                <img ng-repeat="n in starRating(p.gainLoss)" src="/assets/images/status/star.png">
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-9" ng-include src="'/assets/views/play/portfolio/portfolio.htm'"></div>
    </div>
</div>