<div class="gamesSearchContainer">

	<!-- Game Filtering Options -->
	<div ng-hide="isSplitScreen()" class="col-md-8">
		<fieldset class="contest">
			<legend class="contest"><img src="/assets/images/buttons/search.png"> Search for Games</legend>
			<table>
				<tr>
					<td class="col-md-3">
						<input type="checkbox" ng-model="searchOptions.activeOnly">
						<img src="/assets/images/objects/market.png"> Online
					</td>
					<td class="col-md-4">
						<input type="checkbox" ng-model="searchOptions.perksAllowed">
						<img src="/assets/images/objects/gift.png"> Perks
					</td>
					<td class="col-md-5">
						<input type="checkbox" ng-model="searchOptions.botsAllowed">
						<img src="/assets/images/objects/robot.png"> Robots
					</td>
				</tr>
				<tr>
					<td class="col-md-3">
						<input type="checkbox" ng-model="searchOptions.available">
						<img src="/assets/images/status/online.png"> Available
					</td>
					<td class="col-md-4">
						<input type="checkbox" ng-model="searchOptions.friendsOnly">
						<img src="/assets/images/objects/friend_header.gif"> My Friends
					</td>
					<td class="col-md-5">
						<input type="checkbox" ng-model="searchOptions.levelCapAllowed">
						<img src="/assets/images/objects/friend_delete.png"> Level Cap (by Rank)
					</td>
				</tr>
				<tr>
					<td class="col-md-3">&nbsp;</td>
					<td class="col-md-4">
						<select ng-show="searchOptions.friendsOnly"
						ng-model="searchOptions.friend"
						style="margin-left: 16px">
							<option value="">-- None --</option>
							<option ng-repeat="friend in getRegisteredFriends()" value="{{ friend.id }}">{{ friend.name }}</option>
						</select>
					</td>
					<td class="col-md-5">
						<select ng-show="searchOptions.levelCapAllowed"
						ng-controller="RewardsController"
						ng-model="searchOptions.levelCap"
						style="margin-left: 16px">
							<option value="">-- None --</option>
							<option ng-repeat="level in levels"
							style="background-image:url(/assets/images/objects/friend_delete.png); background-repeat: no-repeat; text-indent: 16px"
							value="{{ level.number }}">{{ level.number + ': ' + level.description }}</option>
						</select>
					</td>
				</tr>
			</table>
		</fieldset>
	</div>

	<!-- Search Results -->
	<div class="col-md-12">
		<div ng-class="{'col-md-12':(!isSplitScreen()), 'col-md-5':(isSplitScreen())}">
			<fieldset class="contest">
				<legend class="contest">
					Search Results (<span class="positive">{{ getAvailableCount() }}</span>/{{ searchResults.length || 0 }})
				</legend>
				<div class="availGamesContainer">
					<table style="width: 100%">
						<tr>
							<th class="col-md-4 left" style="padding-left: 20px">Game Name</th>
							<th ng-hide="isSplitScreen()" class="col-md-2 center">Started</th>
							<th ng-hide="isSplitScreen()" class="col-md-2 right">Buy In</th>
							<th ng-hide="isSplitScreen()" class="col-md-2 right">Players</th>
							<th ng-hide="isSplitScreen()" class="col-md-2 right">Modifiers</th>
						</tr>
						<tr ng-repeat="c in searchResults" class="clickable" ng-click="selectContest(c)"
							ng-class="contest._id.$oid === c._id.$oid ? 'highlighted_game' : ( $index % 2 === 0 ? 'even' : 'odd' )">
							<td>
								<span ng-if="c.status === 'ACTIVE'">
									<img ng-src="{{ getStatusIcon(c) }}">
								</span>
								<img ng-hide="c.status === 'ACTIVE'" src="/assets/images/status/offlight.png">
								<avatar id="{{ c.participants[0].facebookID }}" style="width: 20px; height: 20px" />
								<a href="">{{ c.name }}</a>
							</td>
							<td ng-hide="isSplitScreen()" class="center">
								<span ng-show="c.startTime">{{ c.startTime | date:'MM-dd-yyyy' }}</span>
								<span ng-hide="c.startTime">&#8212;</span>
							</td>
							<td ng-hide="isSplitScreen()">
								<span ng-class="c.status === 'ACTIVE' ? '' : 'null'" style="float: right">
									$ {{ c.startingBalance | number }}
								</span>
							</td>
							<td ng-hide="isSplitScreen()" class="right">
								<span ng-class="c.status === 'ACTIVE' ? '' : 'null'">{{ c.participants.length || 0 }} x</span>
								<img src="/assets/images/objects/friend_header.gif">
								<span ng-if="c.status === 'ACTIVE'">
									/ {{ maxPlayers < 10 ? '0' + maxPlayers : maxPlayers }}
								</span>
							</td>
							<td ng-hide="isSplitScreen()">
								<span style="float: right">
									<img ng-src="/assets/images/{{ c.friendsOnly ? 'objects/friend_header.gif' : 'status/transparent.png' }}">
									<img ng-src="/assets/images/{{ c.levelCap ? 'objects/friend_delete.png' : 'status/transparent.png' }}">
									<img ng-src="/assets/images/{{ c.perksAllowed ? 'objects/gift.png' : 'status/transparent.png' }}">
									<img ng-src="/assets/images/{{ c.robotsAllowed ? 'objects/robot.png' : 'status/transparent.png' }}">
								</span>
							</td>
						</tr>
					</table>
				</div>
			</fieldset>
			<button class="btn btn-default new_game"
				style="float: right"
				ng-hide="isSplitScreen()"
				ng-click="popupNewGameDialog()"> New Game
			</button>
		</div>

		<!-- Game Details -->
		<div ng-show="isSplitScreen()" ng-class="col-md-7">
			<fieldset class="contest" ng-show="contest.participants">
				<legend class="contest">Game Details for '<span class="game_title">{{contest.name}}</span>'
					<img style="float: right"
						class="clickable"
						ng-click="toggleSplitScreen()"
						title="Return to results"
						src="/assets/images/buttons/back-24.png">
				</legend>
				<div class="row" style="margin-top: 5px; background: #ffffee; border: 1px solid #cccccc; border-radius: 8px; padding: 6px">
					<div class="col-md-12">
						<span ng-repeat="p in contest.participants">
							<avatar id="{{ p.facebookID }}" style="width: 53px; height: 53px; margin: 2px 0px 2px 0px" />
						</span>
						<span ng-repeat="slot in getAvailableSlots()">
							<img class="spectatorAvatar clickable"
							ng-click="popupInvitePlayerDialog(contest)"
							popover-trigger="mouseenter"
							popover="Invite a friend to this game"
							style="width: 53px; height: 53px; margin: 2px 0px 2px 0px"
							src="/assets/images/objects/nobody1.jpg" />
						</span>
					</div>

					<div ng-hide="contest.leader" class="col-md-12">&nbsp;</div>
					<div ng-show="contest.leader" class="col-md-3">Leader</div>
					<div ng-show="contest.leader" class="col-md-9">
						<img ng-if="contest.status === 'CLOSED'" ng-src="/assets/images/{{ trophy(contest.leader.rank) }}">
						<avatar id="{{ contest.leader.facebookID }}" style="width: 20px; height: 20px" />
						<span ng-class="'rank_' + contest.leader.rank">{{ contest.leader.rank }}</span>
						<span ng-class="contest.leader.gainLoss >= 0 ? 'positive' : 'negative'">
							<changearrow value="{{ contest.leader.gainLoss }}" /> {{ contest.leader.gainLoss | number:2 }}%
                        </span>
					</div>

					<div class="col-md-3">Status</div>
					<div class="col-md-5">
						<img ng-show="contest" ng-src="{{ getStatusIcon(contest) }}">
						<span ng-class="getStatusClass(contest)">{{ contest.status }}</span>
					</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="contest.friendsOnly" disabled>
						<img src="/assets/images/objects/friend_header.gif"> Friends-Only
					</div>

					<div class="col-md-3">Created</div>
					<div class="col-md-5">{{ contest.creationTime | date:'MM/dd/yyyy hh:mma' }}</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="contest.perksAllowed" disabled>
						<img src="/assets/images/objects/gift.png"> Perks Allowed
					</div>

					<div class="col-md-3">Started</div>
					<div class="col-md-5">
						<span ng-show="contest.startTime">{{ contest.startTime | date:'MM/dd/yyyy hh:mma' }}</span>
						<span ng-hide="contest.startTime" class="null">Not Started</span>
					</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="contest.invitationOnly" disabled>
						<img src="/assets/images/objects/protected.png"> Invitation-Only
					</div>

					<div class="col-md-3">Ends</div>
					<div class="col-md-5">
						<span ng-show="contest.expirationTime">{{ contest.expirationTime | date:'MM/dd/yyyy hh:mma' }}</span>
						<span ng-hide="contest.expirationTime" class="null">Not Specified</span>
					</div>
					<div class="col-md-4">
						<input type="checkbox" ng-model="contest.robotsAllowed" disabled>
						<img src="/assets/images/objects/robot.png"> Robots Allowed
					</div>

					<div class="col-md-3">Buy-In Cost</div>
					<div class="col-md-9">$ {{ contest.startingBalance | number }}</div>

					<div class="col-md-3">Level Cap</div>
					<div class="col-md-9">
						{{ contest.levelCap }} &#8212; {{ levels[contest.levelCap].description }}
					</div>
				</div>
				<div class="row" style="margin-top: 5px">
					<div class="col-md-2">
						<button class="btn btn-default start_game"
						ng-show="isParticipant(contest)"
						ng-click="changePlayTab(1)">
							<img src="/assets/images/objects/enter.png"> Enter
						</button>
					</div>
					<div class="col-md-6">&nbsp;</div>
					<div class="col-md-4">
						<button class="btn btn-default start_game"
							ng-show="isContestOwner(contest) && !contest.startTime"
							ng-click="startContest(contest)">
							<img ng-src="/assets/images/{{ contest.starting ? 'status/loading.gif' : 'objects/play.png' }}"> Start
						</button>
						<button class="btn btn-default join_game"
							ng-show="isJoinable(contest)"
							ng-click="joinContest(contest)">
							<img ng-src="/assets/images/{{ contest.joining ? 'status/loading.gif' : 'objects/friend.png' }}"> Join
						</button>
						<button class="btn btn-default delete_game"
						ng-show="isContestOwner(contest) && (!contest.startTime || contest.participants.length == 1)"
						ng-click="deleteContest(contest)">
							<img ng-src="/assets/images/{{ contest.deleting ? 'status/loading.gif' : 'buttons/remove.png' }}"> Delete
						</button>
						<button class="btn btn-default quit_game"
						ng-show="!isContestOwner(contest) && isParticipant(contest)"
						ng-click="quitContest(contest)">
							<img ng-src="/assets/images/{{ contest.quitting ? 'status/loading.gif' : 'objects/alert.png' }}"> Quit
						</button>
					</div>
				</div>
			</fieldset>
		</div>
	</div>

</div>

