.contest_colors {
/*	border: 1px solid #c0ddee;*/
	background-color: #eeeeee;
}

.contest_lobby {
	border-radius: 8px;
	padding: 6px;
	margin-top: 5px;
}

.contest_even {

}

.contest_odd {
	background: #eeeeee;
}

.player_info_bar {
	border-radius: 5px 5px 5px 5px;
	padding: 3px 3px 3px 3px;
	margin-left: 3px;
	margin-right: 3px;
}

fieldset.contest {

}

legend.contest {
	margin-bottom: 10px;
}

.game_title {
	color: #1090ff;
}

img.avatar {
	width: 16px;
	height: 16px;
	margin-right: 3px
}

img.avatar24 {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	border-radius: 3px 3px 3px 3px;
	margin-right: 3px
}

img.participant_gang {
	border-radius: 5px 5px 5px 5px;
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 0px;
}

img.no_picture_gang {
	background: #ffffff;
	width: 53px;
	height: 53px;
}

img.playerAvatar {
	border-radius: 5px 5px 5px 5px;
}

img.spectatorAvatar {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #cccccc;
}

img.spectator {
	width: 16px;
	height: 16px;
	margin-right: 3px
}

img.gamerCard {
	width: 75px; 
	height: 75px; 
	margin: 3px; 
	border-radius: 5px 5px 5px 5px
}

img.gamerPic {
	width: 45px; 
	height: 45px; 
	margin: 3px; 
	border-radius: 5px 5px 5px 5px
}

img.locked {
	vertical-align: middle
}

.gameline {
	display:block; 
	border: 1px solid #eedd99; 
	border-radius: 4px;
	width: 100%; 
	background-color: #ffeeaa; 
	color: #000080;
	font-size: 12pt; 
	font-weight: bold;
	text-align: center
}

.facebook {
	border: 1px solid #004499;
	background-color: #0055aa;
	color: #ffffff;
	font-weight: bold;	
	border-radius: 5px 5px 5px 5px;
	padding: 1px 2px 1px 2px
}

.highlighted_game {
	background-color: #ffff00;
	border: 1px solid #dddd00;
	border-radius: 4px 4px 4px 4px;
}

.contest_left_side {
	display: inline;
	float: left;
	width: 275px;
}

.contest_right_side {
	display: inline; 
	float: right;
	width: 745px; 
}

.contest_status_bar {
	background-color: #dddddd;
	border: solid 1px #888888;
	border-radius: 5px 5px 5px 5px;
	width: 100%;
	height: 25px; 
}

div.header_bar {
	display: block; 
	border: 1px solid #888888;
	width: 100%; 
	height: 24px; 
	background-color: #dddddd; 
	color: #000000; 
	margin-bottom: 5px
}

div.availGamesContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

div.myAwardsContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

div.myPerksContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

div.myGamesContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 285px;
}

div.gamesSearchContainer {
	background-color: white;
	clear: both;
	overflow: auto;	
	width: auto;
	height: 450px;
}

div.portfolio_container {
	background-color: #f0f0f0;
	border-radius: 4px;
	padding: 4px;
	clear: both;
	overflow: auto;
	width: auto;
	height: 350px;
}

div.gamesQuickSearchContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 285px;
}

.gs_left {
	text-align: left;
}

.gs_right {
	text-align: left;
}

.gs_icon {
	width: 20px;
}

div.mySymbolsContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 180px;
}

div.friendsContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

div.leaderboardContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 190px;
}

button.enter_game {
	background-color: #ff8000;
	color: #000000;
	border-radius: 4px;
	font-weight: bold;
}

button.start_game {
	background-color: #ff8000;
	color: #000000;
	border-radius: 4px;
	font-weight: bold;
}

button.new_game {
	background-color: #ff8000;
	color: #000000;
	border-radius: 4px;
	font-weight: bold;
}

button.cancel_button {
	background-color: #ff8000;
	color: #000000;
	border-radius: 4px;
	font-weight: bold;
}

button.create_new {
    background-color: #ff8000;
	color: #000000;
	border-radius: 4px;
	font-weight: bold;
}

button.join_game {
	background-color: #ff8000;
	color: #000000;
	border-radius: 4px;
	font-weight: bold;
}

button.quit_game {
    background-color: #ff8000;
	color: #000000;
	border-radius: 4px;
	font-weight: bold;
}

button.delete_game {
	background-color: #ff8000;
	color: #000000;
	border-radius: 4px;
	font-weight: bold;
}

button.search_game {
    background-color: #ff8000;
	color: #000000;
	border-radius: 4px;
	font-weight: bold;
}

.block_full {
	display: block; 
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.mini {
	font-size: 9pt
}
