@()
<div>
    <div ng-class="{'col-md-12':(!isSplitScreen()), 'col-md-5':(isSplitScreen())}">
        <div ng-class="{'col-md-4':(!isSplitScreen()), 'col-md-9':(isSplitScreen())}" class="bold left">Name</div>
        <div ng-class="{'col-md-2':(!isSplitScreen()), 'col-md-3':(isSplitScreen())}" class="bold left">Symbol</div>
        <div ng-hide="isSplitScreen()" class="col-md-3 bold right">Last Sale</div>
        <div ng-hide="isSplitScreen()" class="col-md-3 bold right">Volume</div>
    </div>
</div>
<div class="favoritesContainer">
    <div class="col-md-12 qm left">
            <span class="notice" ng-hide="getQuoteCount() > 0">
                <i class="fa fa-warning warning"></i> No records found
            </span>
    </div>

    <div ng-class="{'col-md-12':(!isSplitScreen()), 'col-md-5':(isSplitScreen())}" style="border-right: 1px solid #f0f0f0">
        <div class="row clickable"
             ng-repeat="quote in getFavoriteQuotes()"
             ng-click="selectQuote(quote)"
             ng-class="selectedQuote == quote ? 'highlighted_quote' : ($index % 2 ? 'even' : 'odd')">

            <div ng-class="{'col-md-4':(!isSplitScreen()), 'col-md-9':(isSplitScreen())}" class="qm left">
                <i class="fa fa-times-circle st_control"
                   ng-click="removeFavoriteSymbol(quote.symbol)"
                   popover="Remove {{ quote.symbol }} from My Favorites"
                   popover-trigger="mouseenter" popover-placement="right"></i>
                {{ quote.name }}
            </div>
            <div ng-class="{'col-md-2':(!isSplitScreen()), 'col-md-3':(isSplitScreen())}" class="qm left">
                <span ng-class="normalizeExchange(quote.exchange)">{{ quote.symbol }}</span>
            </div>
            <div ng-hide="isSplitScreen()" class="col-md-3 qm right">
                {{ quote.lastTrade | quoteNumber }}
                <i ng-show="quote.changePct < 0.0" class="fa fa-arrow-down negative"></i>
                <i ng-show="quote.changePct > 0.0" class="fa fa-arrow-up positive"></i>
                <i ng-show="quote.changePct === 0.0" class="null">&#8212;</i>
                <span ng-class="quote.changePct < 0 ? 'negative' : ''">{{ quote.changePct | quoteChange:2 }}</span>
            </div>
            <div ng-hide="isSplitScreen()" class="col-md-3 qm right">
                {{ quote.volume | number }}
            </div>
        </div>
    </div>

    <div ng-if="isSplitScreen()" class="col-md-7">
        <div class="col-md-12">
            <div class="col-md-3 bold">Name</div>
            <div class="col-md-9">
                {{ selectedQuote.name }}

                <span class="st_control pull-right" ng-click="cancelSelection()">
                    <i class="fa fa-chevron-circle-left"></i> Back
                </span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Symbol</div>
            <div class="col-md-9">
                <a ng-href="#/discover/{{ selectedQuote.symbol }}">{{ selectedQuote.symbol }}</a>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Exchange / Market</div>
            <div class="col-md-9">
                <span ng-class="normalizeExchange(selectedQuote.exchange)">{{ normalizeExchange(selectedQuote.exchange) }}</span>
                <span ng-show="selectedQuote.exchange !== normalizeExchange(selectedQuote.exchange)"> / {{ selectedQuote.exchange }}</span>
            </div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Last Sale</div>
            <div ng-show="selectedQuote.lastTrade != null" class="col-md-9">{{ selectedQuote.lastTrade | quoteNumber }}</div>
            <div ng-hide="selectedQuote.lastTrade != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Last Sale Date</div>
            <div ng-show="selectedQuote.tradeDateTime != null" class="col-md-9">{{ getDate(selectedQuote.tradeDateTime) | date:'MM-dd-yyyy' }}</div>
            <div ng-hide="selectedQuote.tradeDateTime != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Last Sale Time</div>
            <div ng-show="selectedQuote.tradeDateTime != null" class="col-md-9">{{ getDate(selectedQuote.tradeDateTime) | date:'hh:mm:ssaZ' }}</div>
            <div ng-hide="selectedQuote.tradeDateTime != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Change</div>
            <div ng-show="selectedQuote.changePct != null" class="col-md-9" ng-class="selectedQuote.changePct < 0 ? 'negative' : ''">
                {{ selectedQuote.changePct | number:2 }}%
                <i ng-show="selectedQuote.changePct < 0.0" class="fa fa-arrow-down negative"></i>
                <i ng-show="selectedQuote.changePct > 0.0" class="fa fa-arrow-up positive"></i>
            </div>
            <div ng-hide="selectedQuote.changePct != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Open Price</div>
            <div ng-show="selectedQuote.open != null" class="col-md-9">{{ selectedQuote.open | quoteNumber }}</div>
            <div ng-hide="selectedQuote.open != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Day's High</div>
            <div ng-show="selectedQuote.high != null" class="col-md-9">{{ selectedQuote.high | quoteNumber }}</div>
            <div ng-hide="selectedQuote.high != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Day's Low</div>
            <div ng-show="selectedQuote.low != null" class="col-md-9">{{ selectedQuote.low | quoteNumber }}</div>
            <div ng-hide="selectedQuote.low != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Spread</div>
            <div ng-show="selectedQuote.spread != null" class="col-md-9">{{ selectedQuote.spread | number:2 }}%</div>
            <div ng-hide="selectedQuote.spread != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">52-Week High</div>
            <div ng-show="selectedQuote.high52Week != null" class="col-md-9">{{ selectedQuote.high52Week | quoteNumber }}</div>
            <div ng-hide="selectedQuote.high52Week != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">52-Week Low</div>
            <div ng-show="selectedQuote.low52Week != null" class="col-md-9">{{ selectedQuote.low52Week | quoteNumber }}</div>
            <div ng-hide="selectedQuote.low52Week != null" class="col-md-9 null">Not Available</div>
        </div>

        <div class="col-md-12">
            <div class="col-md-3 bold">Volume</div>
            <div ng-show="selectedQuote.volume != null" class="col-md-9">{{ selectedQuote.volume | number }}</div>
            <div ng-hide="selectedQuote.volume != null" class="col-md-9 null">Not Available</div>
        </div>
    </div>
</div>