<div>
	<div ng-include src="'/assets/views/partial/market_status.htm'"></div>
	<div ng-include src="'/assets/views/discover/sector_industry.htm'"></div>	
	<div style="display: block; width: 100%; vertical-align: top">
		<div style="display: inline; float: left; vertical-align: top; padding-right: 8px; max-width: {{ mainWidthPct() }}">
			<div ng-include src="'/assets/views/discover/quotes/quote.htm'"></div>
		</div>
		<div ng-controller="SearchCtrl" style="display: inline; float: right; min-width: 459px; vertical-align: top">
			<div ng-include src="'/assets/views/discover/filters.htm'"></div>
		</div>
		<br style="clear: both">
	</div>
</div>
