<div class="exchange_legend" style="display: block; width: 100%">
	<span style="font-weight: bold; color: #000088; margin-left: 20px">Legend:</span>
	<div class="cube AMEX"><img src="/assets/images/objects/transparent12.png"></div> <span class="AMEX" title="American Stock Exchange (New York)">AMEX</span>
	<div class="cube BATS"><img src="/assets/images/objects/transparent12.png"></div> <span class="BATS" title="BATS Global Market Stock Exchange (Kansas City)">BATS</span>
	<div class="cube LSE"><img src="/assets/images/objects/transparent12.png"></div> <span class="LSE" title="London Stock Exchange">LSE</span>
	<div class="cube NASDAQ"><img src="/assets/images/objects/transparent12.png"></div> <span class="NASDAQ" title="NASDAQ Stock Exchange (New York)">NASDAQ</span>
	<div class="cube NCM"><img src="/assets/images/objects/transparent12.png"></div> <span class="NCM" title="New City Media Stock Exchange">NCM</span>
	<div class="cube NGM"><img src="/assets/images/objects/transparent12.png"></div> <span class="NGM" title="Nordic Growth Market Stock Exchange (Sweden)">NGM</span>
	<div class="cube NIKKEI"><img src="/assets/images/objects/transparent12.png"></div> <span class="NIKKEI" title="Japanese Stock Market">NIKKEI</span>
	<div class="cube NYSE"><img src="/assets/images/objects/transparent12.png"></div> <span class="NYSE" title="New York Stock Exchange (New York)">NYSE</span>
	<div class="cube OTCBB"><img src="/assets/images/objects/transparent12.png"></div> <span class="OTCBB" title="Over-The-Counter Bulletin Board (USA)">OTCBB</span>
	<div class="cube PCX"><img src="/assets/images/objects/transparent12.png"></div> <span class="PCX" title="Pacific Stock Exchange (San Francisco)">PCX</span>
	<div class="cube TSE"><img src="/assets/images/objects/transparent12.png"></div> <span class="TSE" title="Tokyo Stock Exchange">TSE</span>
	<div class="cube TORONTO"><img src="/assets/images/objects/transparent12.png"></div> <span class="TORONTO" title="Toronto Stock Exchange">TMX</span>
	<br style="clear: both" />
</div>