<div class="row sector_industry bottom">
	<div class="col-md-8">
		<!-- Market Image -->
		<img ng-if="q.active" ng-src="/assets/images/objects/market.png">
		<span ng-if="!q.active"
			popover="Asset is inactive" 
			popover-trigger="mouseenter"
			popover-placement="right">
			<img src="/assets/images/status/red_alert.png">
		</span>
		
		<!-- Sector -->
		<span ng-show="q.sector && (q.sector != 'N/A')">
			<span class="sector_H">{{ q.sector }}</span>	
			<img ng-show="q.sector" src="/assets/images/buttons/arrow-next.png" class="middle">
		</span>
		
		<!-- Industry -->
		<span ng-show="q.industry && (q.industry != 'N/A')">
			<span class="industry_H">{{ q.industry }}</span> 
			<img ng-show="q.industry" src="/assets/images/buttons/arrow-next.png" class="middle">
		</span>
		
		<!-- Sub-Industry -->
		<span ng-show="q.subIndustry && (q.subIndustry != 'N/A')">
			<span class="sub_industry_H">{{ q.subIndustry }}</span> 
			<img ng-show="q.subIndustry" src="/assets/images/buttons/arrow-next.png" class="middle">
		</span>		
		
		<!-- Exchange -->
		<span ng-class="q.exchange + ' bold'">{{ q.exchange }}</span>
		
		<!-- Company Name -->
		<span ng-show="q.name">
			<img ng-show="q.exchange" src="/assets/images/buttons/arrow-next.png" class="middle">
			<span class="company_H">{{ q.name }}</span>
		</span>
		
		<!--  Symbol -->
		<span ng-show="q.symbol">
			(<span ng-class="q.exchange + ' bold'">{{ q.symbol }}</span>)
		</span>
		
		<!-- Favorite -->
		<span ng-hide="q.active && isFavorite(q.symbol)">
			<a href="" ng-click="addFavoriteSymbol(q.symbol)">
				<img
					class="clickable"
					popover="Add to Favorites" 
					popover-trigger="mouseenter"  
					src="/assets/images/objects/favorite-add.png">
			</a>
		</span>
				
		<!-- Trade button -->
		<img ng-show="q.active && MySession.isAuthorized()" 
			src="/assets/images/buttons/cart-add16.png" 
			class="clickable middle"
			popover="Buy or Sell this security" 
			popover-trigger="mouseenter"
			ng-click="popupNewOrderDialog(q.symbol)">
	</div>
	<div class="col-md-4">
        <span ng-class="usMarketsOpen === null ? 'mks_loading' : (usMarketsOpen ? 'mks_open' : 'mks_closed')">
            <img ng-show="usMarketsOpen === null" src="/assets/images/status/loading.gif">
            {{ usMarketsOpen === null ? 'Checking Market Status...' : (usMarketsOpen ? 'US Markets Open' : 'US Markets Closed') }}
        </span>
	</div>
</div>
	