<div class="quote_sub_title contest_colors">
    <div class="row" ng-show="q.cikNumber || q.fullTimeEmployees">
        <span class="col-md-2 qm_header">SEC CIK #</span>
        <span class="col-md-4 qm_value">{{q.cikNumber}}</span>

        <span class="col-md-3 qm_header">Full-time Employees</span>
        <span class="col-md-3 qm_value">{{q.fullTimeEmployees | number}}</span>
    </div>

    <div class="row">
        <span class="col-md-2 qm_header">IPO Year</span>
        <span class="col-md-4 qm_value">{{q.ipoYear}}</span>

        <span class="col-md-3 qm_header">Fiscal Year End</span>
        <span class="col-md-3 qm_value">{{ q.fiscalYearEndDate | date:'MM/dd'}}</span>
    </div>

    <div class="row" ng-hide="!q.sicNumber">
        <span class="col-md-2 qm_header">SIC Code</span>
		<span class="col-md-10 qm_value">
			<span ng-show="q.sicNumber" class="industry">{{q.sicNumber}}</span> &#8212;
            <span class="industry">{{q.sicDescription}}</span>
        </span>
    </div>

    <div class="row" ng-hide="!q.naicsNumber">
        <span class="col-md-2 qm_header">NAICS Code</span>
		<span class="col-md-10 qm_value">
			<span ng-show="q.naicsNumber" class="sector">{{q.naicsNumber}}</span> &#8212;
            <span class="sector">{{q.naicsDescription}}</span>
        </span>
    </div>
</div>
