div.rank_cell {
	background-color: #e0e0e0;
    border: 1px solid #c0c0c0;
	border-radius: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.rank_cell_1st {
	background-color: gold;
	border: 1px solid #c0c0c0;
	border-radius: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.rank_cell_2nd {
	background-color: #eeffff;
	border: 1px solid #c0c0c0;
	border-radius: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

div.rank_cell_3rd {
	background-color: #eeffff;
	border: 1px solid #c0c0c0;
	border-radius: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.rank_1st, .rank_2nd, .rank_3rd {
	font-weight: bold;
	color: #009000;
}

.rank_4th {
	font-weight: bold;
	color: #ff7f00;
}

.rank_5th, .rank_6th, .rank_7th, .rank_8th, .rank_9th, .rank_10th, .rank_11th, .rank_12th, .rank_13th, .rank_14th,
.rank_15th, .rank_16th, .rank_17th, .rank_18th, .rank_19th, .rank_20th, .rank_21th, .rank_22th, .rank_23th, .rank_24th {
	font-weight: bold;
	color: #cf0000;
}

