div.rank_cell {
	background-color: #dddddd;
	border-radius: 5px 5px 5px 5px;
	margin-top: 5px;
	margin-bottom: 5px;
}

.rank_1, .rank_2, .rank_3 {
	font-weight: bold;
	color: #009000;
}

.rank_4 {
	font-weight: bold;
	color: #ff7f00;
}

.rank_5, .rank_6, .rank_7, .rank_8, .rank_9, .rank_10, .rank_11, .rank_12, .rank_13, .rank_14,
.rank_15, .rank_16, .rank_17, .rank_18, .rank_19, .rank_20, .rank_21, .rank_22, .rank_23, .rank_24 {
	font-weight: bold;
	color: #cf0000;
}

