.ds_clock {
    color: white;
    font-weight: bold;
    font-size: 12pt;
    vertical-align: bottom;
}

.ds-1st {
    color: #aaaa00;
    font-size: 13pt;
    font-weight: bold;
}

.ds-2nd {
    color: #aaaaaa;
    font-size: 13pt;
    font-weight: bold;
}

.ds-3rd {
    color: #aa8000;
    font-size: 13pt;
    font-weight: bold;
}

.ds-nth {
    color: #0080aa;
    font-size: 13pt;
    font-weight: bold;
}

.cs_battery_0 {
    color: #aa0000;
}

.cs_battery_1 {
    color: #aa6600;
}

.cs_battery_2 {
    color: #aaaa00;
}

.cs_battery_3 {
    color: #aa6600;
}

.cs_battery_4 {
    color: #00aa00;
}

.cs_search_divider {
	background: #5bc0ee;
	border: 1px solid #cccccc;
	border-radius: 4px;
	color: white;
	font-size: 12pt;
	font-weight: bold;
}

.cs_upper_lower_15px {
	margin-top: 15px;
    margin-bottom: 15px
}

.cs_lower_15px {
    margin-bottom: 15px
}

.dashboard_title {
    background: #5bc0ee;
    border: 1px solid #d4d4d4;
    border-radius: 4px 4px 4px 4px;
    color: #ffffff;
    font-size: 16pt;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.ds_heading {
    color: #2060bb;
    bold;
}

.ds_premium {
    color: #2060bb;
    bold;
}

.desert-blue {
    color: #5bc0ee;
}

.contest_colors {
	border: 1px solid #d4d4d4;
	border-radius: 4px 4px 4px 4px;
	background-color: #dddddd;
}

.contest_lobby {
	border-radius: 8px;
	padding: 6px;
	margin-top: 5px;
}

.contest_lobby_gallery {
	background: #e0e0e0;
	border-radius: 6px;
	padding: 4px
}

.contest_winners {
    border-radius: 6px;
    background: #e0e0e0;
}

.contest_even {

}

.contest_odd {
	background: #f8f8f8;
}

.player_info_bar {
	padding: 3px 3px 3px 3px;
	margin-left: 3px;
	margin-right: 3px;
}

.pi_bar_cash {
    font-size: 10pt;
}

fieldset.contest {

}

legend.contest {
	margin-bottom: 10px;
}

.game_title {
	color: #337ab7;
    font-weight: bold;
	text-decoration: underline;
}

img.avatar {
	width: 16px;
	height: 16px;
	margin-right: 3px
}

img.avatar24 {
	width: 32px;
	height: 32px;
	vertical-align: middle;
	border-radius: 3px 3px 3px 3px;
	margin-right: 3px
}

img.participant_gang {
	border-radius: 5px 5px 5px 5px;
	padding-top: 3px;
	padding-left: 2px;
	padding-right: 0px;
}

img.no_picture_gang {
	background: #ffffff;
	width: 53px;
	height: 53px;
}

img.playerAvatar {
	border-radius: 5px 5px 5px 5px;
}

img.spectatorAvatar {
	border-radius: 5px 5px 5px 5px;
	border: 1px solid #cccccc;
}

img.spectator {
	width: 16px;
	height: 16px;
	margin-right: 3px
}

img.gamerCard {
	width: 75px; 
	height: 75px; 
	margin: 3px; 
	border-radius: 5px 5px 5px 5px
}

img.gamerPic {
	width: 45px; 
	height: 45px; 
	margin: 3px; 
	border-radius: 5px 5px 5px 5px
}

img.locked {
	vertical-align: middle
}

.gameline {
	display:block; 
	border: 1px solid #eedd99; 
	border-radius: 4px;
	width: 100%; 
	background-color: #ffeeaa; 
	color: #000080;
	font-size: 12pt; 
	font-weight: bold;
	text-align: center
}

.facebook {
	border: 1px solid #004499;
	background-color: #0055aa;
	color: #ffffff;
	font-weight: bold;	
	border-radius: 5px 5px 5px 5px;
	padding: 1px 2px 1px 2px
}

.contest_left_side {
	display: inline;
	float: left;
	width: 275px;
}

.contest_right_side {
	display: inline; 
	float: right;
	width: 745px; 
}

.contest_status_bar {
	background-color: #dddddd;
	border: solid 1px #888888;
	border-radius: 5px 5px 5px 5px;
	width: 100%;
	height: 25px; 
}

div.header_bar {
	display: block; 
	border: 1px solid #888888;
	width: 100%; 
	height: 24px; 
	background-color: #dddddd; 
	color: #000000; 
	margin-bottom: 5px
}

div.availGamesContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 600px;
}

div.myPerksContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 200px;
}

div.myGamesContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 84px;
}

div.gamesSearchContainer {
	background-color: white;
	clear: both;
	overflow: auto;	
	width: auto;
	height: 450px;
}

div.play_container {
	background-color: #f0f0f0;
	clear: both;
	overflow: auto;
	width: auto;
	/*	height: 450px;*/
}

.rankings_header {
	background-color: #f0f0f0;
	font-size: 12pt;
}

div.rankings_container {
    background-color: #dcdcdc;
    border-radius: 4px;
	clear: both;
	overflow: auto;
	width: 100%;
	height: 650px;
	padding: 2px 2px 2px 2px;
}

.gs_left {
	text-align: left;
}

.gs_right {
	text-align: left;
}

.gs_icon {
	width: 20px;
}

.block_full {
	display: block; 
	width: 100%;
	margin-top: 0px;
	margin-bottom: 0px;
}

.mini {
	font-size: 9pt
}
