.alabel {
	font-weight: bold;
}

.afunds {
	text-align: right;
}	  	

.info {
	font-size: 10pt;
	 padding-bottom: 2px;
}

.contest_rankings_button_panel {
	background: #5bc0ee;
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.portfolio_button_panel {
	background: #5bc0ee;
	border: 1px solid #cccccc;
	border-radius: 4px;
	margin-top: 15px;
    margin-bottom: 15px
}

.portfolio_tab {
    background: #ffffff;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	border-bottom: 1px solid #cccccc;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
	padding: 5px;
}

button.new_order_button {
	border: solid 1px #cc6600;
    background-color: #ff8800;
    font-weight: bold;
    border-radius: 4px;
}

button.perks_button {
	border: solid 1px #cc6600;
    background-color: #ff8800;
    font-weight: bold;
    border-radius: 4px;
}

button.refresh_button {
	border: solid 1px #20aa20;
    background-color: #40cc40;
    font-weight: bold;
    border-radius: 4px;
}

i.refresh_button {
    color: #008800;
    font-weight: bold;
}

button.sell_button {
    border: solid 1px #dd6600;
    background-color: #ff8800;
	font-weight: bold;
	text-align: right;
	color: white;
}

.label {
	width: 50%;
}

.funds {
	text-align: right;
	width: 25%
}

.chart_area {
	border: 1px solid #cccccc;
	border-radius: 4px;
}

.profitable {
	font-weight: bold; 
	color: #ff0000
}

.unprofitable {
	font-weight: bold; 
	color: #ff6600
}

.fundsAvailable {
	font-weight: bold; 
	color: #00aa00
}

.totalInvestment {
	font-weight: bold; 
	text-decoration: underline
}

div.order_states {
    background: #999999;
    color: #ffffff;
    font-weight: bold;
}

span.order_states {
    margin-right: 20px
}

div.ordersContainer {
	clear: both;
	overflow: auto;	
	width: auto;
	height: 367px;
}

div.positionsContainer {
	clear: both;
	overflow: auto;
	height: 335px;
}
