@()
<fieldset>
    <legend>My Awards</legend>
</fieldset>
<div ng-controller="AwardsController" ng-init="setupAwards(MySession.getUserProfile())">
    <div class="myAwardsContainer">
        <div style="padding-bottom: 5px" ng-repeat="award in getAwards()">
            <img style="vertical-align: middle" ng-src="{{ award.owned ? award.icon : '/assets/images/awards/locked_award.gif'}}">
            <span style="vertical-align: middle" ng-class="award.owned ? '' : 'null'" ><span style="font-weight: bold">{{award.name}}</span> &#8212; {{award.description}}</span>
        </div>
    </div>
</div>
