<div class="row col-md-12">
    <div class="row">
        <div class="col-md-6">
            @assets.views.html.profile.Header()

            <tabset>
                <tab>
                    <tab-heading>My Friends ({{ getFriends().length | number }})</tab-heading>
                    <div class="row profile_MyFriends" style="padding: 10px; background: white">
                    @assets.views.html.profile.MyFriends()
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="col-md-6 pull-right">
            <div >
            @assets.views.html.profile.Awards("profile_MyAwards")
            </div>

            <div class="contest_colors" style="padding: 6px; margin-top: 20px" ng-controller="MyGamesController" ng-init="initMyGames()">
                @assets.views.html.search.MyContests()
            </div>

            <div class="contest_colors" style="padding: 6px; margin-top: 20px">
                @assets.views.html.discover.Favorites("profile_MyFavorites")
            </div>
        </div>
    </div>
</div>