<div>
    <div class="row col-md-12">
        @assets.views.html.profile.Header()

        <tabset>
            <tab ng-if="MySession.isAdmin()">
                <tab-heading><i class="fa fa-inbox"></i> Inbox</tab-heading>
                <div class="row home_tab home_tab_container">
                @assets.views.html.connect.Connect()
                </div>
            </tab>
            <tab>
                <tab-heading><i class="fa fa-gamepad"></i> My Games</tab-heading>
                <div ng-controller="MyGamesController" ng-init="initMyGames()" class="row home_tab home_tab_container">
                    @assets.views.html.search.MyContests(includeExpiry = true)
                </div>
            </tab>
            <tab>
                <tab-heading><i class="fa fa-heart"></i> Favorites</tab-heading>
                <div ng-controller="FavoritesController" class="row home_tab home_tab_container">
                    @assets.views.html.profile.MyFavorites()
                </div>
            </tab>
            <tab>
                <tab-heading><i class="fa fa-clock-o"></i> Recent Quotes</tab-heading>
                <div ng-controller="RecentQuotesController" class="row home_tab home_tab_container">
                @assets.views.html.profile.RecentQuotes()
                </div>
            </tab>
            <tab>
                <tab-heading><i class="fa fa-user"></i> My Friends ({{ getFriends().length | number }})</tab-heading>
                <div class="row home_tab home_tab_container">
                    @assets.views.html.profile.MyFriends()
                </div>
            </tab>
            <tab>
                <tab-heading><i class="fa fa-trophy"></i> My Awards</tab-heading>
                <div class="row home_tab home_tab_container">
                @assets.views.html.profile.MyAwards()
                </div>
            </tab>
            <tab>
                <tab-heading><i class="fa fa-bar-chart"></i> My Statistics</tab-heading>
                <div class="row home_tab home_tab_container">
                    @assets.views.html.profile.MyStatistics()
                </div>
            </tab>
        </tabset>
    </div>
</div>