<div ng-controller="PlayerInfoBarController" ng-init="initPlayerBar()">
    <div ng-hide="isBarVisible()">
        <i class="fa fa-chevron-circle-right st_control" ng-click="toggleVisibility()" title="Show the information bar"></i>
    </div>
    <div ng-if="isBarVisible()" class="row player_info_bar contest_colors" style="margin-bottom: 20px">
        <div class="col-md-4">
            <div class="inline pull-left">
                <i class="fa fa-chevron-circle-left st_control" ng-click="toggleVisibility()" title="Hide the information bar"></i>
                <img ng-src="/assets/images/status/{{ WebSockets.isConnected() ? 'greenlight' : 'offlight' }}.png" style="vertical-align: top">
                <img ng-show="isLoading()" src="/assets/images/status/loading32.gif" class="avatar-32">
                <avatar ng-hide="isLoading()" id="{{ MySession.getFacebookID() }}" class="avatar-32"></avatar>
            </div>
            <div class="inline pull-left pad-left-10 pi_bar_cash">
                <div class="positive" title="Liquid cash available">
                    <i class="fa fa-money"></i> {{ MySession.getNetWorth() | number:2 }}
                </div>
                <div class="emphasis" title="Total investment value">
                    <i class="fa fa-line-chart"></i> {{ getTotalInvestment() | number:2 }}
                </div>
            </div>
            <br style="clear: both">
        </div>
        <div class="col-md-8">
            <span ng-hide="MySession.contestIsEmpty()" class="middle" style="font-size: 14pt">
                Playing <span class="game_title">{{MySession.getContestName()}}</span>
            </span>

            <span ng-controller="AwardsController" class="middle pull-right">
                <img ng-repeat="award in getMyAwards(MySession.userProfile).slice(0,7)" title="{{ award.name }}"
                     style="padding: 2px 2px 2px 2px" ng-src="{{ award.icon }}">
            </span>
        </div>
    </div>
</div>