<div class="quote_sub_title contest_colors">

    <!-- Non-ETF Start -->

    <div class="row" ng-hide="q.assetType == 'ETF'">
        <span class="col-md-2 qm_header">Asset Type</span>
        <span class="col-md-4 qm_value">{{q.assetType}}</span>

        <span class="col-md-3 qm_header">Asset Class</span>
        <span class="col-md-3 qm_value">{{q.assetClass}}</span>
    </div>

    <div class="row" ng-hide="q.assetType == 'ETF'">
        <span class="col-md-2 qm_header">SEC CIK #</span>
        <span class="col-md-4 qm_value">{{q.cikNumber}}</span>

        <span class="col-md-3 qm_header">Full-time Employees</span>
        <span class="col-md-3 qm_value">{{q.fullTimeEmployees | number}}</span>
    </div>

    <div class="row" ng-hide="q.assetType == 'ETF'">
        <span class="col-md-2 qm_header">IPO Year</span>
        <span class="col-md-4 qm_value">{{q.ipoYear}}</span>

        <span class="col-md-3 qm_header">Fiscal Year End Date</span>
        <span class="col-md-3 qm_value">{{ getDate(q.fiscalYearEndDate) | date:'MM/dd'}}</span>
    </div>

    <div class="row" ng-hide="q.assetType == 'ETF' || !q.sicNumber">
        <span class="col-md-2 qm_header">SIC Code</span>
		<span class="col-md-10 qm_value">
			<span ng-show="q.sicNumber" class="industry">{{q.sicNumber}}</span> &#8212;
            <span class="industry">{{q.sicDescription}}</span>
        </span>
    </div>

    <div class="row" ng-hide="q.assetType == 'ETF' || !q.naicsNumber">
        <span class="col-md-2 qm_header">NAICS Code</span>
		<span class="col-md-10 qm_value">
			<span ng-show="q.naicsNumber" class="sector">{{q.naicsNumber}}</span> &#8212;
            <span class="sector">{{q.naicsDescription}}</span>
        </span>
    </div>

    <!-- ETF Start -->

    <div class="row" ng-show="q.assetType == 'ETF'">
        <span class="col-md-2 qm_header">Inception Date</span>
        <span class="col-md-4 qm_value">{{ getDate(q.inceptionDate) | date:'MM/dd/yyyy' }}</span>

        <span class="col-md-3 qm_header">Number Of Holdings</span>
        <span class="col-md-3 qm_value">{{q.numberOfHoldings | number}}</span>
    </div>

    <div class="row" ng-show="q.assetType == 'ETF'">
        <span class="col-md-2 qm_header">30-Day Yield</span>
        <span class="col-md-5 qm_value">{{q.yield30DaySEC | number:3}}%</span>

        <span class="col-md-3 qm_header">Weighted-Avg Coupon</span>
        <span class="col-md-3 qm_value">{{q.weightedAverageCoupon | number:3}}%</span>
    </div>

    <div class="row" ng-show="q.assetType == 'ETF'">
        <span class="col-md-2 qm_header">12-Month Yield</span>
        <span class="col-md-4 qm_value">{{q.yield12Month | number:3}}%</span>

        <span class="col-md-3 qm_header">Total Net Assets</span>
        <span class="col-md-3 qm_value">{{q.totalNetAssets | number}}</span>
    </div>
</div>
