/*********************************************************************************
 * 							Global Styles										 *
 *********************************************************************************/ 

* {
 	/* font-family: "Times New Roman", Times, serif; */ 
 	font-family:"Trebuchet MS",Verdana,Geneva,Arial,Helvetica,sans-serif;
}

.clickable {
	cursor: pointer;	
}
 
a { cursor: pointer; }
a:link    { cursor: pointer; text-decoration: none; }
a:visited { cursor: pointer; text-decoration: none; }
a:hover   { cursor: pointer; text-decoration: none; }
a:active  { cursor: pointer; text-decoration: none; }

.fb {
	color: #3a5795;
}

.nav_icon {
    font-size: 24px;
}

.st_nav_selected {
    color: #2f96b4;
}

div.st_nav_bar {
    border-radius: 4px 4px 4px 4px;
    padding: 4px 4px 4px 4px;
    height: auto
}

li.st_nav_bar {
    margin-top: 16px;
    margin-bottom: 16px;
}

body {
	/* background-image: url('/assets/images/backgrounds/matrix1.jpg'); */
	background: #dddddd;
	min-width: 1024px;
	margin-left: 10px;
	margin-right: 10px;
}

.bold {
	font-weight: bold
}

.header {
	font-weight: bold;
	color: #2f96b4;
}

table {
	border-collapse: collapse
}

table td, table th
{
    padding: 0; /* 'cellpadding' equivalent */
}

.emphasis {
	color: #2f96b4
}

img.profile_pic {
	border-radius: 6px 6px 6px 6px;
	width: 60px;
	height: 60px;
}

img.st_rounded {
    border: 1px solid #dddddd;
    border-radius: 4px 4px 4px 4px;
}

.st_modal_header {
	background-color: #dddddd;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px
}

.st_modal_footer {
	background-color: #dddddd;
}

.selected {
	font-weight: bold;
	color: #ff8800;
}

.yellow {
	background-color: #ffff00
}

.even {

}

.odd {
    background-color: #d0eeff
}

.padding-left-16 {
	padding-left: 16px
}

th {
	vertical-align: top;
	text-align: left;
	color: #0000aa
}

td {
	vertical-align: top;
	text-align: left
}

/*********************************************************************************
 * 							Global Text Definitions								 *
 *********************************************************************************/

span.error {
	color: #ff0000;
	font-weight: bold
}

ul.error {
	list-style-image: url("/assets/images/status/redlight.gif");
}

.error_bar {	
	border: 1px solid #aa0000;
	background-color: #ffcc44;	
 	color: #cc2222; 
	vertical-align: middle;
	font-weight: bold;
	width: auto;
	height: auto	
}

.warning {
	color: #cc8822;
	font-weight: bold
}

.notice {
	color: #cc8822; 
	font-weight: bold	
}

.negative {
	color: red
}

.null {
	color: #bbbbbb
}

.positive {
	color: green
}

.restricted {
	color: #ff6600; 
	font-weight: bold
}

.bold {
	font-weight: bold
}

.plain {
	font-weight: normal;
	color: black
}

.underlined {
	text-decoration: underline;
}

/*********************************************************************************
 * 							Alignment Classes									 *
 *********************************************************************************/
 
.center {
 	text-align: center
}
 
.inline {
 	display: inline
}

.left {
	text-align: left
}
 
.right {
	text-align: right
}
 
.top {
	vertical-align: top
}

.middle {
	vertical-align: middle
}
 
.bottom {
	vertical-align: bottom
}
