/*********************************************************************************
 * 							Market Status										 *
 *********************************************************************************/
 
.mks_loading {
	float: right; 
	color: #666666; 
	font-weight: bold; 
	padding-right: 10px
} 

.mks_open {
	float: right; 
	color: #008000; 
	font-weight: bold; 
	padding-right: 10px
}

.mks_closed {
	float: right; 
	color: #ff8000; 
	font-weight: bold; 
	padding-right: 10px
} 
 
/*********************************************************************************
 * 							Login Styles										 *
 *********************************************************************************/

.login {
	display: block;
}

.loginText {
	color: #ffd000;
	 vertical-align: top;
}

img.logo {
	vertical-align: top;
}

/*********************************************************************************
 * 							Title Bar Styles									 *
 *********************************************************************************/

.title {
	color: #1090ff;
	font-size: 24px;
	vertical-align: top;
	margin-left: 5px;
}

.title_color {
	color: #1090ff;
}

.spectator_message {
	font-weight: bold;	
	color: #cc8822; 
}

.spectator_bar {
	border-radius: 4px 4px 4px 4px;
	background-color: #cceeff;
 	color: #ff8800;
	text-align: center;
	vertical-align: middle;
	font-weight: bold;
	width: auto;
	height: auto;
}

/*********************************************************************************
 * 							Title Blocks										 *
 *********************************************************************************/

.block_lite_blue {
 	border-radius: 5px 5px 5px 5px;
 	border: 1px solid #ccddee;
 	background-color: #ddeeff; 
 	width: 100%; 
 	font-weight: bold;
}

