<span style="margin-left: 32px">
    <i ng-class="player.isLoading ? 'fa fa-cog fa-spin fa-fw' : ( player.isExpanded ? 'fa fa-minus-square-o' : 'fa fa-plus-square-o' )" ng-click="expandPlayer(player)"></i>
    <i ng-class="getExpandedTrophyIcon(player)"></i>
    <avatar id="{{ player.userID }}" class="avatar-20"></avatar>
    <span ng-click="popupPlayerProfile(player.userID)" class="clickable">{{ player.username }}</span>
    <span ng-class="player.gainLoss >= 0 ? 'positive' : 'negative'">
        <changearrow value="{{ player.gainLoss }}"></changearrow> {{ player.gainLoss | abs | number:2 }}%
    </span>
</span>
