<div style="width: 100%">
	<div id="NewsBlock" style="display: block; width: 100%" ng-repeat="channel in channels">
		<div class="news_provider">
			<div style="display: inline; float: left">
				<span style="color: white">{{ channel.items.length || 0 }} stories</span>
			</div>
			<div style="display: inline; float: right">
				<select 
					ng-model="selection.feed" 
					ng-options="source.OID() as source.name for source in newsSources"
					ng-change="getNewsFeed(selection.feed)">
				</select>
				<a href="" ng-click="view = 'list'">
					<img ng-class="view != 'list' ? 'clickable' : ''" 
						src="/assets/images/discover/news/list-24.png" 
						popover="List view" popover-trigger="mouseenter">
				</a>				
				<a href="" ng-click="view = 'grid'">
					<img ng-class="view != 'grid' ? 'clickable' : ''" 
						src="/assets/images/discover/news/grid-24.png" 
						popover="Grid view" popover-trigger="mouseenter">
				</a>
			</div>
			<br style="clear: both">
		</div>
		<div style="display: block; background-color: #eeeeee; border: 1px solid #cccccc; border-radius: 4px 4px 4px 4px; margin-bottom: 4px">
			<img src="/assets/images/objects/headlines.png">
			<a href="{{channel.link}}" target="newWindow">
				<span style="color: #000080" class="news_title">{{ channel.title }}</span>
			</a>
		</div>
		
		<div class="newsContainer">	 
			 <div ng-show="view == 'list'" style="display: block; width: 100%">
		 		<div ng-include src="'/assets/views/news/news_list.htm'"
		 			ng-repeat="item in channel.items | orderBy:'-pubDate'" 
		 			ng-class-even="'news_list_even'" ng-class-odd="'news_list_odd'"></div>
			 </div>
			 
			 <div ng-show="view == 'grid'" style="display: block; width: 100%">
			 	<div ng-repeat="item in channel.items | orderBy:'-pubDate'" ng-class-even="'news_grid_even'" ng-class-odd="'news_grid_odd'">
			 		<div ng-include src="'/assets/views/news/news_grid.htm'"></div>
			 	</div>
			 	<br style="clear: both">
			 </div>
		 </div>
	</div>
</div>

