<div class="row" style="background: #ffffff">
    <div class="col-md-8" style="vertical-align: top">
        <div ng-include src="newsPath"></div>
    </div>
    <div class="col-md-4" style="vertical-align: top">
        <accordion>
            <accordion-group is-open="true">
                <accordion-heading><img src="/assets/images/objects/headlines.png"> In the News</accordion-heading>
                <div ng-include src="'/assets/views/news/news_quotes.htm'"></div>
            </accordion-group>
        </accordion>
    </div>
</div>