<div class="col-md-12 profile_bkg" ng-controller="ConnectController">
	<!-- Contacts -->
	<div class="col-md-3">
		<div style="display: block; margin-left: 5px">
			<input class="form-control"
				   type="text"
				   ng-model="searchName"
				   ng-change="contact = {}"
				   placeholder="Search my friends...">
		</div>
		<div ng-show="contact.id" style="width: 100%">
			<!-- if ShockTrade user -->
			<div ng-show="contact.profile" ng-include src="'/assets/views/connect/contact_card.htm'"></div>
			
			<!-- Non-ShockTrade user -->
			<div ng-hide="contact.profile" ng-include src="'/assets/views/connect/unregistered_user_card.htm'"></div>
		</div>		
		<div class="contactsContainer">
			<span ng-show="MySession.fbFriends.length == 0" class="notice" style="margin-left: 10px">
				<i class="fa fa-lg fa-frown-o st_orange"></i>
                <span class="st_orange">You have no friends</span>
			</span>
			<table>	
				<tr ng-repeat="friend in getContactList(searchName)">
					<td>
						<img ng-show="friend.active" src="/assets/images/status/greenlight.png">
						<img ng-show="friend.idle" src="/assets/images/status/yellowlight.gif">
						<img ng-show="!friend.active && !friend.idle" src="/assets/images/status/offlight.png">
					</td>
					<td><a href="" ng-click="chooseContact(friend)" style="padding-left: 5px">{{friend.name}}</a></td>
				</tr>
			</table>
		</div>		
	</div>

	<!-- Notifications -->
	<div class="col-md-9">
        <input type="text"
               class="form-control"
               ng-model="messageSearch"
               placeholder="Search my messages ...">

		<div class="message_list_area">
            <div class="col-md-12">
                <div class="col-md-3">
                    <input type="checkbox" ng-model="myState" ng-click="selectAll(!myState)" style="vertical-align: top"> All
                </div>
                <div class="col-md-6">
                    <span>
                    <img ng-click="composeMessage()" src="/assets/images/buttons/new-mail24.png" title="Create new message" style="cursor: pointer"> &nbsp;
                    <img ng-click="deleteMessages(MySession.getUserName())" src="/assets/images/buttons/trash24.png" title="Delete message(s)" style="cursor: pointer"> &nbsp;
                    <img ng-click="deleteMessages(MySession.getUserName())" src="/assets/images/buttons/spam24.png" title="Report spam" style="cursor: pointer">  &nbsp;
                    <img ng-click="loadMyUpdates(MySession.getUserName())" ng-src="/assets/images/{{ isLoading() ? 'status/loading24.gif' : 'buttons/refresh24.png' }}" title="Refresh message(s)" style="cursor: pointer">  &nbsp;
                    </span>
                </div>
                <div class="col-md-3">
                    <span>{{ myUpdates.length }} message(s)</span>
                </div>
            </div>
		</div>
		
		<div class="updatesContainer">
			<span ng-init="loadMyUpdates(MySession.getUserName())" ng-show="myUpdates.length === 0" class="notice">
				<i class="fa fa-lg fa-frown-o st_orange"></i>
                <span class="st_orange">You have no messages</span>
			</span>
            <div class="col-md-12 clickable"
                 ng-repeat="u in myUpdates track by $index"
                 ng-click="selectUpdate(u)"
                 ng-class="myUpdate === u ? 'notif_highlight' : ($index % 2 === 0 ? 'even' : 'odd')">
                <div class="col-md-3">
                    <input type="checkbox" ng-model="u.selected">
                    <avatar id="{{ u.sender.facebookID }}" class="avatar-16"></avatar>
                    <span ng-show="u.sender">{{ u.sender.name }}</span>
                    <span ng-hide="u.sender" style="color: #ff00ff">ShockTrade</span>
                </div>
                <div class="col-md-6">
                    <i ng-show="u.eventType == 'ALERT'" class="fa fa-warning warning"></i>
                    <i ng-show="u.eventType == 'MAIL'" class="fa fa-envelope st_green"></i>
                    <i ng-show="u.eventType == 'CHAT'" class="fa fa-comment st_green"></i>
                    <i ng-show="u.eventType == 'INVITE'" class="fa fa-facebook-square fb_icon"></i>
                    {{ u.eventType == 'MAIL' ? u.title : u.description }}
                </div>
                <div class="col-md-3">
                    {{ getDate(u.creationTime) | duration }}
                </div>
            </div>
		</div>
		
		<div ng-show="myUpdate.description" class="col-md-12 previewPane" style="margin-top: 15px">
			<div class="updateTitle">
				<avatar id="{{ myUpdate.sender.facebookID }}" class="avatar-24"></avatar>
				{{ myUpdate.title }} 
				<button class="btn st_button pull-right" style="margin-right: 20px">
					<i class="fa fa-mail-reply-all"></i> Reply
				</button>
			</div>
			<div>
				<span style="font-weight: bold">From:</span> 
				<span ng-show="myUpdate.sender.name" style="color: #0000ff">{{ myUpdate.sender.name }}</span>
				<span ng-hide="myUpdate.sender.name" style="color: #ff00ff">ShockTrade</span>
				on {{ getDate(myUpdate.creationTime) | date:"EEE MMM dd, yyyy 'at' hh:mma" }}</div>
			<div class="previewContainer" style="margin-top: 10px">
				{{ myUpdate.description }}
			</div>
		</div>
	</div>
</div>
