@()
<!-- WebJar JS Stylesheets -->
<link href='@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))' type="text/css" rel="stylesheet" media="screen">
<link href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome.min.css"))' type="text/css" rel="stylesheet" media="screen">
<link href='@routes.WebJarAssets.at(WebJarAssets.locate("toaster.css"))' type="text/css" rel="stylesheet" media="screen">

<!-- ShockTrade Stylesheets -->
<link href='@routes.Assets.versioned("stylesheets/about.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/common.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/connect.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/dashboard/awards.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/dashboard/chat.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/dashboard/exposure.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/dashboard/perks.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/dashboard/play.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/dashboard/portfolio.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/dashboard/lobby.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/dashboard/statistics.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/discover/exchanges.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/discover/key_statistics.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/discover/news.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/discover/quotes.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/discover/research.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/discover/sector_industry.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/discover/trading_history.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/explore.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/inspect.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/main.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/profile.css")' type="text/css" rel="stylesheet" media=screen>
<link href='@routes.Assets.versioned("stylesheets/sessions.css")' type="text/css" rel="stylesheet" media=screen>