<div ng-controller="ProfileController" ng-include src="'/assets/views/profile/profile_tabs.htm'"></div>
<div class="profile_bkg">
    <div ng-class="{'col-md-12':(!isSplitScreen()), 'col-md-5':(isSplitScreen())}">
        <div ng-class="{'col-md-4':(!isSplitScreen()), 'col-md-9':(isSplitScreen())}" class="left">Name</div>
        <div ng-class="{'col-md-2':(!isSplitScreen()), 'col-md-3':(isSplitScreen())}" class="left">Symbol</div>
        <div ng-hide="isSplitScreen()" class="col-md-3 right">Last Sale</div>
        <div ng-hide="isSplitScreen()" class="col-md-3 right">Volume</div>
    </div>
    <div ng-include src="'/assets/views/profile/quote_set.htm'"></div>
</div>