<div ng-controller="MyGamesController" ng-init="initMyGames()">
    <div ng-controller="MyQuotesController" class="row col-md-12">
        <div ng-include src="'/views/profile/header.html'"></div>

        <div class="col-md-12 portfolio_button_panel">
            &nbsp;
        </div>

        <tabset>
            <tab>
                <tab-heading><i class="fa fa-bar-chart"></i> My Statistics</tab-heading>
                <div class="row home_tab home_tab_container" ng-include src="'/views/profile/my_statistics.html'"></div>
            </tab>
            <!--
            <tab>
                <tab-heading><i class="fa fa-gamepad"></i> Public Games</tab-heading>
                <div class="row home_tab home_tab_container" ng-include src="'/views/profile/public_contests.html'"></div>
            </tab>
            -->
            <tab ng-if="getMyContests().length">
                <tab-heading><i class="fa fa-gamepad"></i> My Games ({{ getMyContests().length || 0 }})</tab-heading>
                <div class="row home_tab home_tab_container" ng-include src="'/views/profile/private_contests.html'"></div>
            </tab>
            <tab ng-if="isAdmin()">
                <tab-heading><i class="fa fa-inbox"></i> Inbox</tab-heading>
                <div class="row home_tab home_tab_container" ng-include src="'/views/social/connect.html'"></div>
            </tab>
            <!--
            <tab>
                <tab-heading><i class="fa fa-heart"></i> My Quotes</tab-heading>
                <div class="row home_tab home_tab_container" ng-include src="'/views/profile/my_quotes.html'"></div>
            </tab>
            <tab>
                <tab-heading><i class="fa fa-user"></i> My Friends ({{ getFriends().length | number }})</tab-heading>
                <div class="row home_tab home_tab_container" ng-include src="'/views/profile/my_friends.html'"></div>
            </tab>
            -->
            <tab>
                <tab-heading><i class="fa fa-trophy"></i> My Awards</tab-heading>
                <div class="row home_tab home_tab_container" ng-include src="'/views/profile/my_awards.html'"></div>
            </tab>
        </tabset>
    </div>
</div>