<div ng-controller="HomeController" ng-init="initHome()">
    <div ng-include src="'/views/profile/header.html'"></div>

    <div class="col-md-12 portfolio_button_panel">&nbsp;</div>

    <tabset>
        <tab>
            <tab-heading><i class="fa fa-gamepad"></i> My Games</tab-heading>
            <div class="row home_tab home_tab_container" ng-include src="'/views/profile/my_contests.html'"></div>
        </tab>
        <tab>
            <tab-heading><i class="fa fa-trophy"></i> My Awards</tab-heading>
            <div class="row home_tab home_tab_container" ng-include src="'/views/profile/my_awards.html'"></div>
        </tab>
        <tab>
            <tab-heading><i class="fa fa-bar-chart"></i> My Statistics</tab-heading>
            <div class="row home_tab home_tab_container" ng-include src="'/views/profile/my_statistics.html'"></div>
        </tab>
    </tabset>
</div>