<div ng-controller="AwardsController" ng-init="initAwards(userProfile.userID)">
    <div class="awards-heading">
        <span style="margin: 10px">
            <i class="fa fa-gift"></i> You have earned {{ myAwards.length || 0 }} of {{ getAwards().length || 0 }} awards
        </span>
    </div>
    <div class="awards_container">
        <div ng-repeat="award in getAwards()" style="margin: 4px">
            <img ng-src="{{ award.icon }}" ng-class="isEarned(award) ? 'award-earned' : 'award-unearned'">
            <span ng-class="isEarned(award) ? 'award-earned-name' : 'award-unearned'">{{ award.name }}</span>
            <span ng-class="isEarned(award) ? 'award-earned-desc' : 'award-unearned'">&#8212; {{ award.description }}</span>
        </div>
    </div>
</div>