<div ng-controller="GameSearchController" ng-init="contestSearch(myGamesSearchOptions)">
    <div style="border-bottom: 1px solid #888888;">
        <div class="col-md-12 cs_search_divider cs_upper_lower_15px">
            <i class="fa fa-gamepad"></i> {{ getSearchResults(searchTerm).length || 0 }} games matched.
            <span ng-click="popupNewGameDialog(userProfile.userID)" class="clickable pull-right" style="padding-right: 16px">
                <i class="fa fa-plus-circle"></i> Create a new game.
            </span>
        </div>
        <div class="availGamesContainer">
            <div ng-repeat="c in getSearchResults(searchTerm) track by $index">
                <div class="col-md-3" ng-include src="'/views/contest/search_result.html'"></div>
            </div>
        </div>
    </div>
</div>