<div ng-init="init()">
    <div class="col-md-7" style="border-right: solid 1px #888888">
        <div class="inline pull-left" ng-repeat="friend in getFacebookFriends()">
            <avatar link="{{ friend }}" ng-click="selectFriend(friend)" class="avatar-40 clickable" title="{{ friend.name }}" ></avatar>
        </div>
    </div>
    <div class="col-md-5">
        <div ng-if="!selectedFriend" ng-include src="'/views/profile/my_friend_no_selection.html'"></div>
        <div ng-if="selectedFriend" ng-include src="'/views/profile/my_friend_selection.html'"></div>
    </div>
</div>